<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>Miro Guide</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />

<link rel="stylesheet" href="{{ STATIC_BASE_URL }}css/donate.css" type="text/css" media="screen"  />
{% block head-extra %}{% endblock %}
</head>

<body>
  <div id="outer">
    <div id="cap"></div>
    <div id="content">
      <div  id="header">
	<img src="{{ STATIC_BASE_URL }}images/donate/header.png" alt="header" />
	<img src="{% block title-image %}{{ STATIC_BASE_URL }}images/donate/title.png{% endblock %}" alt="title" />
	{% block extra-title %}{% endblock %}
      </div> <!--/HEADER-->
	{% block content %}
	{% endblock %}
	<div class="clear"></div>
      </div> <!--/CONTENT-->
  </div>
</body>
</html>