{% extends "donate/base.html" %}
{% block head-extra %}
<style type="text/css">
li img, p img {
    float: left;
    padding: 5px;
}

#content {
    position: relative;
}

#donate {
    position: absolute;
    left: 0px;
    z-index: 1;
}
</style>
   <script src="{{ STATIC_BASE_URL }}js/jquery.js" type="text/javascript"></script>
{% endblock %}
{% block title-image %}{{ STATIC_BASE_URL }}images/donate/title-biz.png{% endblock %}
{% block content %}
  <p style="margin-top: -85px">We’re a non-profit that is busy developing a scalable business model so that we can self-fund our work. But we’ll never earn money by compromising our mission; in fact, the reason that we are setup as a 501c3 non-profit is to ensure that our mission will always be built into the core of what we do. Mozilla is our model: they have been able to earn revenue that funds their work while staying completely focused on building the open web.</p>
  <h3 style="margin-top: 35px;">Current Sustainability Efforts:</h3>
  <ul>
    <li><a href="http://www.iheartmiro.org/"><img src="{{ STATIC_BASE_URL }}images/donate/iheart.png" alt="I Heart Miro" /><strong>I Heart Miro:</strong></a> When you shop at Amazon, this browser extension gives a referral fee to Miro. It is generating significant revenue and gives Miro users a simple way to support our mission.</li>
    <li><a href="http://revision3.com/content/miro"><img src="{{ STATIC_BASE_URL }}images/donate/rev3.png" alt="Revision 3" /><strong>Co-branded Players:</strong></a> We are partnering with organizations like Revision3 and the TED conference to create custom versions of Miro. These deals benefit our work in three ways: they extend the reach of publishers, they enlist more organizations is spreading Miro, and they generate revenue for our work.</li>
  </ul>
<div id="donate" style="display: none;">

<div>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=donate%40pculture%2eorg&item_name=Tax%20Deductible%20Donation%20to%20Miro&no_shipping=0&no_note=1&currency_code=USD&lc=US&bn=PP%2dBuyNowBF&charset=UTF%2d8"><img src="/images/donate/paypal.png" alt="Donate with Paypal" /></a>
<a href="https://www.getmiro.com/about/donate/cc-guide.html"><img src="/images/donate/card.png" alt="Donate with a Credit Card" /></a>
<a href="#close" onclick="javascript:hideDonateRibbon(); return false;"><span class="close"></span></a>

</div>
</div>
  <p style="height: 75px; margin-top: 25px;"><img src="http://s3.getmiro.com/images/staff/jesse.jpg" style="margin-right: 10px;"/>"We are committed to becoming self-funding in a way that doesn’t compromise our mission. What you give doesn’t just fund us for a moment in time, it helps us build a sustainable source of funding. Your donations are not a gift, they are really an investment in open media."</p>
  <p>Jesse Patel<br/>
Business Development<br/>
   Participatory Culture Foundation</p>

<script type="text/javascript">

function showDonateRibbon() {
ribbon = $("#donate");
    everythingElse = $("#header").add("p").add("ul").add("h3").add("#content > a");
$("#video").hide();
ribbon.css('opacity', 0).show();
everythingElse.animate({ opacity: 0.6}, 'fast');
ribbon.animate({opacity: 1}, 'fast');
}
function hideDonateRibbon() {
ribbon = $("#donate");
    everythingElse = $("#header").add("p").add("ul").add("h3").add("#content > a");
everythingElse.animate({ opacity: 1}, 'fast');
ribbon.animate({opacity: 0}, 'fast',
function() {
ribbon.hide();
$("#video").show();
});
}
$(document).ready(function () {
    $("#donate a:lt(2)").click(function () {
	setTimeout(function() {
	    document.location = "{{ BASE_URL_FULL }}donate/thanks{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}";
	}, 1000);
    });
});
</script>
<div class="buttons">
  <a href="#donate" onclick="javascript:showDonateRibbon(); return false;"><img src="/images/donate/donate.png" alt="donate button" /></a>
{% if request.GET.next %}
   <a id="goto" href="{{ request.GET.next }}"><img src="/images/donate/goto-guide.png" alt="go to the guide" /></a>
   {% endif %}
</div>
{% endblock %}