{% extends "donate/base.html" %}
{% block title-image %}{{ STATIC_BASE_URL }}images/donate/title-biz.png{% endblock %}
{% block content %}
  <p style="margin-top: -70px">We’re a non-profit that is busy developing a scalable business model so that we can self-fund our work. But we’ll never earn money by compromising our mission; in fact, the reason that we are setup as a 501c3 non-profit is to ensure that our mission will always be built into the core of what we do. Mozilla is our model: they have been able to earn revenue that funds their work while staying completely focused on building the open web.</p>
  <h3>Current Sustainability Efforts:</h3>
  <ul>
    <li>I Heart Miro: When you shop at Amazon, this browser extension gives a referral fee to Miro. It is generating significant revenue and gives Miro users a simple way to support our mission.</li>
    <li>Co-branded Players: We are partnering with organizations like Revision3 and the TED conference to create custom versions of Miro. These deals benefit our work in three ways: they extend the reach of publishers, they enlist more organizations is spreading Miro, and they generate revenue for our work.</li>
  </ul>
  <p>"We are committed to becoming self-funding in a way that doesn’t compromise our mission. What you give doesn’t just fund us for a moment in time, it helps us build a sustainable source of funding. Your donations are not a gift, they are really an investment in open media."</p>
{% endblock %}