{% extends "donate/base.html" %}
{% block extra-title %}<img src="{{STATIC_BASE_URL}}images/donate/sub-title.png" alt="If you believe in open media, we need your donation now" >{% endblock %}
{% block content %}
<div class="column left">
{% block message %}
<p><strong>Supporters of Open Media:</strong></p>
<p style="padding-top:10px;">Miro is made by a non-profit organization that is leading the fight for open internet video: hundreds of thousands of people use our open software every month, we've powered the distribution of thousands of independent creators and public broadcasters, and we're demonstrating why net neutrality matters. Miro has a chance to become a desktop application for a truly mass audience. If we can reach this point, we'll have ensured that open video distribution, without censorship or corporate gatekeepers, will be here to stay. But we're at a critical moment.</p>
<p>Our team cares deeply about our mission and we need to ensure that our work can continue. Two large donors have promised to commit funding <strong>if</strong> we can also build strong support from our users. There is no more important time than right now for you to donate&mdash;we're taking steps towards <a style="color: inherit;" href="{{ BASE_URL }}donate/biz{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">self-sustainability</a>&mdash;in the meantime we urgently need your support.</p>
<p><a href="#donate" onclick="javascript:showDonateRibbon(); return false;">I hope you’ll join our effort to build a more open media.</a></p>
<p>Sincerely,</p>
<p>Nicholas Reville, Executive Director</p>
<p><span class="special">p.s. Are you in a position to give $1,000 or more? You can help us take our efforts much further. We have a special pitch we’d <a href="{{ BASE_URL }}donate/special{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">like you to hear</a>.</span></p>
{% endblock %}
</div> <!--/COLUMN-->

<div class="column right">
{% if request.GET.next %}
  <script type="text/javascript">
    $(document).ready(function () {
	setThanksTimeout("{{ BASE_URL }}donate/thanks{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}");
    });
  </script>
{% endif %}
  <a href="#donate" onclick="javascript:showDonateRibbon(); return false;"><img src="{{ STATIC_BASE_URL }}images/donate/donate.png" alt="donate button" ></a>
   <div id="donate" style="left: -10000px; display: inline;">
     <div class="amounts" style="display: none;">
       <div class="g20" amount="20"></div>
       <div class="g50" amount="50"></div>
       <div class="g100" amount="100"></div>
       <div class="g200" amount="200"></div>
       <div class="other"><input size="3" ></div>
     </div>
     <div class="types" style="display: none;">
       <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=donate%40pculture%2eorg&amp;item_name=Tax%20Deductible%20Donation%20to%20Miro&amp;no_shipping=0&amp;no_note=1&amp;currency_code=USD&amp;lc=US&amp;bn=PP%2dBuyNowBF&amp;charset=UTF%2d8&amp;return={{ BASE_URL_FULL }}donate/thanks"><img src="{{ STATIC_BASE_URL }}images/donate/paypal.png" alt="Donate with Paypal" ></a>
       <a href="https://www.getmiro.com/about/donate/cc-guide.html"><img src="{{ STATIC_BASE_URL }}images/donate/card.png" alt="Donate with a Credit Card" ></a>
     </div>
     <a href="#close" onclick="javascript:hideDonateRibbon(); return false;"><span class="close"></span></a>
   </div>
{% block video %}

<div id="video"><a href="{{ STATIC_BASE_URL }}movies/Miropcf-HelpUsMakeMediaMoreOpen316.mp4"><img src="{{ STATIC_BASE_URL }}images/donate/Miropcf-HelpUsMakeMediaMoreOpen877.jpg" alt="Thumbnail of OKGO's Andy Ross talking about Why Miro Matters" ><span class="download">download video</span></a></div>
<script type="text/javascript">
if (navigator.userAgent.indexOf('Linux') == -1 || navigator.userAgent.indexOf('Miro') == -1) {
    createVideo($("#video"),
		"{{ STATIC_BASE_URL }}movies/Miropcf-HelpUsMakeMediaMoreOpen316.flv",
		"{{ STATIC_BASE_URL }}movies/Miropcf-HelpUsMakeMediaMoreOpen316.mp4",
		"{{ STATIC_BASE_URL }}images/donate/Miropcf-HelpUsMakeMediaMoreOpen877.jpg", 280, 210);
}
</script>
<p class="subvid">OKGO's Andy Ross: Why Miro Matters</p>
   {% endblock %}
{% if request.GET.next %}
<a href="{{ request.GET.next }}"><img src="{{ STATIC_BASE_URL }}images/donate/goto-guide.png" alt="go to the guide" ></a>
{% endif %}
{% block moreinfo %}
<div id="moreinfo">
  <p>Additional Information:</p>
  <ul>
    <li><a href="{{ BASE_URL }}donate/biz{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Making Miro Sustainable</a></li>
    <li><a href="{{ BASE_URL }}donate/special{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Our Pitch to Big Funders</a></li>
  </ul>
</div>
{% endblock %}
</div> <!--/COLUMN-->
{% endblock %}
