{% extends "donate/donate.html" %}
{% block message %}
<p><strong>Dear Potential Donor:</strong></p>
<p style="padding-top:10px;">Like any 501c3, all donations to the Participatory Culture Foundation (creators of Miro) are 100% tax-deductible. But what makes giving to Miro uniquely powerful is that at the same time that we are directly advancing our mission, we are also building for the long-term. Since our 1.0 release in November 2007, we have moved quickly to create an earned income program that, in the model of Mozilla, will eventually support all of our activities.</p>
<p>We need your help so that we can continue to grow Miro to the point that it can become self-sustaining. Your investment in open media right now will pay benefits to everyone for many years to come.</p>
<p>We are always happy to discuss giving options and give you more details about our organization and our business plan. Please don’t hesitate to contact me personally to learn more—you can reach me at nicholas(at)pculture.org or 1-508-963-7832. We are also happy to introduce you to some of our current supporters who can tell you more about their giving experience and why they have chosen to invest in our work.</p>
<p>Sincerely,</p>
<p>Nicholas Reville</p>
<p>Co-Founder, Executive Director</p>
{% endblock %}