{% extends "donate/donate.html" %}
{% block title-image %}{{ STATIC_BASE_URL }}images/donate/title-special.png{% endblock %}
{% block extra-title %}{% endblock %}
{% block message %}
<p><strong>Dear Potential Donor:</strong></p>
<p style="padding-top:10px;">Online video is growing rapidly, but is also facing a crisis: a few very large sites have dominant market share and cases of corporate censorship are happening every single day. Creators are stuck. Miro is leading the fight to ensure that video online can be open to every creator, anywhere in the world. This is truly a battle for the future of free speech and media access.</p>
<p>Miro is software that can be one of the most important solutions to keeping online video open and democratic. With broadcast TV, a few companies own a few channels; Miro creates an online system for video that is open to an unlimited number of channels and websites. The future of online video and TV can be as open and democratic as the internet itself as long as Miro is in the game.</p>
<p>Like any 501c3, all donations to the Participatory Culture Foundation (creators of Miro) are 100% tax-deductible. But what makes giving to Miro uniquely powerful is that at the same time that we are directly advancing our mission, we are also building for the long-term. Since our 1.0 release in November 2007, we have moved quickly to create an earned income program that, in the model of Mozilla, will eventually support all of our activities.</p>
<p>We need your help so that we can continue to grow Miro to the point that it can become self-sustaining. Your investment in open media right now will pay benefits to everyone for many years to come.</p>
<p>We started our work in 2005 as a nonprofit because we could see what was going to and can still happen in this emerging market of online video—we're a proactive media activism organization with a product than can effectively fight for one of the most winnable fights against large and fierce companies we're facing now.</p>
<p>We are always happy to discuss giving options and give you more details about our organization and our business plan. Please don't hesitate to talk to me personally to learn more—you can reach me at nicholas(at)pculture.org or 1-508-963-7832. We are also happy to introduce you to some of our current supporters who can tell you more about their giving experience and why they have chosen to invest in our work.</p>
<p>Sincerely,</p>
<p>Nicholas Reville</p>
<p>Co-Founder, Executive Director</p>
{% endblock %}
{% block video %}
<div id="video" style="background: inherit;"><img src="{{ STATIC_BASE_URL }}images/donate/glassco.png" /></div>
{% endblock %}