.cobranding > h2 {
    color: #7a7a7a;
    font-size: 135%;
    margin: 25px 0 -8px;
}

.cobranding > .icon {
    float: left;
    background: black;
    width: 175px;
    height: 125px;
}

.cobranding > .description {
    float: left;
    width: 300px;
    margin: 5px;
}

.cobranding > .info {
    background: #eee;
    width: 200px;
    float: right;
    line-height: 125%;
    font-size: 105%;
    padding: 16px 20px;
}

.cobranding > .info li {
    padding: 4px 0;
}

.cobranding > .info a {
    color: black;
    text-decoration: underline;
}
