.cobranding h1 {
    font-size: 225%;
    margin-bottom: 15px;
}

.cobranding > h2 {
    color: #7a7a7a;
    font-size: 135%;
    margin: 25px 0 -8px;
}

.cobranding > .icon {
    float: left;
    background: white;
    width: 175px;
    height: 125px;
    text-align: center;
}

.cobranding > .icon img {
    height: 125px;
}

.cobranding > .description {
    float: left;
    width: 300px;
    margin-left: 18px;
}

.cobranding > .info {
    background: #eee;
    width: 210px;
    float: right;
    line-height: 125%;
    font-size: 105%;
    padding: 16px 20px;
}

.cobranding > .info li {
    padding: 4px 0;
}

.cobranding > .info a {
    color: black;
    text-decoration: underline;
}
