html {
	padding: 0;
	margin: 0;
	min-height: 100%;
	font-family: helvecita,"Lucida Grande","Vera Sans","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size: 80%;
	line-height: 1.4em;
	color: #404040;
}

body {
	background: #71b7ff url(../images/donate/sky-bg.jpg) no-repeat top center;
	padding: 0;
	margin: 0;
	min-height: 100%;
}

img {
    border: 0;
}	

#outer {
    background: url(../images/donate/content-bg.png) repeat-y;
    width: 764px;
    margin: 0 auto;
}

#cap {
    background: url(../images/donate/content-cap.png) no-repeat;
    width: 764px;
    height: 25px;
    margin-top: 95px;
    position: relative;
    top: -25px;
}

#header {
	position: relative;
	top: -120px;
	padding: 0;
	margin: 0 auto;
	text-align: center;	
}

#content {
	width: 630px;
	padding: 0 35px;
	min-height: 100%;
	margin: 0 auto;
}

.column {
	position: relative;	
	top: -100px;
	float: left;
	width: 300px;
}

.left {
	width: 300px;
	padding-right: 30px;
}

.right {
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
}

strong {
	font-size: 105%;
}

a {
	color: #d91a26;
}

.special {
	font-size: 90%;
}

.special a {
	color: #404040;
}

h2 {
    margin-top: -70px;
}

#donate {
    position: relative;
    right: 365px;
    width: 709px;
    height: 160px;
}

#donate div.amounts, #donate div.types {
    width: 709px;
    height: 160px;
    position: absolute;
    left: -5px;
    background: url(../images/donate/donate-bg.png);
}

/* hack for IE6 */
* html #donate {
    position: absolute;
    right: -45px;
}

#donate .amounts div {
    height: 39px;
    width: 101px;
    float: left;
    margin-top: 65px;
    margin-left: 30px;
    cursor:pointer;
}

#donate .amounts .g20 {background: url(../images/donate/give20.png);}
#donate .amounts .g50 {background: url(../images/donate/give50.png);}
#donate .amounts .g100 {background: url(../images/donate/give100.png);}
#donate .amounts .g200 {background: url(../images/donate/give200.png);}
#donate .amounts .other {
    background: url(../images/donate/give-x.png);
    width: 122px;
    position: relative;
    margin-left: 0;
    left: 30px;
}

.amounts input {
    border: 2px solid #7f8d9f;
    background: url(../images/donate/give-bg.png) no-repeat;
    padding-left: 12px;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 36px;
}

#donate img {
    margin: 75px 15px 0;
}

#donate .close {
    display: block;
    background: url(../images/donate/x.png) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

#donate .close a {
    padding: 3px;
    color:#3783D1;
    text-decoration: none;
}
    
#video {
	height: 210px;
	width: 280px;
/*	background: #cccccc;*/
	text-align: center;
	margin: 45px auto 12px auto;
}

.subvid {
	color: #2597d7;
	font-size: 110%;
	margin-bottom: 45px;
}

.clear {
    clear: both;
}

#video .download {
background:transparent url(../images/donate/download.png) no-repeat scroll 0% 0%;
color:white;
float:right;
font-weight:bold;
height:15px;
left:7px;
padding-left:7px;
position:relative;
text-align:center;
top:-20px;
width:129px;
z-index:1;
}

.donation_zone {
font-size:16px;
line-height:24px;
margin:10px 0pt;
padding:20px 10px 13px;
}

.donation_zone input, .donation_zone select {
    vertical-align: middle;
}

.donation_zone dt {
clear:left;
color:#333333;
float:left;
font-size:16px;
line-height:24px;
margin:4px 8px 0pt 0pt;
padding:0pt;
position:relative;
text-align:right;
white-space:nowrap;
width:240px;
}

.donation_zone dd {
    color:#333333;
font-size:17px;
line-height:24px;
margin:0pt 0pt 12px 0px;
text-align:left;
}

ul {
    list-style-type: none;
}

li {
    height: 106px;
}

li a {
    color: inherit;
}

.buttons {
    margin-top: 5px;
    text-align:center;
    padding-bottom: 50px;
}

.buttons img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

img.thanks {
    display: block;
    margin: 60px auto 0;
}

#moreinfo {
    color:#787878;
}

#moreinfo p{
margin-bottom: 0px; 
text-align: right; 
margin-right: 15px;
padding-top: 10px;
}

#moreinfo li {
    height:18px;
}

#moreinfo ul {
    font-size: 90%;
    margin-right: 15px;
    text-align: right;
    margin-top: 6px;
}