.rating {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
    vertical-align: top;
    height: 16px;
    overflow: hidden;
    float: left;
}
ul.rating li.score {font-size: 9px; color: #818181; padding: 3px 0 0 10px;}
ul.rating li.score strong {color: #191919;}

.rating .score 
.rating.small {
    width: 78px;
}
.rating li {
    display: inline;
}

.rating:after {
    content: '.';
    display: block;
    height: 0;
    width: 0;
/*    clear: both;*/
    visibility: hidden;
}
.cancel,
.star {
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
}

.small .cancel, .small .star {
    width: 13px;
    height: 13px;
}
.cancel,
.cancel a {background: url(images/no-star.png) no-repeat 0 0px;}

.small .cancel,
.small .cancel a { background-image: url(images/small-no-star.png);}

.star.userrating,
.star.userrating a {background: url(images/user-star.png) no-repeat 0 0px;}

.small .star.userrating,
.small .star.userrating a {background-image: url(images/small-user-star.png);}

.star.averagerating,
.star.averagerating a {background: url(images/avg-star.png) no-repeat 0 0px;}

.small .star.averagerating,
.small .star.averagerating a {background-image: url(images/small-avg-star.png);}

.cancel a,
.star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0px;
}

.rating .star.on, .rating .star.on a {
    display: block;
    background-position: 0 -15px;
}

div.rating.small div.on a {
    background-position: 0 -12px;
}

div.rating div.hover a,
div.rating div a:hover {
    display: block;
    background-position: 0 -48px;
}

div.rating.small div.hover a,
div.rating.small div a:hover {
    background-position: 0 -24px;
}
