/* General stuff */
* {
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 15px;
}
body {
    background-color: #002;
    color: #fff;
    font: normal 75% Arial, sans-serif;
    /*letter-spacing: -0.01em;*/
    text-align: center;
    line-height: 1.25;
}

p {

}
h1 {
    font: 180% Arial, sans-serif;
    margin-bottom: 8px;
}
h2 {
    font: bold 130% Arial, sans-serif;
}
h3 {
    color: #fff;
    font: bold 100% Arial, sans-serif;
}

ul {
    list-style-type: none;
}

input,select,option,textarea {
    color: #333;
    font-size: 100%;
    font-family: Arial, sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0px;
}

/* Classes used in multiple places */

.sub-header {
    font-size: 75%;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

li.column {
    float: left;
}

.two-column-list li.column {
    width: 370px;
    margin-left: 20px;
}

.three-column-list li.column {
    width: 240px;
    margin-left: 20px;
}

.four-column-list li.column {
    width: 190px;
}

.half-size-list .two-column-list li.column {
    width: 180px;
    margin-left: 10px;
}

li.first-column {
    margin-left: 0px !important;
    clear: left;
}

div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}


.white-button-left {
    color: #000;
    display: block;
    padding-left: 9px;
    background: url(images/white-button-left.png) top left no-repeat;
}

.white-button-left:hover {
    text-decoration: none;
}

.white-button-right {
    padding-right: 15px;
    background: url(images/white-button-right.png) top right no-repeat;
}

.white-button-content {
    height: 19px;
    background: url(images/white-button-middle.png) top left repeat-x;
    text-align: center;
    line-height: 14px;
}

.white-button-content span {
    font-size: 80%;
    padding: 0px 5px;
}

/* Accessability */

#accessability {
    display: none;
}

#page {
    margin: 0px auto 20px auto;
    text-align: left;
    width: 794px;
}

#content {
    background: #333355;
    padding: 20px 17px 0px 17px;
    background: url(images/page-content-middle.png) top left repeat-y;
}

#content-top {
    background: url(images/page-content-top.png) top left no-repeat;
    padding-top: 20px;
}

#content-bottom {
    background: #333355;
    padding-bottom: 20px;
    background: url(images/page-content-bottom.png) bottom left no-repeat;
}

/* forms */

.big-form h2 {
    font-size: 180%;
    margin-bottom: 30px;
}


.big-form .form-errors {
    margin-left: 135px;
    background: #fffcd1;
    color: #a20000;
    padding: 12px 15px;
    margin-bottom: 35px;
    border: 1px solid #b4b210;
}

.big-form .form-errors h2, .form-errors li {
    margin-bottom: 10px;
}

.big-form .form-inputs {
    font-size: 130%;
}

.big-form .form-inputs .label {
    display: block;
    float: left;
    margin-right: 18px;
    width: 260px;
    text-align: right;
    vertical-align: middle;
    line-height: 200%;
}

.big-form .form-inputs .label img {
    display: inline;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 2px;
}

.big-form .form-inputs li {
    clear: left;
    margin-bottom: 25px;
}

.big-form .wide-field, .big-form input.submit {
    font-size: 100%;
    width: 287px;
    border: 0px;
    margin: 0px;
    padding: 2px 5px;
}

.big-form select.wide-field {
    width: 297px;
    padding: 0px;
}

.big-form .help-text {
    margin-top: 2px;
    margin-left: 287px;
    font-size: 80%;
}

.big-form input.submit {
    width: 105px;
    font-weight: bold;
    font-size: 120%;
    margin-left: 495px;
    background: #b9b9b9;
}

.form-instructions {
    margin-bottom: 50px;
    font-size: 120%;
}

/* Individual elements */

#navigation {
    background: #b2b2b1 url(images/navigation-bg.png) repeat-x left top;
    height: 38px;
    background-color: white;
}

#navigation ul {
    height: 100%;
}

#navigation li {
    float: left;
    height: 19px;
}

#navigation .links {
    margin: auto;
    width: 794px;
}

#navigation .quick-links {
    padding: 10px 8px 0px 8px;
    float: left;
    width: 40px;
}

#navigation .quick-links a {
    display: block;
    height: 100%;
}

#navigation .previous a {
    background-image: url(images/navigation/previous.png);
    width: 20px;
}

#navigation .next a {
    background-image: url(images/navigation/next.png);
    width: 20px;
}

#navigation .main-navigation li {
    height: 32px;
    text-align: center;
}

#navigation .main-navigation a {
    color: #fff;
    line-height: 38px;
    font-weight: bold;
    vertical-align: middle;
    display: block;
    padding: 0px 14px;
}

#navigation .main-navigation a.current-page, #navigation .main-navigation a:hover {
    background: url(images/navigation-bg-hover.png) repeat-x left top;
    text-decoration: none;
}

#navigation #load-indicator {
    position: absolute;
    display: none;
    top: 5px;
    right: 15px;
}

#account-bar {
    background: url(images/account-bar.png) repeat-x left top;
    height: 12px;
    padding: 8px;
    font-size: 90%;
    font-weight: bold;
    color: #111;
}

#account-bar-inner {
    margin: auto;
    width: 784px;
    text-align: left;
}


#account-bar  a {
    text-decoration: underline;
    color: #111;
}

#account-bar .left a {
    margin-right: 10px;
}

#account-bar .right {
    float: right;
}

#account-bar .right a {
    font-weight: normal;
    font-size: 90%;
    margin-left: 10px;
}

#search-bar {
    background: url(images/search-bar.png) no-repeat left top;
    height: 18px;
    padding: 14px 15px;
    margin-top: 10px;
}

#search-bar .tagline {
    float: right;
    font-weight: normal;
    font-size: 120%;
    color: #191a26;
}

#search-form input {
    font-size: 130%;
}

#search-text {
    border: 0px;
    color: #333;
    width: 170px;
    padding: 2px 0px 2px 8px;
    margin-right: 10px;
}

#search-submit {
    padding: 0px 4px;
}

.front-page h2 {
    font-size: 140%;
    margin-bottom: 6px;
}

.front-page .links {
    margin-top: 15px;
}

.front-page .links li.first-column {
    padding-left: 5px;
    padding-right: 40px;
    width: 335px;
    margin: 0px;
    border-right: 1px solid #fff;
    margin-right: -1px;
}

.front-page .links li.second-column {
    border-left: 1px solid #fff;
    padding-left: 39px;
    width: 340px;
    margin: 0px;
}

.front-page .links a {
    text-decoration: underline;
}

.front-page .category-list {
    border: 1px solid #EDCBD4;
    margin: -1px;
    background: #8A4557;
    margin-top: 24px;
    padding: 12px 16px;
}

.front-page .category-list li.column {
    width: 182px;
    margin-top: 10px;
}

.front-page .category-list h2 {
    padding-bottom: 10px;
}

.front-page .category-list a {
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
}

li.blog-post {
    margin-bottom: 20px;
}

li.blog-post a {
    margin-left: 5px;
}

li.blog-post .title {
    font-size: 120%;
    height: 1.25em;
    overflow: hidden;
    margin-top: 5px;
}

.front-page .help-links p {
    margin-bottom: 25px;
}

.front-page .about {
    text-align: center;
    margin-top: 85px;
}

.front-page .about a {
    text-decoration: underline;
}

.search-page h1 {
    margin-bottom: 10px;
}

.search-page .channel-matches {
    background-color: #8d4158;
    padding: 15px 50px 15px 20px;
    width: 420px;
}

.search-page .channel-matches .channel-in-list {
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.search-page .group-matches {
    float: right;
    width: 240px;
    margin-left: 25px;
}

.search-page .group-matches ul {
    margin-bottom: 10px;
    font-size: 120%;
}

.search-page .group-matches a {
    text-decoration: underline;
}

.search-page .channel-item-matches {
    padding-top: 45px;
}

.search-page .channel-item-matches .divider {
    margin-top: 0px;
    margin-bottom: 20px;
}

.search-page .channel-matches .channel-in-list .actions .add .icon {
    background-image: url(images/icons/add-big-pink.png);
}

.search-page .channel-matches .channel-in-list .actions .info-button .icon {
    background-image: url(images/icons/info-big-pink.png);
}


.more-channel-matches {
    padding-top: 10px;
    font-size: 150%;
    text-align: center;
}

.edit-languages-page .language-name {
    min-width: 100px;
    float: left;
}

.moderate-page .links {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.moderate-page .posts {
    padding-top: 20px;
}

.moderate-page h2.check-out {
    margin-bottom: 5px;
}

.moderate-page h2.check-out a {
    margin-left: 10px;
    font-weight: normal;
    font-size: 70%;
}

.user-search-page .results-label {
    margin-top: 10px;
}

.user-search-page ul, .moderator-page ul {
    margin-bottom: 20px;
}

.user-search-page li {
    font-size: 130%;
    clear: both;
    padding-bottom: 5px;
}

.user {
    width: 340px;
    height: 23px;
    padding: 5px;
    border: 1px solid #ccc;
}

.user .role-info {
    float: right;
}

.user .role-info input {
    font-size: 80%;
}

.user .role-info .role {
    font-weight: bold;
    float: left;
}

.user .role-info form {
    float: left;
    margin-left: 5px;
}

.user-search-page li {
    font-size: 130%;
    margin-bottom: 3px;
}

.login-page {
    padding: 0px 50px;
}

.login-page .message {
    padding-bottom: 10px;
    font-size: 120%;
    font-weight: bold;
    background: #fffcd1;
    color: #cd7662;
    padding: 12px 15px;
    margin-bottom: 35px;
    border: 1px solid #b4b210;
}

.divider {
    margin: 40px 0px;
    border-top: 1px solid #fff;
}

.login-page .register-form h2 {
    margin-bottom: 0px;
}

.submit-feed-page .big-form {
    margin-top: 30px;
}

.submit-feed-page .explanation {
    padding-bottom: 20px;
}

.submit-feed-page .explanation p {
    margin-bottom: 10px;
    font-size: 120%;
}

.submit-feed-page .thumbnail-select h2 {
    margin-bottom: 15px;
    font-size: 125%;
}

.submit-feed-page .thumbnail-select h3 {
    margin-bottom: 20px;
}

.submit-feed-page .thumbnail-select h4 {
    font-weight: normal;
    margin-bottom: 20px;
}

.submit-feed-page .thumbnail-select p {
    margin-bottom: 20px;
    font-size: 110%;
}

.submit-feed-page .thumbnail-select label {
    display: block;
    float: left;
    margin-right: 25px;
    vertical-align: middle;
    line-height: 200%;
}

.submit-feed-page .thumbnail-select input {
    margin-bottom: 20px;
}

.submit-feed-page .thumbnail-select img {
    float: left;
    margin-right: 10px;
}

.submit-thanks-page a {
    text-decoration: underline;
}

.submit-thanks-page p, .submit-thanks-page ul {
    margin-bottom: 20px;
    font-size: 120%;
}

.submit-thanks-page li {
    margin-top: 5px;
}

/* CSS Applying to all channel divs (feature, normal and small) */

.channel-top {
    background: left top no-repeat;
}

.channel-inner {
    background: left top repeat-x;
}

.channel-bottom {
    background: left bottom no-repeat;
}

.channel .title {
    height: 1.25em;
    overflow: hidden;
}

.channel {
    overflow: hidden;
}

.channel .info {
    float: right;
    color: #666;
    text-align: center;
}

.channel .screenshot {
    background: #000;
}

.channel .actions a {
    display: block;
    color: #3c3c3c;
    margin: auto;
}

.channel .actions a:hover {
    text-decoration: none;
}

.channel .actions .big .icon {
    height: 24px;
    width: 24px;
}

.channel .actions .big a:hover .icon {
    background-position: 0px -24px;
}

.channel .actions .small .icon {
    height: 16px;
    width: 16px;
}

.channel .actions .small a:hover .icon {
    background-position: 0px -16px;
}

.channel .actions .horizontal .icon {
    float: left;
    margin-right: 5px;
}

.channel .actions .horizontal a {
    float: left;
    vertical-align: middle;
    line-height: 27px;
}

/* CSS For the featured channels */

#featured-list-container {
    height: 240px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    position: relative;
}

#featured-list {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5000px;
}

.channel-feature .channel-inner {
    background-image: url(images/featured-bg.png);
    min-height: 154px;
    padding-left: 1px;
    padding-top: 1px;
}

.channel-feature .info {
    color: #666;
    width: 100px;
    padding-left: 10px;
    padding: 10px 10px 0px 1px;
}

.channel-feature .screenshot {
    width: 252px;
    height: 169px;
}

.channel-feature .actions a {
    font-weight: bold;
}

.channel-feature .actions .add {
    margin-top: 13px;
}

.channel-feature .actions .add .icon {
    margin: auto;
    background-image: url(images/icons/add-big-feature.png);
}

.channel-feature .actions .info-button .icon {
    margin: auto;
    background-image: url(images/icons/info-big-feature.png);
}

.channel-feature .actions .info-button {
    margin-top: 20px;
}

.channel-feature .title {
    font-size: 130%;
    margin-top: 2px;
    margin-bottom: 1px;
    overflow: hidden;
}

.featured-label {
    font-size: 77%;
    color: #f00;
    text-transform: uppercase;
}

.channel-feature .description {
    height: 2.5em;
}

/* CSS For the normal channels */

.channel-in-category .channel-top {
    background-image: url(images/channel-in-category-top.png);
    padding-top: 2px;
}

.channel-in-category .channel-bottom {
    background-image: url(images/channel-in-category-bottom.png);
}

.channel-in-category .info {
    color: #666;
    padding: 10px 5px 0px 5px;
    width: 40px;
}

.channel-in-category .screenshot {
    width: 120px;
    height: 80px;
}

.channel-in-category .actions a {
    font-size: 90%;
}

.channel-in-category .actions .add .icon {
    margin: auto;
    background-image: url(images/icons/add-small-silver.png);
}

.channel-in-category .actions .info-button .icon {
    margin: auto;
    background-image: url(images/icons/info-small-silver.png);
}

.channel-in-category .actions .info-button {
    margin-top: 5px;
}

.channel-in-category .title a {
    padding-top: 10px;
    background: url(images/channel-in-category-title-stripes.png) left top repeat-x;
    font-size: 90%;
    color: black;
}

/* Mini channels */

.channel-mini {
    position: relative;
}

.channel-mini .channel-top {
    background-image: url(images/channel-mini-border.png);
    padding-top: 1px;
    margin-bottom: 8px;
}

.channel-mini .channel-bottom {
    background-image: url(images/channel-mini-border.png);
    padding-bottom: 1px;
}

.channel-mini .info {
    margin-right: 5px;
    width: 100px;
    text-align: left;
}

.channel-mini .count {
    position: absolute;
    left: 65px;
    right: 0px;
    bottom: 12px;
    color: #666;
    font-size: 80%;
    font-weight: normal;
}

.channel-mini .screenshot {
    width: 60px;
    height: 40px;
}

.channel-mini .title {
    font-size: 90%;
    color: white;
    margin-bottom: 5px;
    margin-top: 2px;
    text-align: left;
}

/* Full page channels */

.channel-full {
    padding: 10px 0px;
}

.channel-full .title {
    padding: 10px 0px 5px 0px;
    height: auto;
}

.channel-full .two-column-list li.second-column {
    width: 380px;
    margin-left: 10px;
}

.channel-full .screenshot {
    width: 370px;
    height: 247px;
}

.channel-full h1 {
    font-size: 240%;
    margin-bottom: 10px;
}

.channel-full li {
    margin-bottom: 5px;
}

.channel-full .description {
    font-size: 130%;
}

.channel-full a {
    text-decoration: underline;
}

.channel-full .title a {
    text-decoration: none;
}

.channel-full .actions .add .icon {
    background-image: url(images/icons/add-big-blue.png);
}

.channel-full .actions a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
}

.channel-full .categories {
    color: #666;
    font-weight: bold;
    font-size: 120%;
}

.channel-full .tags a {
    color: #666;
}

.channel-full .category-tag-separator {
    margin: 0px 2px;
    vertical-align: middle;
}

.channel-full .channel-action {
    margin-top: 5px;
    padding: 5px;
}

.channel-full .channel-action input {
    font-size: 80%;
    padding: 0px 5px;
}

/* Item list in the channel-full template */

.channel-full-separator {
    margin-top: 30px;
    margin-bottom: 20px;
}

.recent-videos-header {
    border-bottom: 1px solid #669;
    font-size: 170%;
    padding-bottom: 15px;
}

.item {
    height: 90px;
    border-bottom: 1px solid #669;
    color: #FFFFFF;
    overflow: hidden;
}

.item .screenshot {
    float: left;
    padding: 4px;
    margin-right: 4px;
    width: 108px;
    height: 90px;
}

.item .info {
    float: right;
    border-left: 1px solid #669;
    height: 100%;
    width: 153px;
}

.item .time-and-date {
    margin-left: 7px;
    padding: 5px 20px 5px 0px;
    font-size: 80%;
}

.item .date {
    float: right;
}

.item .title {
    height: 1.25em;
    margin-top: 5px;
    overflow: hidden;
}

.item .description {
    overflow: hidden;
    padding-right: 10px;
}

.item .description img {
    display: none;
}


/* Channels in the tag/category/language lists */

.channel-in-list {
    margin-bottom: 40px;
}

.last-row .channel-in-list {
    margin-bottom: 10px;
}


.channel-in-list .screenshot {
    border: 1px solid #ddd;
    width: 165px;
    height: 110px;
    overflow: hidden;
}

.channel-in-list .title {
    margin-bottom: 2px;
}

.channel-in-list .description {
    overflow: hidden;
    margin-bottom: 6px;
    height: 5em;
}

.channel-in-list .actions .add .icon {
    background-image: url(images/icons/add-big-blue.png);
}

.channel-in-list .actions .info-button .icon {
    background-image: url(images/icons/info-big-blue.png);
}

.channel-in-list .actions a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.channel-in-list a.add {
    margin-left: 3px;
    margin-right: 25px;
}

/* Category sneak peek */

div.category-peek-top {
    padding-top: 19px;
    width: 370px;
    background: url(images/category-peek-top.png) left top no-repeat;
}

div.category-peek-bottom {
    padding-bottom: 19px;
    background: url(images/category-peek-bottom.png) left bottom no-repeat;
}

div.category-peek {
    color: white;
    min-height: 350px;
    background: url(images/category-peek-bg.png) left top repeat-y;
    padding: 0px 10px;
}

.category-peek .white-button-left {
    background: url(images/white-button-silver-left.png) top left no-repeat;
}

.category-peek .white-button-right {
    background: url(images/white-button-silver-right.png) top right no-repeat;
}

.category-peek .white-button-content {
    background: url(images/white-button-silver-middle.png) top left repeat-x;
}

.category-peek-seperator {
    height: 25px;
    background: url(images/category-peek-separator.png) 0% 50% repeat-x;
}

.category-peek h3 {
    color: #000;
    float: left;
    padding-top: 1px;
}

.category-peek h3 span {
    color: #3c3c3c;
    font-weight: normal;
}

.category-peek .nav-button {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    background: left top no-repeat;
    display: block;
    float: left;
}

.category-peek a.previous {
    background-image: url(images/icons/previous.png);
    margin-right: 4px;
}

.category-peek a.next {
    background-image: url(images/icons/next.png);
    margin-right: 4px;
}

.category-peek .two-column-list li {
    margin-bottom: 15px;
}

.category-peek .two-column-list li.column {
    width: 170px;
}

.category-peek .two-column-list li.last-row {
    margin-bottom: 0px;
}

.category-peek .white-button-left {
    float: right;
    margin-bottom: 5px;
}

/* quick-lists (the list of popular/new shows on the right hand side) */

.front-page-quick-list a.white-button-left {
    float: right;
}

.front-page-quick-list li.first-column {
    width: 190px;
}

.front-page-quick-list li.second-column {
    margin-left: 10px;
    width: 170px;
}


.front-page-quick-list .position {
    float: left;
    width: 20px;
    font-weight: bold;
}

h2.note-title {
    margin: 8px 0px;
}

.note-list li {
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
    background: #222;
}

.note-list {
    margin-bottom: 20px;
}

.note-list .delete-button {
    float: right;
    margin: 0px 0px 4px 4px;
}

.new-post-form {
    margin-top: 20px;
}

.group-list {
    margin-top: 25px;
}

.group-list li {
    margin-bottom: 15px;
}

.group-list a {
    font-size: 150%;
    text-decoration: underline;
}

.group-list .channel-count {
    margin-left: 5px;
    font-size: 90%;
}

.channel-list-page {
    padding-top: 10px;
}

.channel-list-page h1 {
    font-size: 180%;
    line-height: 1.25;
}

.channel-list-page .view-select {
    margin-left: 40px;
    font-size: 55%;
    vertical-align: bottom;
}

.channel-list-page .view-select a {
    text-decoration: underline;
}

.channel-list-page .view-select .option {
    margin-left: 5px;
}

.channel-list {
    margin-top: 25px;
}

.popular-channel-list .channel-list {
    margin-left: 20px;
}

.recent-channel-list h2.date {
    margin-top: 30px;
    padding-bottom: 2px;
    border-bottom: 2px solid #adadad;
    margin-bottom: 20px;
}

.recent-channel-list .channel-in-list {
    margin-bottom: 25px;
}

.popular-channel-list .position {
    float: left;
    margin-right: 20px;
    font-size: 130%;
    font-weight: bold;
}

/* Pager */

.pager {
    padding-top: 10px;
    font-size: 135%;
}
.pager .links {
    float: right;
}

.pager .links a {
    text-decoration: underline;
}

.pager .links .current-page {
    font-weight: bold;
    padding: 0px 5px;
}

.pager .links .next {
    margin-left: 20px;
}
