/* General stuff */
* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #fff;
    color: #fff;
    font: normal 13px Arial, sans-serif;
    /*letter-spacing: -0.01em;*/
    text-align: center;
    line-height: 1.3;
}

p {

}

h1, h2, h3 {
    font-weight: bold;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 180%;
    margin-bottom: 8px;
}
h2 {
    font-size: 130%;
}
h3 {
    font-size: 100%;
}

ul {
    list-style-type: none;
}

input,select,option,textarea {
    color: #333;
    font-size: 100%;
    font-family: Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0px;
}

/* Classes used in multiple places */

.sub-header {
    font-size: 75%;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

li.column {
    float: left;
}

.two-column-list li.column {
    width: 370px;
    margin-left: 20px;
}

.three-column-list li.column {
    width: 240px;
    margin-left: 20px;
}

.four-column-list li.column {
    width: 190px;
}

li.first-column {
    margin-left: 0px !important;
    clear: left;
}

div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}


.white-button-left {
    color: #000;
    display: block;
    padding-left: 9px;
    background: url(images/white-button-left.png) top left no-repeat;
}

.white-button-left:hover {
    text-decoration: none;
}

.white-button-right {
    display: block;
    padding-right: 15px;
    background: url(images/white-button-right.png) top right no-repeat;
}

.white-button-content {
    display: block;
    height: 16px;
    background: url(images/white-button-middle.png) top left repeat-x;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    font-size: 81%;
    padding: 0px 5px;
}

.home-button-left {
    margin-left: 15px;
    padding-left: 6px;
    display: block;
    background: url(images/navigation/home-button-left.png) top left no-repeat;
}

.home-button-left:hover {
    text-decoration: none;
}

.home-button-right {
    padding-right: 6px;
    display: block;
    background: url(images/navigation/home-button-right.png) top right no-repeat;
}

.home-button-content {
    display: block;
    height: 16px;
    background: url(images/navigation/home-button-middle.png) top left repeat-x;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    padding: 0px 5px;
}


.error {
    padding: 6px;
    font-size: 110%;
    width: 600px;
    color: red;
    background: white;
}

/* Accessability */

#accessability {
    display: none;
}

#background {
    background: white url(images/background.gif) repeat-x scroll center top;
    padding-top: 30px;
}

#page {
    margin: 0px auto 20px auto;
    text-align: left;
    width: 794px;
}

#content {
    background: white;
    color: black;
    padding: 20px 16px;
    border: 1px solid #D2E3F5;
    border-top: none;
}

/* forms */

.big-form h2 {
    font-size: 180%;
    margin-bottom: 30px;
}


.big-form .form-errors {
    margin-left: 135px;
    background: #fffcd1;
    color: #a20000;
    padding: 12px 15px;
    margin-bottom: 35px;
    border: 1px solid #b4b210;
}

.big-form .form-errors h2, .form-errors li {
    margin-bottom: 10px;
}

.big-form .form-inputs {
    font-size: 130%;
}

.big-form .form-inputs .label {
    display: block;
    float: left;
    margin-right: 18px;
    width: 300px;
    text-align: right;
    line-height: 130%;
}

.big-form .form-inputs .label img {
    display: inline;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 2px;
}

.big-form .form-inputs li {
    clear: left;
    margin-bottom: 25px;
}

.big-form .wide-field, .big-form input.submit {
    font-size: 120%;
    border: 1px solid #CCCCCC;
    width: 207px;
    margin: 0px;
    padding: 2px 5px;
}

.big-form select.wide-field {
    width: 217px;
    padding: 0px;
}

.big-form .help-text {
    margin-top: 2px;
    margin-left: 207px;
    font-size: 80%;
}

.big-form input.submit {
    width: 130px;
    font-weight: bold;
    font-size: 120%;
    margin-left: 445px;
    background: #b9b9b9;
    border-color: black;
}

.form-instructions {
    margin-bottom: 50px;
    font-size: 120%;
}

/* Individual elements */

#nav-bar {
    background: url(images/nav-bar.png) repeat-x left top;
    padding: 5px;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
    z-index: 1;
    font-size: 80%;
    vertical-align: middle;
}

#nav-bar ul {
    padding-right: 8px;
    float: left;
}

#nav-bar ul li {
    height: 16px;
    float: left;
}

#nav-bar ul a {
    display: block;
    height: 100%;
    margin-right: 1px;
}

#nav-bar .previous a {
    width: 16px;
    background-image: url(images/navigation/previous.png);
}

#nav-bar .next a {
    width: 16px;
    background-image: url(images/navigation/next.png);
}

#navigation {
    margin-top: 26px;
    background: #b2b2b1 url(images/navigation-bg.png) repeat-x left top;
    height: 34px;
    background-color: white;
    font-size: 90%;
}

#navigation ul {
    height: 100%;
}

#navigation ul {
    margin: auto;
    width: 794px;
}

#navigation li {
    text-align: center;
    float: left;
    height: 33px;
}

#navigation li a.logo {
    padding: 0px;
    line-height: 0px;
}

#navigation li img.logo {
    margin-right: 19px;
}

#navigation a {
    color: #fff;
    line-height: 33px;
    font-size: 110%;
    font-weight: bold;
    vertical-align: middle;
    display: block;
    padding: 0px 12px;
    color: #A6D0FA;
}

#navigation a.current-page {
    background: url(images/navigation-bg-hover.png) repeat-x left top;
    color: white;
}

#navigation a:hover {
    text-decoration: none;
    color: white;
}

#navigation #load-indicator {
    position: fixed;
    display: none;
    top: 4px;
    right: 10px;
    z-index: 1;
}

#account-bar {
    background: url(images/account-bar.png) repeat-x left top;
    height: 16px;
    padding: 7px;
    color: #fff;
}

#account-bar-inner {
    margin: auto;
    width: 784px;
    text-align: left;
    font-size: 80%;
    height: 100%;
    vertical-align: middle;
}

#account-bar .links {
    padding-top: 2px;
}

#account-bar  a {
    color: #75B1ED
}

#account-bar .left a {
    margin-right: 10px;
}

#account-bar .right {
    float: right;
}

#account-bar .right a {
    font-weight: normal;
    font-size: 90%;
    margin-left: 10px;
}

#search-bar {
    background: url(images/search-bar.png) no-repeat left top;
    height: 17px;
    padding: 14px 10px;
}

#search-bar .tagline {
    float: right;
    font-weight: normal;
    font-size: 120%;
    color: white;
}

#search-form input {
    font-size: 120%;
}

#search-text {
    border: 0px;
    color: #333;
    padding: 2px 0px 2px 6px;
    margin-right: 2px;
    width: 200px;
}

#search-submit {
    padding: 0px 0px;
}

#one-click-example {
    text-align: center;
    margin-bottom: 10px;
}

#one-click-example img {
    margin-right: 400px;
}

#one-click-example span {
    font-size: 70%;
    margin-top: 10px;
    position:relative;
    left:126px;
}

.one-click-button ul {
    padding-left: 1cm;
}

.one-click-button #one-click-link {
    font-size: 65%;
    margin-top: -10px;
    background-color: #EEEEEE;
}

.one-click-button h3 {
    text-align: right;
}

.one-click-button span {
    font-size: 80%;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    top:-5px;
}

.one-click-button input {
    position: relative;
    top: -5px;
}

.front-page h2 {
    font-size: 140%;
    margin-bottom: 6px;
}

.front-page .column-section {
    background-color: #d9e9fa;
    margin: 0px -16px;
    padding: 15px 16px 0px 16px;
}

.front-page .links {
    margin-top: 15px;
}

.front-page .links li.first-column {
    padding-left: 5px;
    padding-right: 40px;
    width: 335px;
    margin: 0px;
    border-right: 1px solid #fff;
    margin-right: -1px;
}

.front-page .links li.second-column {
    border-left: 1px solid #fff;
    padding-left: 39px;
    width: 340px;
    margin: 0px;
}

.front-page .links a {
    text-decoration: underline;
    color: #3366CC;
}

.front-page .category-list {
    border: 1px solid #EDCBD4;
    background: url(images/category-list-bg.gif);
    margin: 40px -17px 30px -17px;
    padding: 12px 16px;
}

.front-page .category-list li.column {
    width: 182px;
    margin-top: 10px;
}

.front-page .category-list h2 {
    padding-bottom: 10px;
    color: #ffffac;
}

.front-page .category-list a {
    color: white;
}

li.blog-post {
    margin-bottom: 20px;
}

li.blog-post a {
    margin-left: 5px;
}

li.blog-post .title {
    font-size: 120%;
    height: 1.3em;
    overflow: hidden;
    margin-top: 5px;
}

.front-page .help-links p {
    margin-bottom: 25px;
}

.front-page .about {
    text-align: center;
    margin-top: 85px;
    color: #888;
}

.front-page .about a {
    text-decoration: underline;
}

.search-page h1 {
    margin-bottom: 10px;
}

.search-page .channel-matches {
    background-color: #F2F7FD;
    padding: 15px 50px 15px 20px;
    width: 420px;
}

.search-page .channel-matches .channel-in-list {
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.search-page .group-matches {
    float: right;
    width: 240px;
    margin-left: 25px;
}

.search-page .group-matches ul {
    margin-bottom: 10px;
    font-size: 120%;
}

.search-page .group-matches a {
    text-decoration: underline;
}

.search-page .channel-item-matches {
    padding-top: 45px;
}

.search-page .channel-item-matches .divider {
    margin-top: 0px;
    margin-bottom: 20px;
}

.search-page .channel-matches .channel-in-list .actions .add .icon {
    background-image: url(images/icons/add-big-white.png);
}

.search-page .channel-matches .channel-in-list .actions .info-button .icon {
    background-image: url(images/icons/info-big-white.png);
}


.more-channel-matches {
    padding-top: 10px;
    font-size: 150%;
    text-align: center;
}

.edit-categories-page .name {
    min-width: 100px;
    float: left;
}

.edit-categories-page .delete-button {
    margin-left: 20px;
}

.edit-categories-page li {
    padding: 4px;
}

.moderate-page .links {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.moderate-page .posts {
    padding-top: 20px;
}

.moderate-page h2.check-out {
    margin-bottom: 5px;
}

.moderate-page h2.check-out a {
    margin-left: 10px;
    font-weight: normal;
    font-size: 70%;
}

.moderate-page .moderator-board-emails {
    margin-top: 20px;
}

.moderate-page form h2 {
    float: left;
    width: 300px;
}

.moderator-history-page table {
    border: 1px solid white;
    padding: 0px 4px;
}

.moderator-history-page td, .moderator-history-page th {
    padding: 6px;
    font-size: 110%;
}

.moderator-history-page .channel-cell {
    width: 400px;
}

.user-search-page .results-label {
    margin-top: 10px;
}

.user-search-page ul, .moderator-page ul {
    padding-bottom: 20px;
}

.user-search-page li {
    font-size: 130%;
    clear: both;
    padding-bottom: 5px;
}

.user {
    width: 340px;
    height: 23px;
    padding: 5px;
    border: 1px solid #ccc;
}

.user .role-info {
    float: right;
}

.user .role-info input {
    font-size: 81%;
}

.user .role-info .role {
    font-weight: bold;
    float: left;
}

.user .role-info form {
    float: left;
    margin-left: 5px;
}

.user-search-page li {
    font-size: 130%;
    margin-bottom: 3px;
}

.login-page {
    padding: 0px 25px;
}

.login-page .form-errors {
    padding-bottom: 10px;
    font-size: 120%;
    font-weight: bold;
    background: #fffcd1;
    color: #cd7662;
    padding: 12px 15px;
    margin-bottom: 35px;
    border: 1px solid #b4b210;
}

.login-page h1{
    clear: left;
    position: relative;
    right: 15px;
}

.login-page .register-form h2, .login-page .login-form h2 {
    text-align: center;
    margin-bottom: 8px;
}

.login-page .register-form .info {
    color: #888888;
    font-size: 85%;
    margin: 10px 5px 15px;
    text-align: center;
}

.login-page div.message {
    margin-bottom: 15px;
}

.login-page div.message h1, .login-page .additional h1 {
    font-weight: normal;
    margin-bottom: 2px;
}

.login-page div.message, .login-page .additional div {
    font-size: 120%;
}

.login-page .additional h1 {
    margin-top: 15px;
}

.login-page .additional div {
    margin-top: 20px;
}

.login-page img#registration1 {
    margin: 0 20px 40px 20px;
    float: right;
}

.login-page img#registration2 {
    margin: 0 20px 20px 20px;
    float: left;
}

.login-page .forgot-password {
    margin-top: 5px;
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
}

.login-page .forgot-password a {
    font-size: 85%;
    text-decoration: underline;
    color: #888888;
}

.login-page .form-inputs .label {
    display: inline;
    padding-bottom: 5px;
}

.login-page .form-errors {
    text-align: left;
}

.login-page .form-errors h2 {
    text-align: center;
}

.login-page .form-inputs li {
    text-align: right;
    margin: 10px 50px 15px 0;
}

.login-page .submit {
    margin-right: 50px;
    margin-left: auto;
}

.login-page .login-form {
    padding-top: 10px;
    text-align: right;
    width: 300px;
    min-height: 200px;
    background: #F9F9F9;
    float: right;
}

.login-page .login-form div.instructions {
    text-align: center;
    padding: 10px;
}

.login-page div.register-form, .login-page div.login-form {
    margin-bottom: 20px;
}

.login-page .register-form {
    padding-top: 10px;
    text-align: right;
    width: 350px;
    min-height: 200px;
    background: #F9F9F9;
    float: left;
}

.login-page .divider {
    display: inline;
    text-align: center;
    width: 60px;
    font-size: 150%;
    position: relative;
    top: 100px;
    float: right;
}


.edit-channel-page .big-form {
    margin-top: 30px;
}

.edit-channel-page .explanation {
    padding-bottom: 20px;
}

.edit-channel-page .explanation p {
    margin-bottom: 10px;
    font-size: 120%;
}

.edit-channel-page .thumbnail-select h2 {
    margin-bottom: 15px;
    font-size: 125%;
}

.edit-channel-page .thumbnail-select h3 {
    margin-bottom: 20px;
}

.edit-channel-page .thumbnail-select h4 {
    font-weight: normal;
    margin-bottom: 20px;
}

.edit-channel-page .thumbnail-select p {
    margin-bottom: 20px;
    font-size: 110%;
}

.edit-channel-page .thumbnail-select label {
    display: block;
    float: left;
    margin-right: 25px;
    vertical-align: middle;
    line-height: 200%;
}

.edit-channel-page .thumbnail-select input {
    margin-bottom: 20px;
}

.edit-channel-page .thumbnail-select img {
    float: left;
    margin-right: 10px;
}

.submit-thanks-page a {
    text-decoration: underline;
}

.submit-thanks-page p, .submit-thanks-page ul {
    padding-bottom: 20px;
    font-size: 120%;
}

.submit-thanks-page li {
    margin-top: 5px;
}

.forgot-password-page p.explanation {
    margin-bottom: 10px;
    font-size: 120%;
}


/* CSS Applying to all channel divs (feature, normal and small) */

.channel-top {
    background: left top no-repeat;
}

.channel-inner {
    background: left top repeat-x;
}

.channel-bottom {
    background: left bottom no-repeat;
}

.channel .title {
    height: 1.3em;
    overflow: hidden;
}

.channel {
    overflow: hidden;
}

.channel .info {
    float: right;
    color: #666;
    text-align: center;
}

.channel .screenshot {
    background: #000;
    position: relative;
    border: 1px solid #ccc;
}

.channel img.hd-icon-small {
    position: absolute;
    right: 2px;
    bottom: 1px;
    width: 18px;
    height: 12px;
}

.channel img.hd-icon-medium {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 25px;
    height: 17px;
}

.channel img.hd-icon-large {
    position: absolute;
    right: 6px;
    bottom: 5px;
    width: 37px;
    height: 25px;
}

.channel .actions ul {
    float: left;
}

.channel .actions a {
    display: inline-block;
    color: #3c3c3c;
    margin-right: 3px;
}
.channel .actions a:hover {
    text-decoration: none;
}

.channel .actions a.add {
    text-decoration: none;
}

.channel .actions a.add:hover {
    text-decoration: underline;
}

.channel .actions .big a.add:active {
    color: #6C6C6C;
}

.channel .actions .small a.add:active {
    color: #FFFFFF;
}

.channel .actions .icon {
    display: block;
}

.channel .actions .big .icon {
    height: 24px;
    width: 24px;
}

.channel .actions .small .icon {
    margin-top: 1px;
    height: 12px;
    width: 12px;
}

.channel .actions .horizontal .icon {
    float:left;
    margin-right: 5px;
}

.channel .actions .horizontal a {
    float:left;
    vertical-align: middle;
    line-height: 24px;
}

/* CSS For the featured channels */

#featured-list-container {
    height: 260px;
    padding: 0px;
    border: 0px;
    margin-left: 5px;
    margin-bottom: 35px;
    overflow: hidden;
    position: relative;
}

#feature-section {
    position: relative;
}

#featured-list {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20000px;
}

#featured-list li.column {
    width: 365px;
}

#featured-list-previous {
        display: block;
        position: absolute;
        top: 75px;
        left: -12px;
        width: 13px;
        height: 42px;
        background: url(images/feature-rotate-left.png) top left;
}

#featured-list-previous:hover {
        background-image: url(images/feature-rotate-left-hover.png);
}

#featured-list-next {
        position: absolute;
        display: block;
        top: 75px;
        left: 760px;
        width: 13px;
        height: 42px;
        background: url(images/feature-rotate-right.png) top left;
}

#featured-list-next:hover {
        background-image: url(images/feature-rotate-right-hover.png);
}


.channel-feature .channel-inner {
    background: url(images/featured-bg.png) no-repeat left top;
    min-height: 154px;
    padding: 23px 0px 0px 23px;
}

.channel-feature .actions {
    float: right;
    text-align: center;
    color: #666;
    width: 77px;
    padding-left: 10px;
    padding: 10px 10px 0px 1px;
}

.channel-feature .screenshot {
    width: 252px;
    height: 169px;
}

.channel-feature .actions a {
    font-weight: bold;
}

.channel-feature .actions .add {
    margin-top: 13px;
}

.channel-feature .actions .add .icon {
    margin: auto;
    background-image: url(images/icons/add-big-white.png);
}

.channel-feature .actions .info-button .icon {
    margin: auto;
    background-image: url(images/icons/info-big-white.png);
}

.channel-feature .actions .info-button {
    margin-top: 20px;
}

.channel-feature .info {
    text-align: left;
    color: black;
    margin: 0px 20px 0px 21px;
}

.channel-feature .title {
    font-size: 100%;
    margin-top: 2px;
    margin-bottom: 1px;
    overflow: hidden;
}

.featured-label {
    color: #D21320;
    text-transform: uppercase;
}

.channel-feature .description {
    height: 2.6em;
}

/* CSS For the normal channels */

.channel-in-category .info {
    padding: 5px 5px 0px 5px;
    width: 100px;
    text-align: left;
}

.channel-in-category .screenshot {
    width: 120px;
    height: 80px;
}

.channel-in-category img.hd-icon-medium {
    bottom: 2px;
}

.channel-in-category .title {
    margin-bottom: 0px;
    height: 2.6em;
    font-size: 120%;
}

.channel-in-category .title a {
    color: black;
}

.channel-in-category .actions a {
    font-size: 90%;
}

.channel-in-category .actions a {
    background: no-repeat left top;
    line-height: 17px;
    color: #2E6195;
    font-weight: bold;
}

.channel-in-category .actions .icon {
    float: left;
    margin-right: 5px;
}

.channel-in-category .actions .add .icon {
    background-image: url(images/icons/add-small-white.png);
}

.channel-in-category .actions .info-button .icon {
    background-image: url(images/icons/info-small-white.png);
}

.channel-in-category .actions .info-button {
    margin-top: 5px;
}

/* Mini channels */

.channel-mini {
    position: relative;
}

.channel-mini .info {
    margin-right: 5px;
    width: 160px;
    text-align: left;
}

.channel-mini .count {
    color: #666;
    font-weight: normal;
}

.channel-mini .screenshot {
    width: 60px;
    height: 40px;
}

.channel-mini .title {
    margin-top: 2px;
    text-align: left;
}

.channel-mini .title a {
    color: #377FC8;
}

/* Full page channels */

.channel-full {
    overflow: visible;
}

.channel-full .title {
    padding: 10px 0px 5px 0px;
    height: auto;
}

.channel-full .two-column-list li.second-column {
    width: 380px;
    margin-left: 10px;
}

.channel-full .screenshot {
    width: 370px;
    height: 247px;
}

.channel-full h1 {
    font-size: 240%;
    margin-bottom: 10px;
    text-align: left;
}

.channel-full li {
    margin-bottom: 5px;
}

.channel-full ul.actions {
    margin: 5px 5px 14px 5px; 
}

.channel-full .actions li {
    float: left;
}

.channel-full .actions #rate #average {
    clear: left; 
    font-size: 80%;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.channel-full .actions #rate #average strong {
    color: #000000;
}

.channel-full .big .add .icon {
    background-image: url(images/icons/add-big-white.png);
}

.channel-full .big a.add {
    font-weight: bold;
    font-size: 130%;
    margin: 0px 15px;
}

.channel-full #categories {
    float: left;
    margin-top: 20px;
    min-width: 100px;
    max-width: 250px;
    margin-right: 20px;
}

.channel-full #tags {
    float: left;
    margin-top: 20px;
    min-width: 100px;
    max-width: 250px;
}

.channel-full #website {
    clear: left;
    float: left;
    margin-top: 20px;
}

.channel-full #extra-info {
    float: left;
    clear: left;
    margin-top: 10px;
}

.channel-full .separator {
    padding: 10px 16px 0px;
    margin: 0px -16px;
    height: 3px;
    width: 373px;
}

.channel-full .first-column .separator {
    clear: left;
    background: url(images/channel-left-separator.jpg) left center no-repeat;
}

.channel-full .second-column .separator {
    clear: right;
    background: url(images/channel-right-separator.jpg) right center no-repeat;
}

.channel-full .sub-header {
    color: #666666;
}

.channel-full #description {
    font-size: 130%;
    min-height: 247px;
    padding-left: 10px;
}

.channel-full #description #full {
    display: none;
}

.channel-full #description #reveal, .channel-full #description #hide {
    text-align: right;
}

.channel-full #description #reveal a, .channel-full #description #hide a {
    color: #AAAAAA;
    text-decoration: none;
}

.channel-full #description .icon {
    display: block;
    float: right;
    height: 16px;
    width: 20px;
}

.channel-full #description #reveal .icon {
    background: url(images/down-arrow.jpg) bottom no-repeat;
}

.channel-full #description #hide .icon {
    background: url(images/up-arrow.jpg) bottom no-repeat;
}

.channel-full #description #hide {
    display: none;
}

.channel-full a {
    text-decoration: underline;
}

.channel-full .title a {
    text-decoration: none;
}

.channel-full .channel-action {
    margin-top: 10px;
}

.channel-full .rejection-actions {
    border: 1px solid white;
    padding: 2px 5px 10px 5px;
}

.channel-full .rejection-actions h3 {
    margin-bottom: 5px;
}

.channel-full .channel-action input {
    font-size: 81%;
    padding: 0px 5px;
}

.channel-full #comments {
    position: relative;
    top: 60px;
}

.channel-full #comments #review-link {
    position: relative;
    bottom: 20px;
    font-size: 80%;
    color: #666666;
    text-align: right;
    display: none;
}

.channel-full #comments #review-link a {
    text-decoration: none;
}

.channel-full #comments #review textarea {
    width: 100%;
    height: 120px;
}

/* Item list in the channel-full template */

.channel-full-separator {
    margin-top: 30px;
    margin-bottom: 20px;
}

.recent-videos-header {
    font-size: 150%;
    padding-bottom: 15px;
}

#items .separator {
    background: url(images/channel-item-separator.jpg) left center no-repeat;
    height: 1px;
    width: 338px;
}

.item {
    color: black;
    overflow: hidden;
}

.item .screenshot {
    float: left;
    padding: 4px;
    margin-right: 4px;
    width: 108px;
    height: 90px;
}

.item .date {
    font-size: 81%;
    color: #666666;
    margin-bottom: 7px;
}

.item .description {
    margin-left: 130px;
    min-height: 94px;
    padding-right: 10px;
    position: relative;
    bottom: 4px;
/*    word-wrap: break-word;*/
}

.item h2 {
    height: 1.1em;
    margin-top: 5px;
    overflow: hidden;
}

.channel-full h2 {
    padding: 5px 0 0 0;
    color: #000000;
}

.channel-full #recommendations .top {
    height: 11px;
    width: 381px;
    background: url(images/recommendations-top.jpg) no-repeat bottom right;
}

.channel-full #recommendations .bottom  {
    height: 11px;
    width: 381px;
    background: url(images/recommendations-bottom.gif) no-repeat bottom right;
}

.channel-full #recommendations table {
    width: 370px;
}

.channel-full #recommendations td {
    padding: 0 10px 0 10px;
    width: 150px;
    text-align: center;
}

.channel-full #recommendations-pad {
    height: 20px;
    clear: both;
}

.channel-full #recommendations {
    background-color: #D9E9FA;
    clear: left;
}

.channel-full #recommendations h2 {
    text-align: center;
    color: #666666;
    position: relative;
    top: -10px;
}

/* Channels in the tag/category/language lists */

.channel-in-list {
    margin-bottom: 40px;
}

.last-row .channel-in-list {
    margin-bottom: 10px;
}


.channel-in-list .screenshot {
    border: 1px solid #ddd;
    width: 165px;
    height: 110px;
    overflow: hidden;
}

.channel-in-list .two-column-list li.first-column {
    width: 180px;
}

.channel-in-list .two-column-list li.second-column {
    width: 186px;
    margin-left: 4px;
}


.channel-in-list .title {
    margin-bottom: 2px;
}

.channel-in-list .description {
    overflow: hidden;
    margin-bottom: 6px;
    height: 5.2em;
}

.channel-in-list .actions .add .icon {
    background-image: url(images/icons/add-big-white.png);
}

.channel-in-list .actions .info-button .icon {
    background-image: url(images/icons/info-big-white.png);
}

.channel-in-list .actions a {
    font-weight: bold;
    text-decoration: none;
}

.channel-in-list a.add {
    margin-left: 3px;
    margin-right: 25px;
}

/* Category sneak peek */

div.category-peek-top {
    padding-top: 19px;
    width: 370px;
    background: url(images/category-peek-top.png) left top no-repeat;
}

div.category-peek-bottom {
    padding-bottom: 19px;
    background: url(images/category-peek-bottom.png) left bottom no-repeat;
}

div.category-peek {
    color: white;
    min-height: 350px;
    background: url(images/category-peek-bg.png) left top repeat-y;
    padding: 0px 10px;
}

.category-peek .heading {
    margin-bottom: 5px;
    vertical-align: middle;
    line-height: 1.25;
}

.category-peek .white-button-left {
    background: url(images/white-button-silver-left.png) top left no-repeat;
    float: right;
}

.category-peek .white-button-right {
    background: url(images/white-button-silver-right.png) top right no-repeat;
}

.category-peek .white-button-content {
    background: url(images/white-button-silver-middle.png) top left repeat-x;
}

.category-peek-seperator {
    height: 25px;
    background: url(images/category-peek-separator.png) 0% 50% repeat-x;
}

.category-peek h3 {
    color: #000;
    padding-top: 1px;
    font-size: 110%;
}

.category-peek h3 span {
    color: #3c3c3c;
    font-weight: normal;
}

.category-peek .nav-button {
    width: 14px;
    height: 14px;
    margin-top: 3px;
    background: left top no-repeat;
    display: block;
    float: left;
}

.category-peek a.previous {
    background-image: url(images/icons/previous.png);
    margin-right: 4px;
}

.category-peek a.next {
    background-image: url(images/icons/next.png);
    margin-right: 4px;
}

.category-peek .two-column-list li {
    margin-bottom: 15px;
}

.category-peek .two-column-list li.column {
    width: 170px;
    margin-left: 10px;
}

.category-peek .two-column-list li.last-row {
    margin-bottom: 0px;
}

/* front page lists */

.front-page-list li {
    padding: 10px 0px;
    border-bottom: 1px solid #bbb;
}

.view-all-link {
    text-align: right;
    padding: 10px 0px;
}

.view-all-link a {
    font-weight: bold;
}

h2.note-title {
    margin: 8px 0px;
}

h3 .note-author {
    margin-left: 8px;
    font-weight: normal;
}

.note-list li {
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
}

.note-list p {
    margin-bottom: 5px;
}

.note-list {
    margin-bottom: 20px;
}

.note-list .delete-button {
    float: right;
    margin: 0px 0px 4px 4px;
}

.new-post-form {
    margin-top: 20px;
}

.group-list {
    padding: 25px 0px;
}

.group-list li {
    margin-bottom: 15px;
}

.group-list a {
    font-size: 150%;
    text-decoration: underline;
}

.group-list .channel-count {
    margin-left: 5px;
    font-size: 90%;
}

.channel-list-page {
    padding-top: 10px;
}

.channel-list-page h1 {
    font-size: 180%;
    line-height: 1.25;
}

.channel-list-page .view-select {
    margin-left: 40px;
    font-size: 55%;
    vertical-align: bottom;
}

.channel-list-page .view-select a {
    text-decoration: underline;
}

.channel-list-page .view-select .option {
    margin-left: 5px;
}

.channel-list {
    margin-top: 25px;
}

.popular-channel-list .channel-list {
    margin-left: 20px;
}

.shared-channel-list .channel-list {
    margin-left: 20px;
}

.recent-channel-list h2.date {
    margin-top: 30px;
    padding-bottom: 2px;
    border-bottom: 2px solid #adadad;
    margin-bottom: 20px;
}

.recent-channel-list .channel-in-list {
    margin-bottom: 25px;
}

.popular-channel-list .position {
    float: left;
    margin-right: 20px;
    font-size: 130%;
    font-weight: bold;
}

.shared-channel-list .position {
    float: left;
    margin-right: 20px;
    font-size: 130%;
    font-weight: bold;
}

.shared-channel-list .sharer {
    font-size: 120%;
    position: relative;
    bottom: 35px;
    left: 220px;
}

/* Pager */

.pager {
    padding-top: 10px;
    font-size: 135%;
}
.pager .links {
    float: right;
}

.pager .links a {
    text-decoration: underline;
}

.pager .links .current-page {
    font-weight: bold;
    padding: 0px 5px;
}

.pager .links .next {
    margin-left: 20px;
}

.error-500 p {
    font-size: 120%;
    margin-bottom: 10px;
}

.error-500 a {
    text-decoration: underline;
}


/* Moderator guide styles */

#moderatorguide {
	width: 500px;
	font-size: 110%;
}

#moderatorguide p {
	position: relative;
	left: 10px;
	padding-bottom: 10px;
}

#moderatorguide a {
	text-decoration: underline;
}

#moderatorguide img {
	position: relative;
	left: 15px;
	border: 3px solid #FFFFFF;
	margin: 10px;
	margin-bottom: 20px;
}

#moderatorguide h1 {
	font-size: 220%;
}

#moderatorguide h2 {
	margin-bottom: 10px;
	font-size: 160%;
}

#moderatorguide h2 a {
	text-decoration: none;
}

#moderatorguide ol {
	position: relative;
	left: 20px;
	list-style-type: decimal; 	padding:6px 6px 6px 6px
}
	 #moderatorguide ol ol { 
	list-style-type: lower-alpha; 	padding:6px 6px 6px 24px
}

#moderatorguide .last {
	margin-bottom: 35px;
}

#moderatorguide .toc {
	margin: 20px;
	margin-top: 15px;
	margin-bottom: 35px;
}

#moderatorguide .toc a {
	text-decoration: none;
}

#moderatorguide .subtext {
	font-size: 90%;
	position: relative;
	top: -10px;
	left: 0px;
	margin-bottom: 0px;
}

.channel-in-recommendation .info {
    padding: 0px 5px 10px 5px;
    width: 100px;
    text-align: left;
}

.channel-in-recommendation .screenshot {
    width: 120px;
    height: 80px;
}

.channel-in-recommendation img.hd-icon-medium {
    bottom: 2px;
}

.channel-in-recommendation .title {
    margin-bottom: 2px;
    font-size: 110%;
    padding: 0;
    height: 1.2em;
}

.channel-in-recommendation .title a {
    color: black;
}

.channel-in-recommendation .screenshot {
    margin-left: auto;
    margin-right: auto;
}

.channel-in-recommendation .actions {
    margin-left: auto;
    margin-right: auto;
}

.channel-in-recommendation .actions a {
    font-size: 90%;
    margin-left: 10px;
    background: no-repeat left top;
    line-height: 17px;
    color: #2E6195;
    font-weight: bold;
    text-decoration: none;
}

.channel-in-recommendation .actions .icon {
    float: left;
    margin-right: 5px;
}
.channel-in-recommendation .actions .add .icon {
    margin-top: 5px;
    margin-left: 11px;
    background-image: url(images/icons/add-small-white.png);
}


.channel-in-recommendation .actions .info-button .icon {
    margin-top: 5px;
    background-image: url(images/icons/info-small-white.png);
}

div#donate {
    border-top: 1px solid #FFFCA9; 
    border-bottom: 1px solid #FFFCA9; 
    background: #FFFEE9;
    padding: 15px 0 0;
    width: 792px;
    min-height: 45px;
    text-align: left;
}
#donate .header {
    float: left;
    position: relative;
    left: 28px;
    top: -15px;
    margin-top: 2px;
}
#donate h1 {
    color: #c71826;
    font-size: 27px;
    font-weight: normal;
    font-family: Tahoma, Geneva, sans-serif;
    margin-bottom: 0px;
}



#donate img {
    position: relative;
    left: 12px;
    top: -5px;
    float: left;
}

#donate #showplayer img {
    position: static;
    left: 0;
    top: 0;
    float: none;
}

#donate h2 {
    position: relative;
    margin-bottom: 10px;
    left: 65px;
    top: -10px;
}

#donate h2, #donate h1 .subheader {
    float: left;
    color: #202020;
    font-size: 14px;
    font-weight: normal;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    width: 319px;
}

#donate h2 a {
    text-decoration:underline;
    color: #202020;
}

#donate #mission h3 {
    position: relative;
    left: -13px;
    color: #414141;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

#donate #give h3 {
    position: relative;
    color: #c71826;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1em;
    font-size: 16px;
    text-align: center; 
}

#donate #mission p {
    color: #6b6b6b;
    text-align: left;
    font-size: 14px;
}

#donate #give p {
    color: #c71826;
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}

#donate #give p a, #donate #showplayer a{
    color: #6b6b6b;
    text-decoration: underline;
}

#donate #give ul {
    color: #c71826;
    font-size: 17px;
    list-style-image: url('images/small-heart.gif');
    line-height: 1.2em;
    text-align: left;
    margin-left: 60px;
}

#donate #give li {
    margin-top: 0.5em;
}

#donate #give li a {
    color: #c71826;
    text-decoration: underline;
}

#donate a img {
    border: 0px;
    position: relative;
    left: 45px;
    top: -4px;
    float: left;
}

#donate input {
    width: 40px;
    float: left;
}

div.shadow {
    width: 792px;
    background: url(images/shadow.gif) bottom left repeat-x;
    margin: 0px -16px;
}

div.shadow div {
    position: relative;
    top: -5px;
}

#donate #drawer {
    display: none;
    clear:both;
    height: 285px;
}

#donate #mission {
    position: relative;
    margin: 30px 15px 0 32px;
    width: 210px;
    height: 250px;
    float: left; 
}

#donate #give {
    position: relative;
    margin: 15px 10px 0 10px;
    width: 190px;
    height: 250px;
    float: left;
}

#donate #showplayer {
    position: relative;
    padding: 20px 0 10px;
    width: 320px;
    float: left;
    text-align: center;
}

#donate #showplayer a {
    font-size: 10px;
    margin-top: 3px;
}

#donate #close {
    text-align: right;
    float: right;
    position: relative;
    top: -20px;
    left: -4px;
}

#donate #close a {
    color: #dadada;
    text-decoration: none;
}

#donate #close .icon {
    height: 15px;
    width: 15px;
    background: url('images/x.gif') no-repeat center;
    float: right;
    margin: 2px;
}

#donate #thermometer {
    position: relative;
    top: -5px;
    left: 65px;
    float: left;
}

#donate #thermometer .background {
    width: 319px;
    height: 10px;
    background: #ee9ca5;
}

#donate #thermometer .temperature {
    background: #d52c2f;
    width: 84%;
    height: 10px;
    position: static;
    top: 0;
    z-index: 1;
}

#donate #thermometer #labels {
    width: 319px;
    font-size: 10px;
    font-weight: bold;
}

#donate #thermometer ul#labels {
    color: black;
    margin-top:-5px;
}

#donate #thermometer #labels li {
    float: left;
    text-align: right;
}

#donate #thermometer .tenk {
    width: 64px;
}

#donate #thermometer .thirtyk {
    width: 127px;
}

#donate #thermometer .fiftyk {
    width: 128px;
}
