/*
	Color sets
	
	Red: #c01723
	Brick red: #8e111a
	Dark gray: #191919
	
*/

html {margin: 0; padding: 0;}
body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: Arial, sans-serif;
	font-size: 12px; /*I don't normally like to set fixed font, but this site kinda calls for it*/
	color: #191919;
background: url(images/top.png) repeat-x;
}

a {color: #333333; text-decoration: none;}
a:hover {color: #666; text-decoration: none;}

img, img a, img a:hover {border: 0;}
h1, h2, h3, h4, h5 {font-weight: normal;}

form {
    margin: 0;
    padding: 0;
}
/*****************************************************
	Structure
******************************************************/
.page {
	width: 820px;
	margin: 0 auto;
	overflow: hidden;
}

#container {
	width: 820px;
	overflow: hidden;
	margin: 0 auto;
	padding: 17px 0 0;
}

#container > div#content, #container > div:first-child {
	float: left;
	display: inline;
        padding-left: 15px;
        width: 501px;
}

#sideBar {
	float: right;
	display: inline;
	width: 261px;
	margin-left:-10px;
}

#topBar {
	height: 34px;
	width: 100%;
}

#topBar .page {
	border-right: 1px solid #76181b;
}

#topBarLower {
	height: 25px;
	width: 100%;
	border-bottom: 1px solid #414141;
}
#topBarLower .page {
    padding-left: 10px;
}

#guestEditorsPicks, #featured {
	height: 272px;
	padding: 17px 0;
	border-bottom: 1px solid #8e111a;
	background: #c01723;
}

#featured {
	background: #737373;
	border-bottom: 1px solid #454545;
}
#guestEditorsPicks .page {padding: 0 17px; width: 786px;}



/*****************************************************
	Content
******************************************************/
/* Load indicator */

#load-indicator {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: -30px;
    z-index: 100;
}

#load-indicator img {
    position: relative;
    bottom: -4px;
    margin: 0 auto;
    padding: 4px;
    background: url(images/load-indicator-bg.png);
}

/*Guest editor*/
#guestEditorContent {
	width: 216px;
	float: left;
	display: inline;
	color: white;
}
#guestEditorContent .preamble {width: 200px; margin: 0 auto; overflow: hidden;}
#guestEditorContent h2 {font-size: 22px; margin: 0 0 10px 0;}
#guestEditorContent p {margin: 7px 0; font-size: 11px;}
#guestEditorContent p a {color: white; text-decoration: underline;}

#guestEditorContent .userInfo {margin: 20px 0; font-size: 12px;}
#guestEditorContent .userInfo a.tiny_thumbnail {float: left; display: inline; margin-right: 10px;}
#guestEditorContent .userInfo .username, #guestEditorContent .userInfo .username a {font-weight: bold; color: white; text-decoration: none;}
#guestEditorContent .userInfo .location {display: block; padding-top: 5px;}

/*Featured items carousel widget*/
#featuredItemsCarousel {
	height: 221px;
}

.smallCarousel {width: 536px; float: right; display: inline;}
.largeCarousel {width: 794px; margin: 0 auto;

}

#featuredItemsCarousel #innerContent {
	overflow: hidden;
	height: 271px;
	float: left;
	display: block;
        position: relative;
}

.smallCarousel #innerContent {width: 468px;}
.largeCarousel #innerContent {width: 728px;
    background: url(images/featured_bg.png);}

#featuredItemsCarousel #innerContent ul {
	margin: 0;
	padding: 1px;
	list-style: none;
	width: 10000px;
        position: absolute;
        left: -645px;
}

#featuredItemsCarousel #innerContent ul li {
	height: 260px;
	width: 242px;
	padding: 8px 0 0 0;
	float: left;
	overflow: hidden;
	display: inline;
	text-align: center;
border-right: 1px solid #fefefe;
border-left: 1px solid #bbb;
}


#featuredItemsCarousel #innerContent ul li:hover {

}



#featuredItemsCarousel #innerContent ul li div.featuredItem {
border: 1px solid #111;
width: 192px;
padding: 0 !important; 
margin: 20px auto 0 !important;
}




#featuredItemsCarousel #innerContent ul li div.featuredItem a{
display: block;
height: 128px;
background: url(images/thumb_overlay.png) 0 -120px repeat-x;
}




#featuredItemsCarousel #innerContent ul li:hover div.featuredItem a{
background: url(images/thumb_overlay.png) 0 19px repeat-x;
}





#featuredItemsCarousel #innerContent ul li div.featuredItem span{
background: url(images/featured_badge.png) no-repeat;
display: block;
height: 15px;
border-top: 1px solid #333;
color: #f5e1e1;
text-transform: uppercase;
font-size: 10px;
padding-top: 2px;
}

#featuredItemsCarousel #innerContent ul li span.title {
display: block;
margin: 15px auto 0;
clear: both;
width: 200px;
background: 0 !important;
overflow: hidden;
height: 17px;
font-weight: bold;
font-size: 13px;
}

#featuredItemsCarousel #innerContent ul li span.description {
height: 21px;
overflow: hidden;
font-size: 10px;
display: block;
margin: 0 auto 13px;
width: 192px;
line-height: 1em;

}

/*Carousel buttons*/
#featuredItemsCarousel #button_previous {
	height: 271px;
	width: 33px;
	background: url(images/feat_button_left.png) 0 0 no-repeat;
	position: relative;
	z-index: 2;
	float: left;
	display: inline;
        cursor: pointer;
}
#featuredItemsCarousel #button_next {
	height: 271px;
	width: 33px;
	background: url(images/feat_button_right.png) 0 0 no-repeat;
	cursor: pointer;
	position: relative;
	z-index: 2;
	float: right;
	display: inline;
}


#featuredItemsCarousel #button_next:hover {
	background-position: 0 -271px;
}

#featuredItemsCarousel #button_previous:hover {
	background-position: 0 -271px;
}

/*Video thumbnail lists*/
ul.videoFeed {
	list-style: none;
	margin: 15px 0;
	padding: 0 0 0 5px;
	overflow: hidden;
	height: 100%;
}

ul.videoFeed li {
	width: 115px;
	float: left;
	display: inline;
	margin: 0 4px;
	text-align: center;
}

ul.videoFeed li span.title {font-weight: bold; display: block; margin: 2px 0 0 0;}


/*Title bar headers and widget boxes*/
h3.title_bar, h3.search_result {
	width: 469px;
	background: url(images/title_bar.png) 0 0 no-repeat;
	height: 33px;
	line-height: 33px;
	color: #c01723;
	font-size: 14px;
	margin: 0;
	padding: 0 16px;
}

h3.search_result {color: #191919;}

h3.widget_title_bar {
	width: 229px;
	background: url(images/small_title_bar.png) 0 0 no-repeat;
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	margin: 0;
	padding: 0 16px;
}

.widget {
	padding: 0 13px 13px 13px;
	width: 233px;
	border: 1px solid #c3c3c3;
}

.widget ul.recommended {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget ul.recommended li {
	border-bottom: 1px solid #d9d9d9;
	margin: 13px 0 0 0;
	padding-bottom: 10px;
	overflow: hidden;
	height: 100%;
}

.widget ul.recommended li .thumb {float: left; display: inline; width: 109px;}
.widget ul.recommended li .meta {width: 115px; float: right; display: inline;}
.widget ul.recommended li .meta span.title {display: block; height: 54px; overflow: hidden;}
.widget ul.recommended li.last_li {border: 0; padding: 0;}

.widget_close {
	width: 229px;
	background: url(images/small_title_bar_bottom.png) 0 0 no-repeat;
	height: 31px;
	line-height: 31px;
	font-size: 11px;
	margin: 0;
	padding: 0 16px;
	text-align: right;
}

.widget_close a {background: url(images/arrow_1.png) right 3px no-repeat; padding: 0 13px 0 0;}
.widget_close a span {position: relative; z-index: 1;}

span.rss {background: url(images/ico_rss_title.png) right 11px no-repeat; display: block;}
span.streaming {background: url(images/ico_streaming_title.png) right 8px no-repeat; display: block;}
span.favorite {background: url(images/ico_heart.png) right 10px no-repeat; display: block;}

/*Search Results*/
h2.searchResults {
	margin: 10px 0 24px 0;
	padding: 0 0 0 10px;
}

h2.searchResults span.main_results {display: block; margin: 0 0 7px 0; font-size: 15px; font-weight: bold;}
h2.searchResults span.comprehensive_results {display: block; margin: 0 0 7px 0; font-size: 10px; font-weight: normal; color: #8c8c8c;}
h2.searchResults span.comprehensive_results a {color: #8c8c8c; text-decoration: underline;}

ul#searchResults {
	margin: 20px 0;
	padding: 0 0 0 10px;
	list-style: none;
}
#sort, .pager {
    padding-top: 5px;
}

#sort {
    padding-left: 10px;
}

#sort, #sort a {
    color: lightGrey;
}

#sort .on, #sort h4 {
    color: grey;
    font-size: 100%;
    display: inline;
}

.pager {
    padding-right: 30px;
}

.pager, .pager a {
    color: lightGrey;
}

.pager h4, .pager .current-page {
    color: grey;
    display: inline;
}

ul#searchResults > li {
	overflow: hidden;
	height: 100%;
	margin: 10px 0 5px 0;
}

ul#searchResults li h4 {font-size: 16px; font-weight: bold; margin: 12px 0 8px 0; padding: 0;}
ul#searchResults li .meta {
	width: 348px;
        height: 80px;
	float: right;
	display: inline;
	font-size: 11px;
        overflow: hidden;
}

ul#searchResults li .meta p {margin: 5px 0 0 0;}

ul#searchResults li .button_block {margin: 0;}

ul#searchResults li .searchResultsMeta {
	clear: both;
	overflow: hidden;
	margin: 4px 0 0 0;
	height: 100%;
}

ul.info {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.info li {
	float: left;
	display: inline;
	margin: 0 1px;
}

ul.info li a {
	float: left;
	display: inline;
	margin: 0 1px;
}

#rateTag span {
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
/*    margin-bottom: -15px; */
    padding-right: 5px;
}

#rateTag {
    display:inline;
    float:right;
    margin: 17px 15px 0 0;
}

ul.info li.available, ul.info li.subscribers {font-size: 9px; float: right; display: inline; padding: 3px 0 0 20px;}
ul.info li.rate_tag {text-transform: uppercase; padding-top: 1px; font-size: 13px; font-weight: bold;}

/* Edit interface */
.edit, .edit-box {
    background: #fff49e;
    width: 800px;
    margin: 0 auto;
    padding: 5px 10px 2px;
    min-height: 2em;
    color: #6d6d6d;
}

.edit h2 {
    background: url(images/arrow-right.png) left no-repeat;
    padding-left: 20px;
    margin-bottom: 5px;
    float: left;
    cursor: pointer;
}

.edit.open h2 {
    background-image: url(images/arrow-down.png);
}

.edit h3 {
    font-size: 90%;
    font-weight: normal;
    float: right;
    padding-top: 0.5em;
}

.channel-full .moderate-actions {
    margin: 5px -10px 0;
    background: #fffdea;
    display: block;
}

.moderate-actions {
    height: 2em;
    clear: left;
    padding: 7px 10px 0;
    margin: 5px 0;
}

.moderate-actions li {
    float: left;
    display: inline;
}

.moderate-actions input {
    margin: 0 2px;
    cursor: pointer;
}

.moderate-actions li.channel-action-right {
    float: right;
}

.moderate-actions .channel-action-right input[type=text] {
    border: #9d9d9d 1px solid;
    cursor: inherit;
}

.moderate-actions .question {
    color:black;
    font-weight:bold;
    margin-left:15px;
}

.moderate-actions .question a {
    text-decoration: underline;
}

.edit-box {
    background: #fffdea;
    border-bottom: #fff49e 2px solid;
}

.edit-box > div {
    position: relative; 
}

.edit-box form {
    width: 420px;
    overflow: hidden;
}

.edit-box form div {
    margin-bottom: 10px;
    width: 100%;
}

.edit-box li div.label {
    font-size: 120%;
}

.edit-box .label {
    font-weight: bold;
    display: block;
    float: left;
    line-height: 130%;
}

.edit-box .help-text {
    display: inline;
}

.edit-box input[type="text"], .edit-box textarea {
    border: #9d9d9d 1px solid;
    padding: 2px 4px;
    width: 100px;
    display: inline;
}

.edit-box textarea {
    clear: left;
    display: block;
/*    width: 290px;*/
}

.edit-box .id_url, .edit-box .id_name, .edit-box .id_website_url {
    padding-top: 5px;
}

.edit-box .id_description div.label {
    float: none;
}

.edit-box div.id_languages, .edit-box div.id_categories {
    float: left;
    clear: none;
    width: auto;
}

.edit-box .id_languages {
    margin-left: 20px;
}

.edit-box div.id_languages > div.label, .edit-box div.id_categories > label {
    float: none;
    margin-bottom: 5px;
}

.edit-box .form-input-triplet label {
    width: 2em;
    text-align: center;
}

.edit-box ul.form-input-triplet {
    list-style-type: none;
}

.edit-box div.id_postal_code, .edit-box div.id_hi_def {
    clear: left;
}

.edit-box div.id_postal_code input {
    width: 6em;
}

.edit-box .thumbnail-select {
    display: none;
}

.edit-box .thumbnail-select h2 {
    float: left;
    margin-right: 10px;
}

.edit-box .thumbnail-select h2:after {
    content: ":";
}

.edit-box input.submit {
    margin: 5px;
}

.edit-box div.statistics {
    background-color:#fff49e;
    height:220px;
    width:300px;
    float: right;
    margin-top: 5px;
}

.edit-box .statistics h2 {
    font-weight: normal;
    text-align: center;
}

.edit-box .statistics dl, .edit-box .statistics span {
    margin-left: 20px;
}

.edit-box .statistics dl {
    margin-top: 1em;
}

.edit-box div.notes {
    float: right;
    padding-top: 10px;
    width: 300px;
}

.edit-box .notes h2 {
    color: darkRed;
    padding-bottom: 5px;
}

.edit-box .notes h2 span {
    font-size: 80%;
    font-weight: normal;
    color: #6d6d6d;
}

.edit-box .notes input[type="submit"], .edit-box .notes textarea {
    float: left;
    clear: both;
    margin-top: 10px;
}


/*Channel info*/
#channelInfo {
	background: url(images/channel_info_bg.png) 0 0 repeat-x;
	height: 53px;
}

#channelInfo h1 {margin: 0 0 0 13px; padding: 0; line-height: 53px; font-size: 22px; float: left; display: inline;}
#channelInfo h1 img {margin-left: 10px; display: inline;}

#channelWebsite {
	background: url(images/channel_website_bg.png) 0 0 repeat-x;
        height: 100%;
}

#channelWebsite iframe {
    width: 100%;
    float: right;
}

.inactive, .inactive .page {
    height: 31px;
}

.inactive h4 {margin: 0; line-height: 31px; float: left; display: inline;}
.inactive h4 a {
	color: white !important;
	font-size: 15px;
	background: url(images/channel_arrow_right_white.png) 0 3px no-repeat !important;
	padding: 0 0 0 18px;
	margin: 0;
}

.inactive iframe, #channelDetails.inactive .thumb {
    display: none;
}

#channelWebsite h4, #channelDetails h4 {
    margin: 0;
    line-height: 31px;
    float: left;
    display: inline;
}

#channelWebsite h4 a, #channelDetails h4 a {
	font-size: 15px;
	background: url(images/channel_arrow_down_black.png) 0 3px no-repeat;
	padding: 0 0 0 18px;
	margin: 0;
}

#channelDetails {
	background: #cccccc;
	padding: 10px 0;
	overflow: hidden;
	height: 100%;
	border-bottom: 1px solid #bababa;
}

#channelDetails .channelDetailsContent {float: left; display: inline; width: 565px;}
#channelDetails .channelDetailsContent p.description {
	width: 400px;
	margin: 10px 0 10px 18px;
	float: left;
	display: inline;
	clear: left;
}

#channelDetails .thumb {
	float: right;
	display: inline;
	width: 222px;
	height: 156px;
	background: url(images/channel_thumb_bg.png) 0 0 no-repeat;
	padding: 3px;
	margin: 10px 13px 0 0;
}


#channelRelated {
	background: #e9e9e9;
	border-bottom: 1px solid #bababa;
	padding: 10px 0;
}
#channelRelated h3 {
	padding: 0;
	margin: 0 0 10px 13px;
	font-size: 14px;
	font-weight: bold;
}
#channelRelated ul {
	list-style: none;
	margin: 10px 0 10px 0;
	padding: 0 0 0 13px;
	overflow: hidden;
	height: 100%;
}
#channelRelated ul li {
	width: 250px;
	float: left;
	display: inline;
	margin: 0 28px 0 0;
}
#channelRelated ul li.last_li {margin: 0;}
#channelRelated ul li div.thumb {float: left; display: inline;}
#channelRelated ul li div.meta {float: right; display: inline; width: 150px; padding: 8px 0 0 0;}
#channelRelated ul li div.meta table {margin: 0 0 0 -5px;}
#channelRelated ul li div.meta span.title {font-weight: bold; display: block; margin: 0 0 6px 0;}
#channelRelated ul li div.info {float: right; display: inline; width: 150px; padding: 8px 0 0 0;}
#channelRelated ul li div.info span.title {font-weight: bold; display: block; margin: 0 0 6px 0;}

#recentlyOnChannel {padding: 0 0 20px 0;}
#recentlyOnChannel h3 {
	margin: 15px 0 5px 0;
	padding: 0 0 0 15px;
}

#recentlyOnChannel .detailsTop {
	background: url(images/channel_details_box_top.png) top left no-repeat;
	width: 749px;
	height: 7px;
	margin: 10px 0 0 15px;
	font-size: 1px;
}
#recentlyOnChannel .details {
	background: url(images/channel_details_box.png) left bottom no-repeat;
	width: 727px;
	margin: 0 0 0 15px;
	padding: 4px 11px 11px 11px;
	overflow: hidden;
	height: 100%;
}
#recentlyOnChannel .details a.download {
    display: none;
}
#recentlyOnChannel .details .thumb {
	width: 154px;
        height: 105px;
	float: left;
	display: inline;
}
#recentlyOnChannel .details.playable .thumb {
    border: 2px solid red;
}

#recentlyOnChannel .details .description {
	padding: 0 0 0 20px;
	width: 315px;
	float: left;
	display: inline;
	margin: 3px 0 0 10px;
}
#recentlyOnChannel .details .description h4 {
	color: #1e66f2;
	margin: 0;
	padding: 0;
	color: #1e66f2;
	font-size: 16px;
}
#recentlyOnChannel .details .description p {
	margin: 3px 0;
	padding: 0;
	line-height: 14px;
	font-size: 11px;
	color: #575451;
}
#recentlyOnChannel .details .on {background: url(images/ico_blue_dot.png) 0 2px no-repeat;}

#recentlyOnChannel .details .meta {
	width: 170px;
	float: right;
	display: inline;
	overflow: hidden;
	height: 100%;
	font-size: 11px;
}
#recentlyOnChannel .details .meta .form_row {overflow: hidden; height: 100%; margin: 2px 0;}
#recentlyOnChannel .details .meta span.tag {
	float: left;
	display: inline;
	width: 5em;
	color: #8c8c8c;
}
#recentlyOnChannel .details .meta span.item {
	float: left;
	display: inline;
	font-weight: bold;
	color: #444444;
}
#recentlyOnChannel .details .meta span.item a {text-decoration: underline;}


/*****************************************************
	Menus
******************************************************/
ul#mainMenu {
	float: left;
	display: inline;
	height: 34px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 561px;
}

ul#mainMenu li {
	height: 34px;
	line-height: 34px;
	font-family: "Arial Bold", Arial;
	text-transform: uppercase;
	float: left;
	display: inline;
	padding: 0;

}

ul#mainMenu li:hover{
background: url(images/nav_line_dark.png) ;
}


ul#mainMenu li a {
padding: 0 1px 0 0 ;
display: block;
color: #faeaea; 
height: 34px;
background: url(images/nav_line_darkest.png) right repeat-y;
}

ul#mainMenu li a:hover {
color: #f6bec2;
background: url(images/nav_line_dark.png) right repeat-y;
}



ul#mainMenu li a span.nav_text{
padding: 0 21px 0 24px;
display: block;
background: url(images/nav_line_dark_lighter.png) right repeat-y;
}

ul#mainMenu li a:hover span.nav_text{
background: none;
}

ul#mainMenu li a span.nav_text .dropShadow{
margin: -5px 0 0 0 !important;

}
    

ul#mainMenu li#logo {
width: 89px; 
height: 33px;

padding: 0 1px 0 0;
}


ul#mainMenu li#logo a{
width: 87px; 
padding-top: 33px !important;
overflow: hidden;
height: 0px;
padding: 0 2px 0 0;
display: block;
background: url(images/miro.png) repeat-x;
}

ul#mainMenu li#logo {
background: url(images/nav_line_darkest.png) right repeat-y;
}

ul#mainMenu li#logo a:hover{
background: url(images/miro.png) 0 -33px repeat-x;
}

.video_love{
width: 173px;
}

.video_feeds{
width: 130px;
}

.streaming_shows{
width: 168px;
}

/*Second Menu*/
ul#lowerMenu {
	background: url(images/lower_top_bar_bg.png) 0 0 repeat-x;
	height: 25px;
	list-style: none;
	margin: 0;
	padding:0pt 4px 0pt 0pt;
}
ul#lowerMenu li {
	height: 25px;
	line-height: 25px;
	font-family: "Arial Bold", Arial;
	padding: 0 15px 0 15px;
	float: left;
	display: inline;
}
ul#lowerMenu li a {color: #252525; float: left; display: inline; height: 25px;}
ul#lowerMenu li a:hover {color: #545454;}

ul#lowerMenu li#language, ul#lowerMenu li#account {
	padding: 0;
	float: right;
	display: inline;
	background: url(images/lower_top_bar_separator.png) 0 0 no-repeat;
}

ul#lowerMenu li#language a, ul#lowerMenu li#account a {
	padding: 0 15px;
	display: block;
        overflow: hidden;
}
ul#lowerMenu li#language a:hover, ul#lowerMenu li#account a:hover,
ul#lowerMenu li#language.hover a, ul#lowerMenu li#account.hover a {
	background: #c92323 url(images/nav_line_darkest.png) right repeat-y;	color: white;
}

#searchBG {
display: none;
}

#searchSpot {
    width: 259px;
    height: 33px;
	float: right;
    z-index: 3;
	background: #811c1f url(images/search_bg.png) top left no-repeat;
}

#searchSpot input {
	background: url(images/top_bar_search.png) 0 1px no-repeat;
	width: 158px;
	padding: 8px 16px 1px 12px;
	border: 0;
	text-align: left;
	float: right;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 21px;
	color: #333;
	overflow: hidden;
	margin: 2px 2px 0 0;
}

#searchSpot input.headSearch {
    text-align: right;
    color: #999;
}


/*Hover Menu*/
#hover_align{
	width: 820px;
	margin: 0 auto;
}

#hoverMenuLanguage span, #hoverMenuLanguage button{
background: none;
}

#hoverMenuLanguage {
	width: 274px;
	overflow: hidden;
	position: absolute;
        top: -1000px;
	margin: -1px 0 0 576px;
	z-index: 100;
}

#hoverMenuLanguage #upButton {
	width: 274px;
	height: 26px;
	background: url(images/hover_menu_top.png) 0 0 no-repeat;
}

#hoverMenuLanguage #upButton:hover {
	background: url(images/hover_menu_top.png) 0 -27px no-repeat;
}

#hoverMenuLanguage #downButton {
	width: 274px;
	height: 56px;
	background: url(images/hover_menu_bottom.png) 0 0 no-repeat;
}

#hoverMenuLanguage #downButton:hover {
	width: 274px;
	height: 56px;
	background: url(images/hover_menu_bottom.png) 0 -56px no-repeat;
}

#hoverMenuLanguage ul {
	list-style: none;
	margin: 0;
	padding: 0 30px;
	height: 300px;
        overflow: hidden;
	background: url(images/hover_menu.png) 0 0 repeat-y;
}

#hoverMenuLanguage ul button {
text-align: left;
width: 214px;
margin: 0;
border-top: 1px solid #c23333;
border-bottom: 1px solid #ab1717;
height: 30px;
 }


#hoverMenuLanguage ul button:hover {
background: #ac1717;
border-bottom: 1px solid #ac1717;
border-top: 1px solid #8d1515;
 }

#hoverMenuLanguage ul button span {
font-size: 11px;
font-weight: bold;
color: #fff !important;
}

#hoverMenuLanguage ul li.current button {
border-bottom: 1px solid #520404;
border-top: 1px solid #690404;
background: url(images/hover_menu_bg.png) bottom left repeat-x;}
#hoverMenuLanguage ul button span {
	padding: 0 0 0 10px;
	display: block;
}

#hoverMenuLanguage ul li.current button span {
background: url(images/menu_check.png) 190px 3px no-repeat;}

#hoverMenuLanguage ul button:hover span {
    color: black;
}

/*Hover Menu - Login*/
#hoverMenuLogin {
	width: 337px;
	overflow: hidden;
	position: absolute;
        top: -1000px;
	margin: -1px 0 0 422px;
	z-index: 100;
}

#hoverMenuLogin > ul {
	list-style: none;
	margin: 0;
	padding: 0 25px 0 31px;
	height: 100%;
	background: url(images/hover_menu2_bg.png) 0 0 repeat-y;
}

#hoverMenuLogin > ul li {
	background: #b11f1f url(images/hover_menu2_inner_bg.png) 0 0 repeat-x;
	width: 235px;
	padding: 20px 23px 14px 23px;
	margin: 0;
	line-height: 20px;
	border-bottom: 1px solid #9e1515;
	color: white;
}

#hoverMenuLogin ul li .form_row {height: 100%; overflow: hidden; margin: 0 0 10px 0;}
#hoverMenuLogin ul li label {
	float: left;
	display: inline;
	width: 6em;
	font-size: 12px;
	font-weight: bold;
}

#hover_align ul li input[type=text], #hover_align ul li input[type=password] {
	background: url(images/login_text_bg.png) 0 0 no-repeat;
	width: 130px;
	padding: 4px 14px 1px 9px;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 16px;
	color: #333;
	overflow: hidden;
	margin: 5px 0px 0 0;
	float: right;
	display: inline;
}

#hoverMenuLogin ul li#login a.forgot_password {
	background: url(images/ico_forgot_password.png) 0 0 no-repeat;
	padding: 0 0 0 22px;
	color: white;
	float: left;
	line-height: 20px;
	font-size: 11px;
margin-top: 15px;
	display: inline;
}


#login_button{
margin: 15px 0 0 0;
background: url(images/login_button.png) !important;
}

#login_button:hover{
background: url(images/login_button.png) 0 -22px !important;
}


#hoverMenuLogin ul li#login a.forgot_password:hover {color: #fadada;}
#hoverMenuLogin #register {
	width: 337px;
	height: 66px;
	background: url(images/hover_menu2_bottom.png) 0 0 no-repeat;
}
#hoverMenuLogin #register p {
	border-top: 1px solid #b91818;
	width: 255px;
	padding: 0 13px;
	margin: 0 25px 0 31px;
	color: white;
	line-height: 33px;
	height: 33px;
}

#hoverMenuLogin #register p a {overflow: hidden; height: 100%; display: block;}
#hoverMenuLogin #register p a span.register_tag {color: white; float: left; display: inline;}
#hoverMenuLogin #register p a span.always_free {color: #de6b6b; text-transform: uppercase; font-size: 8px; float: right; display: inline; margin: 0 13px 0 0;}
#hoverMenuLogin #register p a:hover span.register_tag {color: #eed9db;}
#hoverMenuLogin #registerHidden, #hoverMenuLogin .form-errors {
    display: none;
}

#hoverMenuLogin.loggedin {
    width: 16em;
    margin-left: 543px;
}

#hoverMenuLogin.loggedin #register {
    width: 16em;
}

#hoverMenuLogin.loggedin #register p {
    width: 12em;
}

#hoverMenuLogin.loggedin ul {
    list-style: inside disc;
    padding: 0 0 0 31px;
    color: white;
}

#hoverMenuLogin.loggedin ul li, #hoverMenuLogin.loggedin ul li#login {
	background: #b11f1f url(images/hover_menu2_inner_bg.png) 0 0 repeat-x;
	width: 12em;
	padding: 0 10px;
	margin: 0;
        font-weight: bold;
	line-height: 30px;
	border-bottom: 1px solid #9e1515;
        color: white;
}

#hoverMenuLogin.loggedin ul li a {
    color: white;
}

#hoverMenuSubmit {
	width: 409px;
	overflow: hidden;
	position: absolute;
	margin: -1px 0 0 195px;
	z-index: 100;
}

#hoverMenuSubmit > form > ul {
	list-style: none;
	margin: 0;
	padding: 0 24px 0 31px;
	height: 100%;
	background: url(images/popup_bg.png) 0 0 repeat-y;
}

#hoverMenuSubmit .top {
	background: url(images/popup_top.png) 0 0 repeat-x;
	width: 349px;
	margin: 0;
	padding: 30px 30px 0 30px;
	height: 22px;
}

#hoverMenuSubmit .top h5 {
	color: white;
	font-size: 18px;
	margin: 0;
	padding: 0 0 0 15px;
}

#hoverMenuSubmit .top h5 span.header {
	float: left;
	display: inline;
}

#hoverMenuSubmit .top h5 span.close a {
	float: right;
	font-size: 8px;
	color: #eb6f6f;
	background: url(images/ico_close.png) right 0 no-repeat;
	padding: 2px 23px 0 0;
	text-transform: uppercase;
	display: inline;
}

#hoverMenuSubmit ul li.upper {
	background: #b41f1f url(images/popup_inner_bg.png) 0 0 repeat-x;
	width: 329px;
	padding: 20px 12px 14px 12px;
	margin: 0;
	line-height: 30px;
	border-bottom: 1px solid #9e1515;
	color: #fff;

}

#hoverMenuSubmit ul li.upper .form_row {height: 100%; overflow: hidden; margin: 0 0 5px 0;}
#hoverMenuSubmit ul li.upper .form_row_center {height: 100%; overflow: hidden; margin: 10px 0; text-align: center;}
#hoverMenuSubmit ul li.upper .form_row_center div.preview {
    border: 1px solid #888;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

#hoverMenuSubmit ul li.upper .form_row_center div.preview .overlay {position: absolute; right: 0; z-index: 2;}
#hoverMenuSubmit ul li.upper .form_row_center img.add_cat {}
#hoverMenuSubmit ul li.upper label, #hoverMenuSubmit ul li.upper label.longlabel {
	float: left;
	display: inline;
	font-size: 12px;
	font-weight: bold;
}

#hoverMenuSubmit ul li.upper label.longlabel {width: 12em;}
#hoverMenuSubmit ul li.upper .form_row img {
    float: left;
    padding: 10px 5px;
}

#hoverMenuSubmit ul li.upper label.question span {background: url(images/ico_question.png) right 1px no-repeat; padding: 0 17px 0 0;}
#hoverMenuSubmit ul li.upper textarea {
	background: url(images/popup_textarea_bg.png) 0 0 no-repeat;
	width: 306px;
	padding: 4px 14px 1px 9px;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 77px;
	color: #333;
	overflow: hidden;
	margin: 0;
	float: right;
	display: inline;
}

#hoverMenuSubmit ul.form-input-triplet {
    list-style-type: none;
    float: right;
}

#hoverMenuSubmit .bottom {
	width: 409px;
	height: 66px;
	background: url(images/popup_bottom.png) 0 0 no-repeat;
}

#hoverMenuSubmit .bottom p {
	border-top: 1px solid #b91818;
	width: 327px;
	padding: 5px 13px 0 13px;
	margin: 0 25px 0 31px;
	color: white;
	height: 33px;
	line-height: 21px;
}

#hoverMenuSubmit .bottom p span.required {float: left; display: inline; font-size: 10px;}
#hoverMenuSubmit .upper a {color: white; text-decoration: underline;}
#hoverMenuSubmit .upper a:hover {color: white; text-decoration: none;}

.form_row select {
	font-size: 11px;
	height: 26px;
	padding: 3px 0 0 0;
	width: 13em;
}

/*Help box*/
.help-text img {
    cursor: pointer;
}

.help_box {
	width: 238px;
        z-index: 100;
}

.help_box_top {
	width: 238px;
	height: 30px;
	background: url(images/help_box_top.png) 0 0 no-repeat;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0 0;
	color: #3b3b3b;
}

.help_box_top span {display: block; text-align: center;}
.help_box_top a.close {position: absolute; margin: 0 0 0 214px;}

.help_box_inner {
	color: #3b3b3b;
	width: 188px;
	padding: 0 18px 4px 22px;
	background: url(images/help_box.png) top left repeat-y;
	margin: 0 0 0 12px;
	font-size: 1px;
	overflow: hidden;
	height: 100%;
}

.help_box_inner p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 16px;
}

.help_box_inner p.more_info {
	margin: 5px 0 0 0;
	text-align: center;
}

.help_box_inner p.more_info a {
	color: #999999;
	position: relative;
	z-index: 1;
}

.help_box_bottom {
	width: 226px;
	height: 11px;
	background: url(images/help_box_bottom.png) 0 0 no-repeat;
	margin: 0 0 0 12px;
	font-size: 1px;
}

/*///////////////////////////////////////////////////////
	
 ~ Buttons, images, etc.
	
///////////////////////////////////////////////////////*/

/*Buttons*/
.large_add_button, .small_add_button, .tiny_add_button {
    color: white;
    float: left;
    display: inline;
}

.large_add_button a, .small_add_button a, .tiny_add_button a {
    display: inline;
    float: left;
}
.large_add_button a span.button_text, .small_add_button a span.button_text, .tiny_add_button a span.button_text {
	background: url(images/buttons/button_large.png) 0 0 no-repeat;
        float: left;
	display: inline;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	padding: 9px 7px 7px 14px;
	margin: 1px 0 0 0;
	cursor: pointer;
}

.small_add_button a span.button_text, .tiny_add_button a span.button_text {
	background: url(images/buttons/button_small.png) 0 0 no-repeat;
	font-size: 10px;
	padding: 2px 5px 5px 7px;
	margin: 0;
        text-transform: none;
}

.tiny_add_button a span.button_text {
	font-size: 9px;
	padding: 3px 2px 5px 5px;
}
.details_button, .streaming_button, .rss_button {
    color: white;
    float: left;
    display: inline;
}

.details_button a, .streaming_button a, .rss_button a {
    float: left;
    display: inline;
}

.details_button a span.button_text,
.streaming_button a span.button_text,
.rss_button a span.button_text {
	background: url(images/buttons/button_details.png) top left no-repeat;
	display: inline;
        float: left;
	font-size: 10px;
	color: white;
	padding: 2px 0px 5px 20px;
	margin: 0 0 0 4px;
	cursor: pointer;
}

.streaming_button a span.button_text {
	background: url(images/buttons/button_streaming.png) top left no-repeat;
}

.rss_button a span.button_text {
	background: url(images/buttons/button_rss.png) top left no-repeat;
}

.button_block {
    margin: 0 auto;
    padding: 0;
}

.search_meta_buttons {overflow: hidden; height: 100%;}

.channel_page_button {float: right; display: inline; margin: 10px 13px 0 4px;}

button {
	text-align: center;
	background: url(images/buttons/button_input_right.png) no-repeat right;
	border: 0;
	margin: 0;
	cursor: pointer;
	padding: 0 8px 0 0;
	overflow: visible;
}

button span {
	position: relative;
	display: block;
	white-space: nowrap;
	height: 20px;
	color: #373737;
	font: 11px/20px Arial, Helvetica, sans-serif;
	background: url(images/buttons/button_input_left.png) no-repeat left top;
	padding: 0 5px 0 14px;
}

#login button {
	background: none;

}
#login button span {

	background: none;
}

/*Link buttons*/
.view_more_featured_videos a {
	width: 200px;
	height: 26px;
	display: block;
	background: url(images/buttons/guest_transparent.png) 0 0 no-repeat;
	line-height: 26px;
	margin: 10px 0 0 0;
	padding: 0 0 0 16px;
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.view_more_featured_videos a:hover {color: #eed9db;}

/*Extras*/
.fl {float: left; display: inline;}
.fr {float: right; display: inline;}
.cleared {clear: both;}

/*Images*/
.tiny_thumbnail {display: block; width: 57px; border: 1px solid #881019; padding: 3px; background: #e1e1e1;}
.hd_tag_large {position: absolute; z-index: 2; margin: -6px 0 0 -15px;}
.hd_tag_small {position: absolute; z-index: 2; 
margin: -4px 0 0 36px;}
.search_hd {margin-left: 56px;}
.channel_hd {margin-left: 93px;}
#searchResults .thumb {float: left; display: inline;}
.add_favorite_channel {float: right; display: inline; margin: 10px 10px 0 0;}
.channel_feed_only {float: left; display: inline; margin: 17px 0 0 10px;}

.added_channel {
    background: beige;
    border: 2px solid black;
    border-left: 0px;
    height: 5em;
    padding: 5px;
    width: 10em;
}