<li class="moderator-action">
    {% if channel.is_approved %}
    <form method="POST" action="{{ channel.get_absolute_url }}">
        <input type="hidden" name="action" value="change-state">
        <input type="submit" name="submit" value="Unapprove">
    </form>
    {% else %}
    <form method="POST" action="{{ channel.get_absolute_url }} ">
        <input type="hidden" name="action" value="change-state">
        <input type="submit" name="submit" value="Approve">
        <input type="submit" name="submit" value="Reject">
        <input type="submit" name="submit" value="Sent message">
        <input type="submit" name="submit" value="Don't Know">
    </form>
    {% endif %}
</li>
<li class="moderator-action">
    <form action="{{ BASE_URL }}channels/{{ channel.id }}" method="POST">
        <input type="hidden" name="action" value="toggle-moderator-share">
        {% if channel.moderator_shared_at %}
        <input type="submit" value="Unshare with moderators">
        {% else %}
        <input type="submit" value="Share with moderators">
        {% endif %}
    </form>
</li>
