<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Miro Guide</title>
        <link rel="stylesheet" href="http://www.iheartmiro.org/css/style.css" type="text/css" media="screen"/>
        
</head>
<body>
    <div id="sky" style="min-width: 600px;">
    <div style="width: 700px; margin: 0 auto;">
	<img class="cloudleft" src="http://www.iheartmiro.org/images/cloud.png" alt="cloud" /> 
	<img id="heartlogo" src="http://www.iheartmiro.org/images/iheartmiro.png" alt="iheartmiro" />
	<img class="cloudright" src="http://www.iheartmiro.org/images/cloud.png" alt="cloud" />
	</div>
    </div> <!--/SKY-->
    <div id="horizon" style="min-width: 600px;">
		<div id="introtext" style="height: 450px; width: 500px; margin: 0px auto;">
		
		<h2 style="text-align: center;">This message will disappear forever,<br /> at midnight tonight!</h2>
		
                    <p>
                    
                    
                    <strong style="color:red;">For one day, we're putting this page between you and the Miro Guide.</strong>
                    <br />
                                       
                    </p>

                        <p><Strong style="color:red;">Why?</strong> 
                        Because we need your help to support development of Miro-- and it just takes 14 seconds of your time.
<br /><Br />
If you live in the US, Canada, France, Germany, or Japan you can help fund Miro just by installing a Firefox extension.  When you shop at Amazon using Firefox, this extension will give the referral 	fee to the non-profit that makes Miro.  It doesn't cost you anything.</p>
<Br /><br />

<div style="background: url(https://www.miroguide.com/css/images/green-button-guide.png) top left no-repeat; width: 349px; height: 68px; text-align: center; margin: 0 auto 0 auto; color: #fff; font-size: 30px; padding-top: 8px;">
<a style="color: #fff; padding: 12px 60px;" href="http://www.iheartmiro.org/">I Want to Help!</a>
</div>
<br />


<p style="text-align: center; font-size: 18px;">
<a href="/frontpage">Now Take Me to the Miro Guide >></a>
</p>


		</div> <!--/INTROTEXT-->
</div> <!--/HORIZON-->




<div id="grass"></div>
<div id="ground">
		
        </div> <!--/GROUND-->


    </body>
</html>
