<!-- START ACCOUNT BAR -->
{% load cg_helpers i18n %}
<div id="account-bar">
    <div id="account-bar-inner">
        {% if user.is_authenticated %}
        <div class="right">
            {{ user }}
            {% if user.is_moderator %}
            <a {% link "moderate" %}>{% trans "moderate" %}</a>
            {% endif %}
            <a {% link user.get_url %}>{% trans "profile" %}</a>
            <a {% link "accounts/logout" %}>{% trans "logout" %}</a>
        </div>
        <div class="left">
            {% if user.channels %}
            <a {% link user.channel_url %}>{% trans "My Submitted Channels" %}</a>
            {% endif %}
            <a {% link "channels/submit" %}>{% trans "Submit A Channel" %}</a>
        </div>
        {% else %}
        <div class="right">
            <a {% link "accounts/login" %}>{% trans "Login / Register" %}</a>
        </div>
        <div class="left">
            <a {% link "channels/submit" %}>{% trans "Submit A Channel" %}</a>
        </div>
        {% endif %}
    </div>
</div>
<!-- END ACCOUNT BAR -->
