<!-- START ACCOUNT BAR -->
{% load cg_helpers i18n %}
<div id="account-bar">
    <div id="account-bar-inner">
        <div class="links">
            {% if user.is_authenticated %}
            <div class="right">
                {{ user }}
                {% if user.is_moderator %}
                <a {% link "moderate" %}>{% trans "moderate" %}</a>
                {% endif %}
                <a {% link user.get_url %}>{% trans "profile" %}</a>
                <a {% link "accounts/logout" %}>{% trans "logout" %}</a>
            </div>
            <div class="left">
                {% if user.channels %}
                <a {% link user.channel_url %}>{% trans "My Submitted Channels" %}</a>
                {% endif %}
                <a {% link "channels/submit" %}>{% trans "Submit A Channel" %}</a>
            </div>
            {% else %}
            <div class="right">
                <a {% link "accounts/login" %}>{% trans "Login / Register" %}</a>
            </div>
            <div class="left">
                <a {% link "channels/submit" %}>{% trans "Submit A Channel" %}</a>
            </div>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>
{% if user.is_authenticated %}
{% if user.approved %}<!-- Approved -->{% else %}
<div id="approval-bar">
    <div id="approval-bar-inner">
        You haven't confirmed your account yet!  <a href="/accounts/confirm/{{ user.id }}/resend">Didn't get the e-mail?</a>
    </div>
</div>
    {% endif %}
{% endif %}
<!-- END ACCOUNT BAR -->
