{% load i18n %}
{% extends 'base.html' %}
{% block content %}
<div class="submit-thanks-page">
<h1>{% trans "Thanks for Submitting Your Channel" %}</h1>
<p>{% blocktrans %}
Your channel has been submitted!
{% endblocktrans %}</p>

<p>{% blocktrans %}
Our moderators will review your channel in the next few days to make
sure that it works in Miro and that the content is not
inappropriate.  Once the channel is approved, it will appear in the
'Just Added' section on the front page.
{% endblocktrans %}</p>

<h1>{% trans "Updating Your Channel Info" %}</h1>
<p>{% blocktrans %}
You can update the details about your channel at anytime.  Just login
to your account and click the 'My Submitted Channels' link.
{% endblocktrans %}</p>

<h1>{% trans "More Ways to Promote Your Channel" %}</h1>
<ul>
    <li>{% blocktrans %}
    1. Create a 1-Click subscribe link and post it on your website or
    blog.   Here are some for the feed you've just added:

    {{ html }}
    {% endblocktrans %}</li>
    <li>{% blocktrans %}
    2. Make a trailer for your channel and submit it to 
    <a href="http://www.thechannelchannel.tv/">The Channel Channel</a>.
    {% endblocktrans %}</li>
</ul>
</div>
{%endblock%}
