{% load i18n %}
{% extends 'base.html' %}
{% block content %}
<div class="submit-thanks-page">
<h1>{% trans "Thanks for Submitting Your Channel" %}</h1>
<p>{% blocktrans %}
Your channel has been submitted!
{% endblocktrans %}</p>

<p>{% blocktrans %}
Our moderators will review your channel in the next few days to make
sure that it works in Miro and that the content is not
inappropriate.  Once the channel is approved, it will appear in the
'Just Added' section on the front page.
{% endblocktrans %}</p>

<h1>{% trans "Updating Your Channel Info" %}</h1>
<p>{% blocktrans %}
You can update the details about your channel at anytime.  Just login
to your account and click the 'My Submitted Channels' link.
{% endblocktrans %}</p>

<h1>{% trans "Add a 1-Click Subscribe Button to Your Website" %}</h1>
<ul>
    <li>{% blocktrans %}
    A great way to promote your channel is to create a 1-Click subscribe link and post it on your website or
    blog.   Here are some for the feed you've just added:
    Make it easy for viewers to get your vidos on Miro, add one of these
    buttons to your website (just copy/paste the HTML code).
    <br/>
    <div class="one-click-button">
    {{ html }}
    </div>
    {% endblocktrans %}</li>
</ul>
</div>
{%endblock%}
