<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Miro Guide{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Participatory Culture Foundation" />
	<meta name="keywords" content="Miro Guide, Miro, Internet TV, RSS Video Player, Open Source Television, Bittorrent, Democracy Player, Participatory Culture Foundation, Flash, Streaming" />
	<meta name="description" content="A content directory of free channels that you can watch on your computer.  Works best when paired with Miro, an open-source Internet TV player." />
	<meta name="robots" content="all" />
<link rel="stylesheet" href="{{ STATIC_BASE_URL }}css/styles.css" type="text/css" media="screen" />
<!--[if lt IE 7]>
<link rel="stylesheet" href="{{ STATIC_BASE_URL }}css/ie_styles.css" type="text/css" media="screen" />
<script defer type="text/javascript" src="{{ STATIC_BASE_URL }}js/ie_png.js"></script>
<![endif]-->
<script type="text/javascript" src="{% if DEBUG %}{{ STATIC_BASE_URL }}js/jquery.min.js{% else %}http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js{% endif %}"></script>
<script type="text/javascript" src="{{ STATIC_BASE_URL }}js/miroguide.js"></script>
<script type="text/javascript">
function toggleMenu(el) {$('#' + el).toggle();}
function hideMenu(el) {$('#' + el).hide();}
</script>
{% block head %}
{% endblock %}
</head>
<body onpageshow="searchPageShow();">
  {% block navigation %}
	<div id="topBar">
		<div class="page">
			<ul id="mainMenu">
				<li id="logo"><a href="{{ BASE_URL }}"><img src="{{ STATIC_BASE_URL}}images/logo.png" alt="Miro" /></a></li>
				<li><a href="{{ BASE_URL }}feeds/">Video feeds</a></li>
				<li><a href="{{ BASE_URL }}shows/">Streaming shows</a></li>
				<li><a href="{{ BASE_URL }}recommended/">Videos you'll love</a></li>
			</ul>
			<div id="searchBG"></div>
			<div id="searchSpot">
                          <form method="GET" action="{{ BASE_URL }}search">
				<input type="text" class="headSearch" name="query" id="search_query" value="Search" />
                                <script type="text/javascript">
                                    $("#searchSpot input").focus(searchFocus).blur(searchBlur);
                                </script>
                          </form>
			</div><!--searchSpot-->
		</div><!--page-->
	</div><!--topBar-->
	<div id="topBarLower">
		<div class="page">
			<ul id="lowerMenu">
				<li><a href="{{ BASE_URL }}genre/">Genres</a></li>
				<li><a href="{{ BASE_URL }}channels/hd/">HD Channels</a></li>
				<li><a href="{{ BASE_URL }}channels/popular/">Most Popular</a></li>
				<li><a href="{{ BASE_URL }}channels/new/">New Shows</a></li>
				<li><a href="{{ BASE_URL }}language/">Video by Language</a></li>
				<li id="language"><a href="#" onclick="toggleMenu('hoverMenu')">Language</a></li>
				<li id="account"><a href="#" onclick="hideMenu('hoverMenu')">Account</a></li>
			</ul>
		</div><!--page-->
	</div><!--topBarLower-->

	<div id="hover_align">
		<div id="hoverMenu">
			<div id="upButton"></div>
			<ul>
				<li><a href="#"><span>Albanian</span></a></li>
				<li><a href="#"><span>Arabic</span></a></li>
				<li><a href="#"><span>Basque</span></a></li>
				<li><a href="#"><span>Cantonese</span></a></li>
				<li><a href="#"><span>Catalan</span></a></li>
				<li><a href="#"><span>English</span></a></li>
				<li><a href="#"><span>French</span></a></li>
				<li><a href="#"><span>Portuguese</span></a></li>
				<li><a href="#"><span>Spanish</span></a></li>
			</ul>
			<div id="downButton"></div>
		</div><!--hoverMenu-->
	</div><!--hover_align-->
 {% endblock %}
        {% block body %}{% endblock %}
</body>
</html>