{% load i18n %}
<table class="button_block">{# I wish I could do this with CSS #}
  <tr>
    <td class="{% if small %}tiny{% else %}small{% endif %}_add_button">
      <a href="{{ channel.get_subscription_url }}">
        <span class="button_text">{% if small %}{% trans "Add" %}{% else%}{% trans "Add channel" %}{% endif %}</span>
        <img class="button_icon" src="{{ STATIC_BASE_URL}}images/buttons/button_small_{% if channel.url %}rss{% else %}streaming{% endif %}.png" alt="{% blocktrans with channel.name as name %}Add {{ name }} to Miro{% endblocktrans %}" />
      </a>
    </td>
    <td class="details_button">
      <a href="{{ channel.get_absolute_url }}">
        <span class="button_text">{% trans "Details" %}</span>
        <img class="button_icon" src="{{ STATIC_BASE_URL}}images/buttons/button_details_right.png" alt="{% blocktrans with channel.name as name %}Details about {{ name }}{% endblocktrans %}" />
      </a>
    </td>
  </tr>
</table><!--button_block-->