{% load i18n channels cg_helpers %}
<div class="category-peek-top">
    <div class="category-peek-bottom">
        <div class="category-peek">
            <div class="heading">
                <h2>{% trans "Category" %}: <a href="{{ category_peek.category.get_url }}">
                        {{ category_peek.category.name }}</a></h2>
                <ol>
                    {% for channel in category_peek.channels %}
                        <li>
                        {% show_channel_in_category channel %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
