{% load i18n channels cg_helpers %}
<div class="category-peek-top">
<div class="category-peek-bottom">
<div class="category-peek">
    {% whitebutton category_peek.category.get_absolute_url %}
        {% blocktrans with category_peek.category.name as category %}View All {{ category }}{% endblocktrans %}
    {% endwhitebutton %}
    <a onclick="return ajaxLink('{{ category_peek.prev_url_ajax }}', 'category-peek');" {% link category_peek.prev_url "previous image-link nav-button" %}> <span class="hidden">prev</span></a>
    <h3>{{ category_peek.category.name }} <span>({{ category_peek.category.channel_count }})</span></h3>
    <a onclick="return ajaxLink('{{ category_peek.next_url_ajax }}', 'category-peek');" {% link category_peek.next_url "next image-link nav-button" %}> <span class="hidden">next</span></a>
    <div class="clear"></div>
    <div class="half-size-list">
    {% twocolumnloop with channel in category_peek.channels %}
        {% show_channel_normal channel %}
    {% endtwocolumnloop %}
    </div>
</div>
</div>
</div>
