{% load cg_helpers channels i18n %}
<div class="channel channel-full">
    {% twocolumns %}
        <div class="screenshot">
            {% if link_to_channel %}
                <a {% link channel.get_absolute_url %}>{{ channel.thumb_370_247 }}</a>
            {% else %}
                {{ channel.thumb_370_247 }}
            {% endif %}

        </div>
    {% splitcolumns %}
        <h1 class="title">
            {% if link_to_channel %}
                <a {% link channel.get_absolute_url %}>{{ channel.name }}</a>
            {% else %}
                {{ channel.name }}
            {% endif %}
        </h1>
        <ul>
            <li class="description">{{ channel.description }}</li>
            <li class="website">{{ channel.website_link }}</li>
            <li>
                <span class="categories">
{% for cat in channel.categories %} {{ cat }} {% endfor %}
                  </span>
                <img class="category-tag-separator"
                      src="{{ BASE_URL }}images/category-tag-separator.png" alt="">
                  <span class="tags">
{% for tag in channel.tags %} {{ tag.link }} {% endfor %}
                  </span>
            </li>
            <li class="actions">
            <div class="big horizontal">
                <a {{ channel.subscription_link }}>
                    <div class="icon"></div>
                    {% trans "Add Channel" %}
                </a>
            </div>
            <div class="clear"></div>
            </li>
            {% if user.is_moderator %}
                {% show_moderate_actions channel %}
            {% endif %}
            {% if show_edit_button %}
            <li class="channel-action">
            <form action="#" method="GET" onsubmit="return handleFormLink('{{ channel.get_edit_url }}');">
                    <input type="submit" value="{% trans "Edit" %}">
                </form>
            </li>
            {% endif %}
        </ul>
    {% endtwocolumns %}
</div>
