{% load i18n cg_helpers %}
<div class="channel channel-feature">
    <div class="channel-inner">
        <div class="actions">
            <div class="big">
                <a {{ channel.subscription_link }}>
                    <span class="icon"></span>
                    {% trans "Add Channel" %}
                </a>
                <a {% link channel.get_url "info-button" %}>
                    <span class="icon"></span>
                    {% trans "Details" %}
                </a>
            </div>
        </div>
        <div class="screenshot">
            {% block screenshot %}
            <a {% link channel.get_url %}>{{ channel.thumb_252_169 }}</a>
            {% endblock %}
            {% if channel.hi_def %}
            <img class="hd-icon-large" src="{{ BASE_URL }}images/hd-icon-large.png" alt="HD">
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="info">
    <h2 class="title"><span class="featured-label">Featured:</span> {{ channel.name_as_link }}</h2>
    <p class="description">{{ channel.description|escape }}</p>
        </div>
</div>
