{% load i18n cg_helpers %}
<div class="channel channel-in-category">
    <div class="channel-top">
        <div class="channel-bottom">
            <div class="channel-inner">
                <div class="info">
                    <div class="actions">
                        <div class="small">
                            <div class="screenshot">
                                <a {% link channel.get_url %}>{{ channel.thumb_120_80 }}</a>
                                {% if channel.hi_def %}
                                    <img class="hd-icon-medium" src="{{ BASE_URL }}images/hd-icon-medium.png" alt="HD">
                                {% endif %}
                            </div>
                            <p><strong>{{ channel.name }}</strong>
                                <a {{ channel.subscription_link }}>
                                    {% trans "Add" %}
                                </a>
                                <a {% link channel.get_url "details" %}>
                                    {% trans "Details" %}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
