{% load channels %}
{% if search %}<h4>{{ channel.name_as_link }}</h4>{% endif %}
<div class=" thumb{% if featured %} featuredItem{% endif %}">
<a href="{{ channel.get_url }}">
  {% if channel.hi_def %}
    {% if small %}
    <img class="hd_tag_small" src="{{ STATIC_BASE_URL}}images/ico_hd_tag_small.png" alt="High-Definition Channel" />
    {% else %}
    <img class="hd_tag_large" src="{{ STATIC_BASE_URL}}images/ico_hd_tag_large.png" alt="High-Definition Channel" />
    {% endif %}
  {% endif %}
  {% if small %}
    {% if tiny %}
  {{ channel.thumb_85_57 }}
    {% else %}
      {% if search %}
  {{ channel.thum_109_73 }}
      {% else %}
  {{ channel.thumb_98_66 }}
      {% endif %}
    {% endif %}
  {% else %}
    {% if search %}
  {{ channel.thumb_132_88 }}
    {% else %}
  {{ channel.thumb_142_96 }}
    {% endif %}
  {% endif %}
</a>
</div>
<div class="meta">
{% if buttons %}
   {% button_block channel %}
{% endif %}
{% if search %}{% else %}    <span class="title"><a href="{{ channel.get_url }}">{{ channel.name }}</a></span>{% endif %}
{% if description %}    <span class="description">{% if truncate_description %}{{ channel.description|striptags|truncatewords:40|urlize }}{% else %}{{ channel.description|striptags|urlize }}{% endif %}</span>{% endif %}
{% if buttons_bottom %}
   {% button_block channel %}
{% endif %}
</div>