{% load cg_helpers channels i18n %}
<div class="channel channel-full">
    {% twocolumns %}
        <div class="screenshot">
            {% if link_to_channel %}
                <a {% link channel.get_absolute_url %}>{{ channel.thumb_370_247 }}</a>
            {% else %}
                {{ channel.thumb_370_247 }}
            {% endif %}

        </div>
        {% if user.is_moderator or show_edit_button %}
        <ul>
        {% if user.is_moderator %}
            {% show_moderate_actions channel %}
        {% endif %}
        {% if show_edit_button %}
        <li class="channel-action">
        <form action="#" method="GET" onsubmit="return handleFormLink('{{ channel.get_edit_url }}');">
                <input type="submit" value="{% trans "Edit" %}">
            </form>
        </li>
        {% endif %}
        </ul>
        {% endif %}
    {% splitcolumns %}
        <h1 class="title">
            {% if link_to_channel %}
                <a {% link channel.get_absolute_url %}>{{ channel.name }}</a>
            {% else %}
                {{ channel.name }}
            {% endif %}
        </h1>
        <div class="description">{{ channel.description }}</div>
        <div class="actions">
            <div class="big horizontal">
                <a {{ channel.subscription_link }}>
                    <div class="icon"></div>
                    {% trans "Add Channel" %}
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="categories">
            <h3>{% trans "Categories" %}</h3>
            {% for cat in channel.categories %}
                {{ cat.link }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="tags">
            <h3>{% trans "Tags" %}</h3>
            {% for tag in channel.tags %}
                {{ tag.link }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="clear"></div>
        <div class="website">
            <h3>{% trans "Website" %}</h3>
            {{ channel.website_link }}
        </div>
        {% if show_extra_info %}
        <div class="extra-info">
            <h3>{% trans "Owner Email" %}</h3>
            {{ channel.owner.email }}
        </div>
        <div class="extra-info">
            <h3>{% trans "Moderation Status" %}</h3>
            {% blocktrans with channel.state_name as state %}
            Channel is {{ state }}
            {% endblocktrans %}
            {% if channel.last_moderated_by %}
            {% blocktrans with channel.last_moderated_by as mod %}
            (set by {{ mod }})
            {% endblocktrans %}
            {% endif %}
        </div>
        {% endif %}
    {% endtwocolumns %}
</div>
