{% load i18n cg_helpers %}
<div class="channel channel-in-recommendation">
    <h3 class="title">{{ channel.name_as_link }}</h3>
    <div class="screenshot">
        <a {% link channel.get_url %}>{{ channel.thumb_120_80 }}</a>
        {% if channel.hi_def %}
            <img class="hd-icon-medium" src="{{ BASE_URL }}images/hd-icon-medium.png" alt="HD">
        {% endif %}
    </div>
    <div class="actions">
        <div class="small horizontal">
            <a {{ channel.subscription_link }}>
                <span class="icon"></span>
                {% trans "Add" %}
            </a>
            <a {% link channel.get_url "info-button" %}>
                <span class="icon"></span>
                {% trans "Details" %}
            </a>
        </div>
    </div>
</div>
