{% load cg_helpers channels i18n %}
<div class="channel channel-full">
    {% twocolumns %}
        <div class="screenshot">
            {{ channel.thumb_370_247 }}
        </div>
    {% splitcolumns %}
        <h1 class="title">
            <a {% link channel.get_absolute_url %}>{{ channel.name }}</a>
        </h1>
        <ul>
            <li class="description">{{ channel.description }}</li>
            <li class="website">{{ channel.website_url|urlize }}</li>
            <li>
                <span class="categories">
{% for cat in channel.categories %} {{ cat }} {% endfor %}
                  </span>
                <img class="category-tag-separator"
                      src="{{ BASE_URL }}images/category-tag-separator.png" alt="">
                  <span class="tags">
{% for tag in channel.tags %} {{ tag.link }} {% endfor %}
                  </span>
            </li>
            <li class="actions">
            <div class="big horizontal">
                <a {% link channel.get_subscription_url "add" %}>
                    <div class="icon"></div>
                    {% trans "Add Channel" %}
                </a>
            </div>
            <div class="clear"></div>
            </li>
            {% if user.is_moderator %}
                {% show_moderate_actions channel %}
            {% endif %}
        </ul>
    {% endtwocolumns %}
</div>
