{% load i18n notes %}
<div class="notes">
    <h2>{% trans "Issues" %}: <span>({% trans "need support? post here." %})</span></h2>
{% if notes %}
<ul class="note-list">
{% for note in notes %}
    <li>
        <div class="name">
            {% ifequal note.user_id user.id %}
                {% trans "Me" %}
            {% else %}
                {% ifequal note.user_id channel.owner_id %}
                    {% trans "Manager" %}
                {% else %}
                    {{ note.user.username }}
                {% endifequal %}
            {% endifequal %}
        </div>
        <div class="body">{{ note.body|linebreaks}}</div>
    </li>
{% endfor %}
</ul>
{% endif %}
{% show_add_note channel %}
