{% load cg_helpers i18n %}
<div class="channel channel-in-list">
    <div class="half-size-list">
        {% twocolumns %}
            <div class="screenshot">
                <a {% link channel.get_url %}>{{ channel.thumb_165_110 }}</a>
                {% if channel.hi_def %}
                <img class="hd-icon-medium" src="{{ BASE_URL }}images/hd-icon-medium.png" alt="HD">
                {% endif %}
            </div>
        {% splitcolumns %}
            <h2 class="title">{{ channel.name_as_link }}</h2>
            <div class="description">{{ channel.description }}</div>
            <div class="actions">
            <div class="big horizontal">
                <a {{ channel.subscription_link }}>
                    <div class="icon"></div>
                    {% trans "Add" %}
                </a>
                <a {% link channel.get_url "info-button" %}>
                    <div class="icon"></div>
                    {% trans "Details" %}
                </a>
            </div>
            </div>
        {% endtwocolumns %}
    </div>
</div>
