{% load i18n cg_helpers channels %}
<div class="channel channel-recommended">
    <div class="header"></div>
    <div class="inside">
        <h3>{{ channel.name_as_link }}</h3>
        <div class="screenshot">
            <a {% link channel.get_url %}>{{ channel.thumb_95_63 }}</a>
            {% if channel.hi_def %}
                <img class="hd-icon-small" src="{{ BASE_URL }}images/hd-icon-small.png" alt="HD">
            {% endif %}
        </div>
        <div class="info">
            <div class="subscribe"><a {{ channel.subscription_link }}>Add Channel</a></div>
            <div class="details"><a {% link channel.get_url %}>Get Info</a></div>
            {% show_rating_static channel %}
        </div>
    </div>    
    <div class="footer"></div>
</div>
