{% load i18n channels  cg_helpers %}
{% extends 'base.html' %}
{% block title %}Miro - {% blocktrans %}Search for '{{ search_query }}'{% endblocktrans %}{%endblock %}
{% block content %}
<div class="search-page">
    <div class="group-matches">
        {% if languages %}
        <h1>{% trans "Matching Languages" %}</h1>
        <ul>
        {% for language in languages %}
          <li>{{ language.link }} ({{ language.channel_count }})</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if tags %}
        <h1>{% trans "Matching Tags" %}</h1>
        <ul>
        {% for tag in tags %}
          <li>{{ tag.link }} ({{ tag.channel_count }})</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if categories %}
        <h1>{% trans "Matching Categories" %}</h1>
        <ul>
        {% for cat in categories %}
          <li>{{ cat.link }} ({{ cat.channel_count }})</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="channel-matches">
        <h1>
        {% if not terms_too_short %}
        {% blocktrans %}{{ results_count }} Channels Match '{{ search_query }}'{% endblocktrans %}
        {% else %}
        {% trans "Search terms too short" %}
        {% endif %}
        </h1>
        {% if results %}
        <ul>
        {% for channel in results %}
            <li{% if forloop.last %} class="last-row"{% endif %}>
              {% show_channel_in_list channel %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if extra_results %}
        <div class="more-channel-matches">
            {{ more_results_link }}
        </div>
        {% endif %}
        {% if terms_too_short %}
        <p>{% blocktrans %}Words less than 3 characters long aren't used in
        the search.  Please try again with longer words{% endblocktrans %}</p>
        {% endif %}
    </div>
    <div class="clear"></div>

    {% if item_results %}
    <div class="channel-item-matches">
    <h2>{% blocktrans %}{{ item_results_count }} Channels Have Videos That Match '{{ search_query }}'{% endblocktrans %}</h2>
    <div class="divider"></div>
    {% twocolumnloop with channel in item_results %}
     {% show_channel_in_list channel %}
    {% endtwocolumnloop %}

        {% if extra_item_results %}
        <div class="more-channel-matches">
            {{ more_results_link_items }}
        </div>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
