{% load channels %}
<div class=" thumb{% if featured %} featuredItem{% endif %}">
<a href="#">
  {% if channel.hd %}
    {% if small %}
    <img class="hd_tag_small" src="{{ STATIC_BASE_URL}}images/ico_hd_tag_small.png"> alt="High-Definition Channel" />
    {% else %}
    <img class="hd_tag_large" src="{{ STATIC_BASE_URL}}images/ico_hd_tag_large.png" alt="High-Definition Channel" />
    {% endif %}
  {% endif %}
  {% if small %}
  {% if tiny %}
  {{ channel.thumb_85_57 }}
  {% else %}
  {{ channel.thumb_98_66 }}
  {% endif %}
  {% else %}
  {{ channel.thumb_142_96 }}
  {% endif %}
</a>
</div>
<div class="meta">
{% if buttons %}
   {% button_block channel %}
{% endif %}
    <span class="title"><a href="#">{{ channel.name }}</a></span>
{% if description %}    <span class="description">{{ channel.description }}</span>{% endif %}
{% if buttons_bottom %}
   {% button_block channel %}
{% endif %}
</div>