{% extends "base.html" %}
{% load channels rating%}
{% block head %}
  {% rating_header %}
{% endblock %}
{% block body %}
        {% edit_bar channel %}
        <div id="channelInfo">
		<div class="page">
			<h1>{{ channel.name }}</h1>
                        {% if channel.url %}
			<a href="{{ channel.url }}" class="channel_feed_only"><img src="{{ STATIC_BASE_URL }}images/buttons/feed_only.png" height="18" width="84" alt="" /></a>
                        {% endif %}
                        {% button_large channel %}
                        <div id="rateTag">
                          <span>Rate:</span>
                          {% rating channel %}
                        </div>
		</div><!--page-->
	</div><!--channelInfo-->
	<div id="channelWebsite" class="inactive">
		<div class="page">
			<h4><a href="{{ channel.website_url }}">Show Channel Website</a></h4>
		</div><!--page-->
	</div><!--channelWebsite-->

	<div id="channelDetails">
		<div class="page">
			<div class="channelDetailsContent">
				<h4><a href="#">Show Channel Details</a></h4>
				<p class="description">{{ channel.description|striptags|urlize }}</p>
			</div><!--channelDetailsContent-->

			<div class="thumb">
				<a href="#">
                                  {% if channel.hi_def %}<img class="hd_tag_large channel_hd" src="{{ STATIC_BASE_URL }}images/ico_hd_tag_large.png" alt="High-Definition Channel" />{% endif %}
                                  {{ channel.thumb_222_146 }}
				</a>
			</div><!--thumb-->
		</div><!--page-->
	</div><!--channelDetails-->
        <script type="text/javascript">

$("#channelDetails h4").click(function() {
    $(this).parent().parent().find('p.description, div.thumb').slideToggle('fast',
                                                                           function(){$(this).parent().toggleClass('inactive');});
    return false;
});
        </script>
        {% if recommendations %}
	<div id="channelRelated">
		<div class="page">
			<h3>People Who Like This Channel Also Like</h3>
			<ul>
                          {% for rec in recommendations %}
				<li{% if forloop.last %} class="last_li"{% endif %}>
                                  {% channel rec buttons_bottom tiny %}
				</li>
                          {% endfor %}
			</ul>
		</div><!--page-->
	</div><!--channelRelated-->
        {% endif %}
        {% if items %}
        <div id="recentlyOnChannel">
          <div class="page">
            <h3>Recently On This Channel</h3>
            {% for item in items %}
              {% item item %}
            {% endfor %}
          </div><!--page-->
	</div>
        {% endif %}
{% endblock %}