{% load i18n channels cg_helpers %}
{% extends 'base.html' %}
{% block title %}Welcome to Miro{% endblock %}
{% block head-extra %}
<script src="{{ STATIC_BASE_URL }}js/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_BASE_URL }}js/jquery.dimensions.js" type="text/javascript"></script>
<script src="{{ STATIC_BASE_URL }}js/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#list').accordion();
    $('#channellist a').bind('click', function(){
        $(this).toggleClass('subscribe');
        return false;});
    $('#faqs dd').hide();
    $('#faqs dt').bind('click',
        function() {
            $(this).next().toggle();
            return false;
        });
    });
</script>

{% endblock %}
{% block content %}
<div class="first-time-page">
    <div id="list">
        <a href="#"><h1>Step 1: Welcome To Miro</h1></a>
        <div>        <OBJECT classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width="320"
        height="255" codebase='http://www.apple.com/qtactivex/qtplugin.cab'>
        <param name='src' value="http://blip.tv/file/get/Miropcf-UnwatchAnyVideo407.mp4">
        <param name='autoplay' value="true">
        <param name='controller' value="true">
        <param name='loop' value="false">
        <EMBED src="http://blip.tv/file/get/Miropcf-UnwatchAnyVideo407.mp4" width="320" height="255" autoplay="true" 
        controller="true" loop="false" pluginspage='http://www.apple.com/quicktime/download/'>
        </EMBED>
        </OBJECT></div>
        <a href="#"><h1>Step 2: Tell Us What You Love</h1></a>
        <div id="channellist">{% fourcolumnloop  with column in channel_columns %}
                {% for channellist in column %}
                    <h2>{{ channellist.0 }}</h2>
                    <ul>
                        {% for channel in channellist.1 %}
                            <li><a channelid={{ channel.id }} href="{{ channel.url }}">{{ channel.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endfourcolumnloop %}
        </div>
        <a href="#"><h1>Step 3: All Set!</h1></a>
        <div>Some text
            <div id="faqs">
                <dl>
                {% for faq in faqs %}
                    <dt><a href="#">{{ faq.0 }}</a></dt>
                    <dd>{{ faq.1 }}</dd>
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    <a href="/"><h1>No thanks, just take me to the Guide!</h1></a>
</div>
{% endblock %}
