{% load i18n channels cg_helpers %}
{% extends 'base.html' %}
{% block title %}Welcome to Miro{% endblock %}
{% block head-extra %}
<script src="{{ STATIC_BASE_URL }}js/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_BASE_URL }}js/jquery.dimensions.js" type="text/javascript"></script>
<script src="{{ STATIC_BASE_URL }}js/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    //$('#list').removeClass('initial');
    //$('#list').accordion({
//header: 'dt.step'}).change(function(event, newHeader, oldHeader, newContent, oldContent) { newContent.height('auto'); });
//    $('#list dd').height('auto');
    $('#faqs dd').hide();
    $('#faqs dt').bind('click',
        function() {
            $(this).toggleClass('open').next().toggle('slow');
            return false;
            });
    createVideo($('#video'), "{{ MOVIE_URL }}", 300, 226);
    });

function vlcPlayPause(obj, button) {
    if (obj.isplaying() == true) { 
        obj.pause();
        button.attr('value', 'Play');
    } else {
        obj.play();
        button.attr('value', 'Pause');
    }
}

function createVideo(obj, url, width, height) {
    win = 0;
    if (navigator.platform == 'Win32') {
        /* use VLC */
        html = '<embed type="application/x-vlc-plugin" width=' + width + ' height=' + height + ' autoplay="yes" loop="no" name="video1" target="' + url + '" />'
        + '<input type="button" value="Play" onclick="document.video1.play();" />'
        + '<input type="button" value="Pause" onclick="document.video1.pause();" />'
        + '<input type="button" value="Stop" onclick="document.video1.stop();" />'
        + '<input type="button" value="+ Vol" onclick="document.video1.set_volume(document.video1.get_volume()+10);" />'
        + '<input type="button" value="- Vol" onclick="document.video1.set_volume(document.video1.get_volume()-10);" />';
        win = 1;
        height = height + 23;
    } else if (navigator.platform.indexOf('Mac') == 0) {
        height = height + 19;
        html = '<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" id="player" height="' + height +'" width="' + width + '">' +
        '<param name="CONTROLS" value="imagewindow">'+
        '<param name="autogotourl" value="false">'+
        '<param name="console" value="radio">'+
        '<param name="autostart" value="true">'+
        '<param name="type" value="video/quicktime">'+
        '<param name="src" value="' + url + '">'+
        '<embed controls="imagewindow" autogotourl="false" console="radio" autostart="true" type="video/quicktime" src="' + url + '" name="player" height="' + height +'" width="' + width + '">'+
        '</object>';
    } else {
        html = '';
    }
    if (html) {
        $('div#download').hide();
        oldhtml = obj.html()
        obj.html(html).height(height);
        if (win) {
/*            $('#list dt.step').one('click', function(){
                obj.html(oldhtml);
                alert('replaced old html');
                window.setTimeout(function() {
                    createVideo(obj, url, width, height);
                    }, 100);
            });*/
            vlc.audio.volume = 100;
        }
    }
}
</script>

{% endblock %} 
{% block content %}
<div class="first-time-page">
    <dl id="list" class="initial">
        <dt class="selected step"><a href="#"><span>1</span><h1>Meet Miro</h1></a></dt>
                <dd style="padding-top: 12px;">
                    <div id="video"><img src="{{ STATIC_BASE_URL}}images/meetmiro.jpg"></div><div id="download"><a href="http://subscribe.getmiro.com/download?url1={{ MOVIE_URL|urlencode }}">Download this video</a></div></dd>
        <dt class="selected step"><a href="#"><span>2</span><h1>Add Your Favorite Topics to Miro</h1></a></dt>
        <dd id="channellist" style="padding-top: 8px;">
            <span class="info">Each channel pack gets you started with 5 great channels &mdash; add as many as you want.</span>
            {% fourcolumnloop  with column in channel_columns %}
                {% for channel in column %}
                    <div class="channel">
                        <span class="pack"></span>
                        <div class="subscribe"><a class="add" href="{{ channel.1 }}"><span class="icon"></span>Add {{ channel.0 }}</a></div>
                    </div>
                {% endfor %}
            {% endfourcolumnloop %}
        </dd>
        <dt class="selected step"><a href="#"><span>3</span><h1>Learn How to Watch!</h1></a></dt>
        <dd>
            <div class="third-step">
                <h2>Miro is doing its thing...</h2>
                <img src="{{ STATIC_BASE_URL}}images/play-downloads.png" alt="Videos downloaded in Miro">
                Miro is getting the first video from each channel.  You'll see green ovals in your sidebar when videos are ready to watch.
            </div>
            <div class="third-step">
                <h2>In the mean time,</h2>
                <img src="{{ STATIC_BASE_URL }}images/guide-preview.jpg" alt="Preview of the Miro Guide">
                Find thousands of free channels in the Miro Guide, add as many as you want.
            </div>
            <div id="faqs">
                <dl>
                {% for faq in faqs %}
                    <dt><a href="#">{{ faq.0 }}</a></dt>
                    <dd>{{ faq.1 }}</dd>
                {% endfor %}
                </dl>
            </div>
        </dd>
    </dl>
    <div id="nothanks">
        <div class="button"><a {% link "/" %} >Go to the Miro Guide</a></a>
    </div>
</div>
{% endblock %}
