{% load i18n channels cg_helpers %}
{% extends 'base.html' %}
{% block title %}Welcome to Miro{% endblock %}
{% block head-extra %}
<script src="{{ STATIC_BASE_URL }}js/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_BASE_URL }}js/jquery.dimensions.js" type="text/javascript"></script>
<script src="{{ STATIC_BASE_URL }}js/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#list').accordion();
    $('#channellist #channels a').bind('click', function(){
        $(this).toggleClass('subscribe');
        return false;});
    $('#channellist a#subscribemulti').bind('click', subscribeMulti);
    $('#faqs dd').hide();
    $('#faqs dt').bind('click',
        function() {
            $(this).next().toggle();
            return false;
        });
    });

function subscribeMulti() {
    var subscribes = $('a.subscribe');
    var ids = Array(subscribes.length);
    var urls = Array(subscribes.length);
    subscribes.each(function(i) {
        ids[i] = $(this).attr('channelid');
        urls[i] = "url"+(i+1)+"="+escape($(this).attr('url'));
        });
    ajaxurl = "/channels/subscribe-hit/" + ids[0] + '?' + ids.slice(1).join('&');
    oneclickurl = "http://subscribe.getmiro.com/?" + urls.join('&');
    handleSubscriptionLink(ajaxurl, oneclickurl);
    return false;
}
</script>

{% endblock %}
{% block content %}
<div class="first-time-page">
    <div id="list">
        <a href="#"><h1>Step 1: Welcome To Miro</h1></a>
                <div>
<embed type="application/x-vlc-plugin" name="video1" autoplay="yes" loop="no" controller="yes" target="{{ MOVIE_URL }}">
  </div>
        <a href="#"><h1>Step 2: Tell Us What You Love</h1></a>
        <div id="channellist">
            <div id="channels">{% fourcolumnloop  with column in channel_columns %}
                    {% for channellist in column %}
                        <h2>{{ channellist.0 }}</h2>
                        <ul>
                            {% for channel in channellist.1 %}
                                <li><a channelid={{ channel.id }} url="{{ channel.url }}" href="{{ channel.get_subscription_url }}">{{ channel.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endfourcolumnloop %}
            </div>
            <a href="#" id="subscribemulti">Subscribe to these channels</a>
        </div>
        <a href="#"><h1>Step 3: All Set!</h1></a>
        <div>Some text
            <div id="faqs">
                <dl>
                {% for faq in faqs %}
                    <dt><a href="#">{{ faq.0 }}</a></dt>
                    <dd>{{ faq.1 }}</dd>
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    <a href="/"><h1>No thanks, just take me to the Guide!</h1></a>
</div>
{% endblock %}
