{% load i18n cg_helpers %}
{% extends 'base.html' %}
{% block title %}Democracy - {% trans "Create New Password" %}{%endblock %}
{% block content %}
<div class="create-new-password-page">
    <h1>{% trans "Create New Password" %}</h1>
    <p>{% trans "Please create a new password." %}</p>
    <form method="POST" action="{{ BASE_URL }}accounts/forgot-password">
        <div class="label"><label for="email">Email</label></div>
        <input id="email" type="text" class="wide-field" name="email">
        <input type="submit" class="submit" value="{% trans "Send Email" %} &gt;&gt;">
    </form>
</div>
{% endblock %}
