{% load i18n %}
{% extends 'base.html' %}
{% block title %}Democracy - {% trans "How to Moderate" %}{%endblock %}
{% block content %}
<h1>Moderator's Handbook</h1>
<ul>
	<li><a href="#appreject">How to Approve/Reject Channels</a></li>
	<li><a href="#comown">Communicating with Channel Owners</a></li>
	<li><a href="#commod">Communicating with Fellow Moderators</a></li>
	<li><a href="#share">Sharing Favorite Channels with Moderators</a></li>
	<li><a href="#dontknow">Dealing with "Don't Know" Channels</a></li>
	<li><a href="#supermod">What is Super Moderator Status?</a></li>
	<li><a href="#bugs">Reporting Bugs and Suggesting Features</a></li>
</ul>
<h2><a name="appreject">How to Approve/Reject Channels</a></h2>

<p class="step">1. Log in and go to the <a href="https://channelguide.participatoryculture.org/moderate">moderate</a> link.</p>
<img src="./images/appreject-01.jpg" alt="appreject" />

<p class="step">2. Go to the <a href="https://channelguide.participatoryculture.org/channels/unapproved/new">Unreviewed Channels</a> (it is possible to do this in Firefox or Democracy).</p>
<img src="./images/appreject-02.jpg" alt="appreject" />

<p class="step">3. Add the first channel (the channels that have been waiting longest are at top). You can optionally add a bunch of channels at once (to save time).</p>
<img src="./images/appreject-03.jpg" alt="appreject" />

<p class="step">4.) Now it's time to kick the channel's tires:</p>

<p class="step">a.) Does the feed work? If you get an error, just choose "No" and then click the "Broken" button from the Standard Rejections. The channel owner will get a helpful e.mail with information and links.</p>
<img src="./images/appreject-04a.jpg" alt="appreject" />
<img src="./images/appreject-04aa.jpg" alt="appreject" />

<p class="step">b.) Does the media obviously violate copyright? If you see full episodes of the Daily Show, and they aren't coming from Comedy Central's website, the channel probably isn't legit. Click the "Copyright" button from the Standard Rejections. The channel owner will be contacted and have a chance to respond.</p>
<img src="./images/appreject-04b.jpg" alt="appreject" />

<p class="step">c.) The explicit stuff is the most subjective and difficult to deal with. Our rule of thumb is that if a feed would get an X rating (esp. if it involves explicit sex), we don't allow it in the guide. If you're not comfortable making this judgement, just click the "Don't Know" button. Otherwise, choose "Explicit" from the Standard Rejections. The channel owner will be contacted and have a chance to respond.</p>
<img src="./images/appreject-04c.jpg" alt="appreject" />

<p class="step">d.) The channel should be made up of at least 40% video files. If you see a channel with more than 60% mp3 or other audio files, click the "No Video" button from the Standard Rejections.</p>
<img src="./images/appreject-04d.jpg" alt="appreject" />

<p class="step">e.) If you find other problems, such as video formats that don't play back, you can make a custom rejection. It will send the channel owner an email that they can respond to.</p>
<img src="./images/appreject-04e.jpg" alt="appreject" />

<p class="step">f.) If you are ever not sure what to do, simply click the "Don't Know" button and let someone else help you make the decision.</p>
<img src="./images/appreject-04f.jpg" alt="appreject" />

<p class="step">5. If the channel made it through all the tests, you can Approve it! The channel owner will automatically receive a congratulatory email.</p>
<img src="./images/appreject-05.jpg" alt="appreject" />

<p class="step">6.) Rinse and repeat.</p>

<h2><a name="comown">Communicating with Channel Owners</a></h2>

<p>Any time you reject a feed or add a message to the "Conversation with Channel Owner" (this is at the bottom of every channel page), an email message is sent to the owner. They will get your note and be able to respond.</p>
<img src="./images/comown-01.jpg" alt="comown" />

<p>Whenever a channel owner adds a message or replies in the conversation, their channel will appear in the "Channels waiting for Reply" section. The channels in this section should be treated as high priority.</p>
<img src="./images/comown-02.jpg" alt="comown" />

<p>When a channel is "Waiting for Reply", you simply reply to the message (or re-reject the channel, if it is still not approvable) and the channel will fall out of the "Waiting for Reply" section.</p>

<h2><a name="commod">Communicating with Fellow Moderators</a></h2>

<p>There is a very basic bulletin board built into the channel guide. The latest posts show up on the main moderation page, in order to see the history and/or post your own message, click the (<a href="https://channelguide.participatoryculture.org/notes/moderator-board">see all xx posts</a>) link.</p>
<img src="./images/commod-01.jpg" alt="commod" />

<p>To get notification of every message board post, go to your profile and switch "Moderator Board Emails" to 'send all emails'.</p>
<img src="./images/commod-02.jpg" alt="commod" />
<img src="./images/commod-03.jpg" alt="commod" />

<p>We have an IRC channel: <a href="irc://irc.freenode.net#team.miro">#team.miro</a> (irc.freenode.net).

<p>We also have a section in the forums, specifically for <a href="http://forum.getdemocracy.com/viewforum.php?id=20">volunteer projects</a>, plus a volunteer <a href="http://forum.getdemocracy.com/viewforum.php?id=19">open discussions</a> section.</p>

<h2><a name="share">Sharing Favorite Channels with Moderators</a></h2>

<p>Just click the "Share with Moderators" button and the channel will be available on the main moderation control panel. If you approve a channel that seems interesting or appealing, definitely share the love.</p>
<img src="./images/share-01.jpg" alt="share" />

<h2><a name="dontknow">Dealing with "Don't Know" Channels</a></h2>

 <p>If you see something in here, you should basically treat it as an "unapproved channel" that someone else wasn't sure how to deal with. If you're a more experienced moderator, you should treat these as higher priority. Use the same guidelines for approving it, as outlined above.</p>
<img src="./images/dontknow-01.jpg" alt="dontknow" />

<h2><a name="supermod">What is Super Moderator Status?</a></h2>

<p>There are two levels of moderator -- Moderator and Super Moderator. They are very similar, except that Super Mods can feature channels and choose to have their message board posts emailed to all the other moderators.</p>

<p>Super Mod status is pretty powerful, so we only promote you once you've proven yourself as a reliable moderator.</p>

<h2><a name="bugs">Reporting Bugs and Suggesting Features</a></h2>

<p>If you find something that seems buggy or wrong, you can add a <a href="https://develop.participatoryculture.org/trac/channelguide/newticket">ticket</a> to the channel guide <a href="https://develop.participatoryculture.org/trac/channelguide/report/1">bug tracker</a>.</p>
<p>If you have a great idea, please submit it as a feature request; just remember that we are on a pretty tight budget and very carefully consider each new feature.</p>
{% endblock %}
