{% extends "base.html" %}
{% load channels %}
{% block body %}
<div id="guestEditorsPicks">
		<div class="page">
			<div id="guestEditorContent">
				<div class="preamble">
					<h2>Guest Editor's Picks</h2>
					<p>Hand-picked video by our lorem ipsum dolor sit amet, consectetuer adipiscing</p>
					<p><a href="#">Become a Guest Editor!</a></p>
					
					<p class="userInfo">
						<a href="#" class="tiny_thumbnail"><img src="{{ STATIC_BASE_URL}}images/editor_thumbnail.png" alt="" /></a>
						<span class="username"><a href="#">ElDuderino78</a></span>
						<span class="location">Worcester, MA</span>
					</p>
				</div><!--preamble-->
				<div class="view_more_featured_videos"><a href="#">View Miro Featured Videos</a></div>
			</div><!--guestEditorContent-->
			
			<!--Carousel-->
			<div id="featuredItemsCarousel" class="smallCarousel">
				<div id="button_previous"></div>
				<div id="innerContent">
					<ul>
						<li>
                                                  {% channel 0 featured %}
						</li>
						<li>
                                                  {% channel 0 featured %}
						</li>
					</ul>
				</div><!--innerContent-->
				<div id="button_next"></div>
			</div><!--featuredItemsCarousel-->
		</div><!--page-->
	</div><!--guestEditorsPicks-->
	
	<div id="container">
		<div id="content">
			<h3 class="title_bar"><span class="rss">New Feed Videos</span></h3>
			<ul class="videoFeed">
				<li>
                                  {% channel 0 small %}
				</li>
				<li>
                                  {% channel 0 small %}
				</li>
				<li>
                                  {% channel 0 small %}
				</li>
				<li>
                                  {% channel 0 small %}
				</li>
			</ul>
			
			<h3 class="title_bar"><span class="streaming">New Streaming Videos</span></h3>
			<ul class="videoFeed">
				<li>
                                  {% channel 0 small %}
				</li>
				<li>
                                  {% channel 0 small %}
				</li>
				<li>
                                  {% channel 0 small %}
				</li>
				<li>
                                  {% channel 0 small %}
				</li>
			</ul>
		</div><!--content-->
		
		<div id="sideBar">
			<h3 class="widget_title_bar"><span class="favorite">Recommended for you</span></h3>
			<div class="widget">
				<ul class="recommended">
					<li>
                                          {% channel 0 buttons_bottom small %}
					</li>
					<li class="last_li">
                                          {% channel 0 buttons_bottom small %}
					</li>
				</ul>
			</div><!--widget-->
			<div class="widget_close"><a href="#"><span>View all</span></a></div>
		</div>
	</div><!--container-->
{% endblock %}	
