{% extends "base.html" %}
{% load channels %}
{% block head %}
<script type="text/javascript">
var currentFeature = 0;
var featureWidth = 235;
function featuredPrevious() {
    currentFeature = currentFeature - 1;
    if (currentFeature < 0) {
        currentFeature = 0;
    }
    animateFeatured();
};
function featuredNext() {
    li = $("#featuredItemsCarousel ul li");
    currentFeature = currentFeature + 1;
    if (currentFeature > li.length - 3) {
        currentFeature = li.length - 3;
    }
    animateFeatured();
}

function animateFeatured() {
    li = $("#featuredItemsCarousel ul li");
    if (currentFeature < li.length - 3) {
        $("#button_next").css('cursor', 'pointer')
    } else {
        $("#button_next").css('cursor', 'inherit');
    }
    if (currentFeature) {
        $("#button_previous").css('cursor', 'pointer');
    } else {
        $("#button_previous").css('cursor', 'inherit');
    }
    li.animate({left: -(currentFeature * featureWidth)}, 'slow');
}

$(document).ready(function() {
    $("#button_next").click(featuredNext);
    $("#button_previous").click(featuredPrevious);
});
</script>
{% endblock %}
{% block body %}
{% comment %}
<div id="guestEditorsPicks">
		<div class="page">
			<div id="guestEditorContent">
				<div class="preamble">
					<h2>Guest Editor's Picks</h2>
					<p>Hand-picked video by our lorem ipsum dolor sit amet, consectetuer adipiscing</p>
					<p><a href="#">Become a Guest Editor!</a></p>
					
					<p class="userInfo">
						<a href="#" class="tiny_thumbnail"><img src="{{ STATIC_BASE_URL}}images/editor_thumbnail.png" alt="" /></a>
						<span class="username"><a href="#">ElDuderino78</a></span>
						<span class="location">Worcester, MA</span>
					</p>
				</div><!--preamble-->
				<div class="view_more_featured_videos"><a href="#">View Miro Featured Videos</a></div>
			</div><!--guestEditorContent-->
			
			<!--Carousel-->
			<div id="featuredItemsCarousel" class="smallCarousel">
				<div id="button_previous"></div>
				<div id="innerContent">
					<ul>
						<li>
                                                  {% channel 0 featured %}
						</li>
						<li>
                                                  {% channel 0 featured %}
						</li>
					</ul>
				</div><!--innerContent-->
				<div id="button_next"></div>
			</div><!--featuredItemsCarousel-->
		</div><!--page-->
	</div><!--guestEditorsPicks-->
{% endcomment %}
	<div id="featured">
		<div class="page">
			
			<!--Carousel-->
			<div id="featuredItemsCarousel" class="largeCarousel">
				<div id="button_previous"></div>
				<div id="innerContent">
					<ul>
                                          {% for channel in featured %}
						<li>
                                                  {% channel channel featured %}
                                                </li>
                                          {% endfor %}
					</ul>
				</div><!--innerContent-->
				<div id="button_next"></div>
			</div><!--featuredItemsCarousel-->
		</div><!--page-->
	</div><!--featured-->
     
	<div id="container">
		<div id="content">
			<h3 class="title_bar"><span class="rss">New Feed Videos</span></h3>
			<ul class="videoFeed">
                          {% for channel in feed %}
				<li>
                                  {% channel channel small %}
				</li>
                          {% endfor %}
			</ul>
			
			<h3 class="title_bar"><span class="streaming">New Streaming Videos</span></h3>
			<ul class="videoFeed">
                          {% for channel in streaming %}
				<li>
                                  {% channel channel small %}
				</li>
                          {% endfor %}
			</ul>
		</div><!--content-->
		
		<div id="sideBar">
			<h3 class="widget_title_bar"><span class="favorite">Recommended for you</span></h3>
			<div class="widget">
				<ul class="recommended">
                                  {% for channel in recommended %}
					<li{% if forloop.last %} class="last_li"{% endif %}>
                                          {% channel channel buttons_bottom small %}
					</li>
                                  {% endfor %}
				</ul>
			</div><!--widget-->
			<div class="widget_close"><a href="#"><span>View all</span></a></div>
		</div>
	</div><!--container-->
{% endblock %}	
