<div class="item">
    <div class="title">
        <h4>{% if item.name %}{{ item.name }}{% else %}(no name){% endif %}</h4>
        <div class="screenshot">
            <a href="{{ item.download_url }}">{{ item.thumb }}
                <div class="download">download episode</div>
            </a>
        </div>
    </div>
    <div>
        <div class="description">
            {{ item.description|striptags }}
        </div>
        <div class="date">
            Date Posted: <strong>{{ item.date|date:"M j Y" }}</strong>
        </div>
    </div>
</div>
