{% extends "base.html" %}
{% load channels rating cg_helpers %}
{% block content %}
  {% if terms_too_short %}
  <div id="container">
    <div id="content">
      <h2>Terms too short</h2>
      I'm sorry, your search term was too short; it must be at least 3 characters.
    </div>
  </div>
  {% else %}
	<div class="infoBox">
		<h1>{{ title }}</h1>
		<ul class="paginator2">
                  {% pagelinks feed_page %}
                </ul>
	</div><!--infoBox-->

	<div class="infoBar">
		<div class="innerBar">
			<span class="results"><span class="results_tag">Search Results</span> {{ feed_page.paginator.count }} feeds contain videos that match "{{ title|lower }}"</span>
                        {% comment %}  TODO merge in/enable geoip filtering
			<a href="#" class="show_channels">show all</a>
			<span class="extra">Certain channels are not available in your region </span>
                        {% endcomment %}
		</div><!--innerBar-->
	</div><!--infoBar-->


	<div class="horizontal_banner_ad">
		<a href="#"><img src="images/ads/728x90.jpg" alt="Ad" /></a>
	</div>
	<br />


	<div class="page">
		<div class="feedColumn">
			<div class="detailsHead4">
				<h3 class="resultsCount">
					<span class="heading">Feeds</span>
				  <span class="button"><a href="#"><img src="images/ico_rss_title.png" alt="" /></a></span>				</h3>
		  <div class="sortType">
					<a href="#"><strong>{{ feed_page.paginator.count|default:"0" }}</strong></a>

				</div>
			</div><!--detailsHead-->
			<ul class="searchResults">
                          {% for channel in feed_page.object_list %}
				<li>
                                  {% include "guide/channel-in-listing.html" %}
                                </li>
                          {% endfor %}
			</ul>
		</div><!--feedColumn-->

		<div class="feedColumn">
			<div class="detailsHead4">

				<h3 class="resultsCount">
					<span class="heading">Sites</span>
				  <span class="button"><a href="#"><img src="images/ico_refresh.png" alt="" /></a></span>				</h3>
		  <div class="sortType">
					<a href="#"><strong>{{ show_page.paginator.count|default:"0" }}</strong></a>
				</div>
			</div><!--detailsHead-->

			<ul class="searchResults">
                          {% for channel in show_page.object_list %}
				<li>
                                  {% include "guide/channel-in-listing.html" %}
                                </li>
                          {% endfor %}
			</ul>
		</div><!--feedColumn-->
	</div><!--page-->

 {% endif %}
{% endblock %}
