{% extends "base.html" %}
{% load channels cg_helpers i18n %}
{% block head-extra %}
    <script src="{{ STATIC_BASE_URL }}js/infinitescroll.js"
            type="text/javascript">
    </script>
{% endblock %}

{% block content %}
  {% if terms_too_short %}
  <div id="container">
    <div id="content">
      <h2>{% trans "Terms too short" %}</h2>
      {% blocktrans %}
        I'm sorry, your search term was too short; it must be at least
        3 characters.
      {% endblocktrans %}
    </div>
  </div>
  {% else %}

    {% comment %}
      {# Commenting this out for pre-2.0 launch. #}
      {# On day of 2.0 launch we should uncomment this. #}
    {% if miro_version_pre_sites %}
      <!-- warning to old miro users -->
      <div class="page">
        <div class="welcomeMessage">
          <p>
            <strong>
              {% trans "Time to Upgrade!" %}
            </strong>
            {% blocktrans %}
              You're not seeing all the Miro Guide content -- adding
              sites to your sidebar only works in Miro 2.0, so it's
              time to <a href="http://getmiro.com">upgrade</a>.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    {% endif %}
    {% endcomment %}

    <div class="infoBox">
      {% block infoBox %}
      <h1>{{ title }}</h1>
      {% endblock %}
      <ul class="paginator2">
        {% pagelinks feed_page %}
      </ul>
    </div><!--infoBox-->

    <div class="infoBar">
      <div class="innerBar">
        {% block infoBar %}
        <span class="results">
          <span class="results_tag">{% trans "Search Results" %}</span>
          {% if feed_page.paginator.count %}
          {% blocktrans count feed_page.paginator.count as feed_count and title|lower as t %}
          1 feed matches "{{ t }}"
          {% plural %}
          {{ feed_count }} feeds match "{{ t }}"
          {% endblocktrans %}
          {% endif %}
          {% if feed_page.paginator.count and site_page.paginator.count %}, {% endif %}
          {% if site_page.paginator.count %}
          {% blocktrans count site_page.paginator.count as site_count and title|lower as t%}
          1 site matches "{{ t }}"
          {% plural %}
          {{ site_count }} sites match "{{ t }}"
          {% endblocktrans %}
          {% endif %}
        </span>
        {% if geoip_filtered %}
          <a href="{{ geoip_filtered }}" class="show_channels">show all</a>
          <span class="extra">
            Certain shows are not available in your region
          </span>
          {% endif %}
        {% endblock %}
      </div><!--innerBar-->
    </div><!--infoBar-->

    {% block tips %}
    {% endblock %}

    {% comment %}
      {# We're presently not doing any ad stuff, so... #}
      <div class="horizontal_banner_ad">
        <a href="#"><img src="{{ STATIC_BASE_URL }}images/ads/728x90.jpg" alt="Ad"></a>
      </div>
    {% endcomment %}

    <div><br></div>

    <div class="page">
      {% if feed_page.object_list %}
        <div class="feedColumn{% if not site_page.object_list %} big{% endif %}" id="feeds_column">
          <div class="detailsHead4">
            <h3 class="resultsCount">
              <span class="heading">{% trans "Feeds" %}</span>
            </h3>
            <div class="sortType feed">
              <a href="#">
                <strong>{{ feed_page.paginator.count|default:"0" }}</strong>
              </a>
            </div>
          </div><!--detailsHead-->
          <ul class="searchResults scrolling">
            <li class="feed_tip tip">
              <p>{% trans "Video feeds are downloaded first, and can be watched online or offline. Many are in full HD." %}</p>
            </li>
            {% for channel in feed_page.object_list %}
              <li>
                {% if forloop.first %}<a name="{{ feed_page.number }}"></a>{% endif %}
                {% ifequal feed_page.paginator.object_list.sort "-popular" %}<span class="popular-index">{{ forloop.counter0|add:feed_page.start_index }}.</span>{% endifequal %}
                {% include "guide/channel-in-listing.html" %}
              </li>
            {% endfor %}
          </ul>
        </div><!--feedColumn-->
      {% endif %}

      {% if site_page.object_list %}
        <div class="feedColumn{% if not feed_page.object_list %} big{% endif %}" id="sites_column">
          <div class="detailsHead4">
            <h3 class="resultsCount">
              <span class="heading">{% trans "Sites" %}</span>
            </h3>
            <div class="sortType site">
              <a href="#">
                <strong>{{ site_page.paginator.count|default:"0" }}</strong>
              </a>
            </div>
          </div><!--detailsHead-->
          <ul class="searchResults scrolling">
            <li class="sites_tip tip">
              <p>{% trans "Most sites require a fast internet connection for streaming video. Bookmark your favorites with Miro." %}</p>
            </li>
            {% for channel in site_page.object_list %}
              <li>
                {% include "guide/channel-in-listing.html" %}
              </li>
            {% endfor %}
          </ul>
        </div><!--feedColumn-->
      {% endif %}

    </div><!--page-->
  {% endif %}
{% endblock %}
