{% load i18n channels %}
{% show_simple_moderate_actions channel %}
<ul class="reject-moderate-actions moderate-actions">
    <li class="channel-action">
    <form method="POST" action="{{ channel.get_url }}">
        <input type="hidden" name="action" value="standard-reject">
        <input type="submit" name="submit" value="Broken">
        <input type="submit" name="submit" value="Copyrighted">
        <input type="submit" name="submit" value="Explicit">
        <input type="submit" name="submit" value="No Media">
        <input class="email-form" type="submit" name="submit" value="Custom">
    </form>
    </li>
    {% if channel.hi_def %}
    <li class="question">
    {% trans "Channel marked as HD! Does it meet" %} <a href=".">{% trans "requirements"%}</a>{% trans "?" %}
    </li>
    {% endif %}
</ul>

