{% if notes %}
<ul class="note-list">
{% for note in notes %}
    <li>
        <div class="delete-button">
        <form action="{{ note.get_url }}" method="POST">
            <input type="hidden" name="action" value="delete">
            <input type="submit" value="delete note">
        </form>
        </div>
        <h3>{{ note.title }}
            <span class="note-author">
                ({{ note.user }} - {{ note.created_at|date:"n/j" }})
            </span>
        </h3>
        {{ note.body|linebreaks}}
    </li>
{% endfor %}
</ul>
{% endif %}
