<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
<link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
<!--[if lt IE 7]>
<link rel="stylesheet" href="ie_styles.css" type="text/css" media="screen" />
<script defer type="text/javascript" src="js/ie_png.js"></script>
<![endif]-->

</head>
<body>
	<div id="topBar">
		<div class="page">
			<ul id="mainMenu">
				<li id="logo"><a href="#"><img src="images/logo.png" alt="Miro" /></a></li>
				<li><a href="#">Video feeds</a></li>
				<li><a href="#">Streaming shows</a></li>
				<li><a href="#">Videos you'll love</a></li>
			</ul>
			<div id="searchBG"></div>
			<div id="searchSpot">
				<input type="text" class="headSearch" name="search[query]" id="search_query" value="Search" />
			</div><!--searchSpot-->
		</div><!--page-->
	</div><!--topBar-->
	<div id="topBarLower">
		<div class="page">
			<ul id="lowerMenu">
				<li><a href="#">Genres</a></li>
				<li><a href="#">HD Channels</a></li>
				<li><a href="#">Most Popular</a></li>
				<li><a href="#">New Shows</a></li>
				<li><a href="#">Video by Language</a></li>
				<li id="language"><a href="#">Language</a></li>
				<li id="account"><a href="#">Account</a></li>
			</ul>
		</div><!--page-->
	</div><!--topBarLower-->

	
	<div id="channelInfo">
		<div class="page">
			<h1>Shoot The Baby</h1>
			<a href="#" class="channel_feed_only"><img src="images/buttons/feed_only.png" height="18" width="84" alt="" /></a>
			<div class="large_add_button channel_page_button">
				<a href="#"><span class="button_text">Add to favorites</span></a>
				<a href="#"><img class="button_icon" src="images/buttons/button_large_streaming.png" alt="" /></a>
			</div>
			<ul id="channelRate" class="rating">
				<li class="rate_tag">Rate:</li>
				<li><a href="#"><img src="images/ico_no_rate.png" alt="" /></a></li>
				<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
				<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
				<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
				<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
				<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
			</ul>
		</div><!--page-->
	</div><!--channelInfo-->
	
	<div id="channelWebsite">
		<div class="page">
			<h4 class="inactive"><a href="#">Show Channel Website</a></h4>
		</div><!--page-->
	</div><!--channelWebsite-->

	<div id="channelDetails">
		<div class="page">
			<div class="channelDetailsContent">
				<h4 class="active"><a href="#">Show Channel Details</a></h4>
				<p class="description">Watch sneak previews of premiere episodes and favorite moments from National Geographic Channel's Dog Whisperer. See how Cesar Millan rehabilitates dogs and trains their owners. Watch Dog Whisperer Mondays at 9P et/pt on the National Geographic Channel.</p>
			</div><!--channelDetailsContent-->
				
			<div class="thumb">
				<a href="#">
					<img class="hd_tag_large channel_hd" src="images/ico_hd_tag_large.png" alt="" />
					<img src="images/channel_thumb.jpg" alt="" />
				</a>
			</div><!--thumb-->
		</div><!--page-->
	</div><!--channelDetails-->
	
	<div id="channelRelated">
		<div class="page">
			<h3>People Who Like This Channel Also Like</h3>
			<ul>
				<li>
					<div class="thumb"><a href="#"><img src="images/cartech_img.png" alt="" /></a></div>
					<div class="info">
						<span class="title">Car Tech Video From</span>
							<div class="tiny_add_button">
								<a href="#"><span class="button_text">Add</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
					</div>
				</li>
				<li>
					<div class="thumb"><a href="#"><img src="images/cartech_img.png" alt="" /></a></div>
					<div class="info">
						<span class="title">Car Tech Video From</span>
							<div class="tiny_add_button">
								<a href="#"><span class="button_text">Add</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
					</div>
				</li>
				<li class="last_li">
					<div class="thumb"><a href="#"><img src="images/cartech_img.png" alt="" /></a></div>
					<div class="info">
						<span class="title">Car Tech Video From</span>
							<div class="tiny_add_button">
								<a href="#"><span class="button_text">Add</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
					</div>
				</li>
			</ul>
		</div><!--page-->
	</div><!--channelRelated-->	

</body>
</html>