<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Untitled Document</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />
<link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
<!--[if lt IE 7]>
<link rel="stylesheet" href="ie_styles.css" type="text/css" media="screen" />
<script defer type="text/javascript" src="js/ie_png.js"></script>
<![endif]-->

</head>
<body>
	<div id="topBar">
		<div class="page">
			<ul id="mainMenu">
				<li id="logo"><a href="#"><img src="images/logo.png" alt="Miro" /></a></li>
				<li><a href="#">Video feeds</a></li>
				<li><a href="#">Streaming shows</a></li>
				<li><a href="#">Videos you'll love</a></li>
			</ul>
			<div id="searchBG"></div>
			<div id="searchSpot">
				<input type="text" class="headSearch" name="search[query]" id="search_query" value="Search" />
			</div><!--searchSpot-->
		</div><!--page-->
	</div><!--topBar-->
	<div id="topBarLower">
		<div class="page">
			<ul id="lowerMenu">
				<li><a href="#">Genres</a></li>
				<li><a href="#">HD Channels</a></li>
				<li><a href="#">Most Popular</a></li>
				<li><a href="#">New Shows</a></li>
				<li><a href="#">Video by Language</a></li>
				<li id="language"><a href="#">Language</a></li>
				<li id="account"><a href="#">Account</a></li>
			</ul>
		</div><!--page-->
	</div><!--topBarLower-->

	
	<div id="container">
		<h2 class="searchResults">
			<span class="main_results">"blogs" search results: 206 video feeds and 25 streaming shows found</span>
			<span class="comprehensive_results">Comprehensive results: <a href="#">574 Channels contain videos that match "blogs"</a></span>
		</h2>
		
		<div id="content">
			<h3 class="search_result"><span class="rss">First <strong>10</strong> of <strong>236</strong> video feeds</span></h3>
			<ul id="searchResults">
				<li>
					<h4>Mosaic: World News From The Middle East</h4>
					<div class="searchThumb">
						<a href="#">
							<img class="hd_tag_small search_hd" src="images/ico_hd_tag_small.png" alt="" />
							<img src="images/mosaic_thumb.png" alt="" />
						</a>
					</div>
					
					<div class="searchResultContent">
						<div class="search_meta_buttons">
							<div class="small_add_button">
								<a href="#"><span class="button_text">Add channel</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_rss.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
						</div><!--search_meta_buttons-->
						<p>Ancient Places TV brings you short films showcasing some of the most intriguing and enigmatic of the world's ancient places. Published every Thursday in 720p HD video, each episode explores a single site or theme, looking at archaeology, history and mythology. El Djem is a town lying in the Tunisian</p>
					</div>
					<br clear="all" />
					<div class="searchResultsMeta">
						<ul class="rating">
							<li><a href="#"><img src="images/ico_no_rate.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li class="score">Avg. of 16 ratings: <strong>4.3</strong></li>
							<li class="subscribers">Subscribers: 240</li>
							<li class="available">Videos Available: 15</li>
						</ul>
					</div>
				</li>
				
				<li>
					<h4>Mosaic: World News From The Middle East</h4>
					<div class="searchThumb">
						<a href="#">
							<img class="hd_tag_small search_hd" src="images/ico_hd_tag_small.png" alt="" />
							<img src="images/mosaic_thumb.png" alt="" />
						</a>
					</div>
					
					<div class="searchResultContent">
						<div class="search_meta_buttons">
							<div class="small_add_button">
								<a href="#"><span class="button_text">Add channel</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_rss.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
						</div><!--search_meta_buttons-->
						<p>Ancient Places TV brings you short films showcasing some of the most intriguing and enigmatic of the world's ancient places. Published every Thursday in 720p HD video, each episode explores a single site or theme, looking at archaeology, history and mythology. El Djem is a town lying in the Tunisian</p>
					</div>
					<br clear="all" />
					<div class="searchResultsMeta">
						<ul class="rating">
							<li><a href="#"><img src="images/ico_no_rate.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li class="score">Avg. of 16 ratings: <strong>4.3</strong></li>
							<li class="subscribers">Subscribers: 240</li>
							<li class="available">Videos Available: 15</li>
						</ul>
					</div>
				</li>
				
				<li>
					<h4>Mosaic: World News From The Middle East</h4>
					<div class="searchThumb">
						<a href="#">
							<img class="hd_tag_small search_hd" src="images/ico_hd_tag_small.png" alt="" />
							<img src="images/mosaic_thumb.png" alt="" />
						</a>
					</div>
					
					<div class="searchResultContent">
						<div class="search_meta_buttons">
							<div class="small_add_button">
								<a href="#"><span class="button_text">Add channel</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_rss.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
						</div><!--search_meta_buttons-->
						<p>Ancient Places TV brings you short films showcasing some of the most intriguing and enigmatic of the world's ancient places. Published every Thursday in 720p HD video, each episode explores a single site or theme, looking at archaeology, history and mythology. El Djem is a town lying in the Tunisian</p>
					</div>
					<br clear="all" />
					<div class="searchResultsMeta">
						<ul class="rating">
							<li><a href="#"><img src="images/ico_no_rate.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li class="score">Avg. of 16 ratings: <strong>4.3</strong></li>
							<li class="subscribers">Subscribers: 240</li>
							<li class="available">Videos Available: 15</li>
						</ul>
					</div>
				</li>
				
				<li>
					<h4>Mosaic: World News From The Middle East</h4>
					<div class="searchThumb">
						<a href="#">
							<img class="hd_tag_small search_hd" src="images/ico_hd_tag_small.png" alt="" />
							<img src="images/mosaic_thumb.png" alt="" />
						</a>
					</div>
					
					<div class="searchResultContent">
						<div class="search_meta_buttons">
							<div class="small_add_button">
								<a href="#"><span class="button_text">Add channel</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_small_rss.png" alt="" /></a>
							</div>
							<div class="details_button">
								<a href="#"><span class="button_text">Details</span></a>
								<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
							</div>
						</div><!--search_meta_buttons-->
						<p>Ancient Places TV brings you short films showcasing some of the most intriguing and enigmatic of the world's ancient places. Published every Thursday in 720p HD video, each episode explores a single site or theme, looking at archaeology, history and mythology. El Djem is a town lying in the Tunisian</p>
					</div>
					<br clear="all" />
					<div class="searchResultsMeta">
						<ul class="rating">
							<li><a href="#"><img src="images/ico_no_rate.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li><a href="#"><img src="images/ico_rating_star.png" alt="" /></a></li>
							<li class="score">Avg. of 16 ratings: <strong>4.3</strong></li>
							<li class="subscribers">Subscribers: 240</li>
							<li class="available">Videos Available: 15</li>
						</ul>
					</div>
				</li>
			</ul>
			
		</div><!--content-->
		
		<div id="sideBar">
			<h3 class="widget_title_bar"><span class="streaming">First <strong>4</strong> of <strong>25</strong> streaming shows</span></h3>
			<div class="widget">
				<ul class="recommended">
					<li>
						<div class="thumb"><a href="#"><img src="images/widget_img.png" alt="" /></a></div>
						<div class="meta">
							<span class="title">Movies in the public domain</span>
							<del><div class="button_block">
								<div class="tiny_add_button">
									<a href="#"><span class="button_text">Add</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
								</div>
								<div class="details_button">
									<a href="#"><span class="button_text">Details</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
								</div>
							</div></del><!--button_block-->
						</div><!--meta-->
					</li>
					<li>
						<div class="thumb">
							<a href="#">
								<img class="hd_tag_small" src="images/ico_hd_tag_small.png" alt="" />
								<img src="images/widget_img.png" alt="" />
							</a>
						</div>
						<div class="meta">
							<span class="title">Movies in the public domain</span>
							<del><div class="button_block">
								<div class="tiny_add_button">
									<a href="#"><span class="button_text">Add</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
								</div>
								<div class="details_button">
									<a href="#"><span class="button_text">Details</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
								</div>
							</div></del><!--button_block-->
						</div><!--meta-->
					</li>
					<li>
						<div class="thumb"><a href="#"><img src="images/widget_img.png" alt="" /></a></div>
						<div class="meta">
							<span class="title">Movies in the public domain</span>
							<del><div class="button_block">
								<div class="tiny_add_button">
									<a href="#"><span class="button_text">Add</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
								</div>
								<div class="details_button">
									<a href="#"><span class="button_text">Details</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
								</div>
							</div></del><!--button_block-->
						</div><!--meta-->
					</li>
					<li class="last_li">
						<div class="thumb"><a href="#"><img src="images/widget_img.png" alt="" /></a></div>
						<div class="meta">
							<span class="title">Movies in the public domain</span>
							<del><div class="button_block">
								<div class="tiny_add_button">
									<a href="#"><span class="button_text">Add</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_small_plus.png" alt="" /></a>
								</div>
								<div class="details_button">
									<a href="#"><span class="button_text">Details</span></a>
									<a href="#"><img class="button_icon" src="images/buttons/button_details_right.png" alt="" /></a>
								</div>
							</div></del><!--button_block-->
						</div><!--meta-->
					</li>
				</ul>
			</div><!--widget-->
			<div class="widget_close"><a href="#"><span>View All 25 Streaming Show Matches</span></a></div>
		</div>
	</div><!--container-->
	
	
</body>
</html>