{% extends "base.html" %}
{% block head-extra %}
  <script type="text/javascript" src="{{ STATIC_BASE_URL }}js/playback.js"></script>
{% endblock %}
{% block content %}
  {% if share_links %}
    {% include "guide/share-links.html" %}
  {% endif %}

  <div id="videoArea">
    <div class="page">
      <div id="videoBoxTop">
        <h1>{{ item.name }}</h1>
        {% if channel and not channel.fake %}
          <span class="returnLink">
            Back to
            <a href="{{ channel.get_absolute_url }}{% ifequal page.number 1 %}{% else %}?page={{ page.number }}{% endifequal %}">
              {{ channel.name }}...
            </a>
          </span>
        {% endif %}
      </div><!--videoBoxTop-->
      <div id="videoBox">
        <div id="video">
          {{ embed }}
        </div><!--video-->
        
        <div id="videoDetails">
          <div class="meta">
            <p class="synopsis_tag">
              <strong>Synopsis</strong>
            </p>
            <p class="synopsis">
              {{ item.description }}
            </p>
            
            <br clear="all" />
            <div class="video_buttons_align">
              <a href="{{ item.url }}"
                 class="large_button download_button">
                <span>
                  <img src="{{ STATIC_BASE_URL }}images/buttons/download_arrow.png"
                       alt="Download" />
                  DOWNLOAD
                </span>
              </a>                              
              <a href="#" class="rollover_button2">
                <span>SHARE</span>
                <span class="img">
                  <img src="{{ STATIC_BASE_URL }}images/buttons/grey_stream.png"
                       alt="" />
                </span>
              </a>
            </div>
            
            <p class="more">
              <strong class="tag">Date Posted</strong>
              <span class="detail">{{ item.date|date:"j.m.Y" }}</span>
            </p>
            <p class="more">
              <strong class="tag">Publisher</strong>
              <span class="detail">{{ channel.publisher }}</span>
            </p>
            <p class="more">
              <strong class="tag">License</strong>
              <span class="detail">XXX how to do this</span>
            </p>
            <p class="more">
              <strong class="tag">Video Format</strong>
              <span class="flv_file detail">TODO (.TODO)</span>
            </p>
          </div>
                                        
          <div class="buttons">
            <div class="previous_button">
              <a href="{{ previous.get_url }}">Previous</a>
            </div>
            <div class="next_button">
              <a href="{{ next.get_url }}">Next</a>
            </div>
          </div>
        </div><!--videoDetails-->
      </div><!--videoBox-->
    </div><!--page-->
  </div><!--videoArea-->
        
  <br />
        
  <div id="channelEpisodes">
    <div class="page">
      <div class="detailsHeadLarge">
        <h3 class="resultsCount">
          <span class="heading">Recently Aired</span>
          <span class="button">
            <a href="#">
              <img src="images/ico_refresh.png" alt="" />
            </a>
          </span>
        </h3>
        <div class="sortType">
          <a href="#">All</a>
        </div>
      </div><!--detailsHead-->
                        
      <ul class="paginator">
        {% for number, link in page_links %}
          {% ifequal number "tag" %}
            <li class="tag">...</li>
          {% else %}
            <li {% ifequal number page.number %}class="selected"{% endifequal %}>
              <span><a href="{{ link }}">{{ number }}</a></span>
            </li>
          {% endifequal %}
        {% endfor %}
      </ul>
      
      <br clear="all" />
      
      {% for item in page.object_list %}
        <div class="detailsTopLarge"></div>
        {% include "guide/item.html" %}
      {% endfor %}

      <script type="text/javascript">
        $("#channelEpisodes div.details").each(setUpItem);
      </script>

    </div><!--page-->
  </div><!--channelEpisodes-->
{% endblock %}
