{% extends "base.html" %}

{% load i18n cg_helpers %}

{% block head-extra %}
  <script type="text/javascript" src="{{ STATIC_BASE_URL }}js/playback.js"></script>
  <script type="text/javascript" src="{{ STATIC_BASE_URL }}js/share.js"></script>
  <script type="text/javascript" src="{{ STATIC_BASE_URL }}js/infinitescroll.js"></script>
{% endblock %}

{% block onload-extra %}add_share_callbacks();{% endblock %}

{% block content %}

  {% if channel.hi_def %}
    <!-- warning to old miro users users -->
    <div class="page">
      <div class="welcomeMessage">
        <p>
          <strong>
            {% trans "This is HD!" %}
          </strong>
          {% blocktrans with item.url as download_url and channel.subscription_link as subscription_link %}
            High-definition videos are often slow to preview. You may
            want to use Miro to <a href="{{ download_url }}">download</a>
            the video or <a {{ subscription_link }}>subscribe</a>
            to the feed. It's free and easy!
          {% endblocktrans %}
        </p>
      </div>
    </div>
  {% endif %}

  {% if share_links %}
    {% include "guide/share-links.html" %}
  {% endif %}

  <div id="videoArea">
    <div class="page">
      <div id="videoBoxTop">
        <h1><b>{% trans "Video Title:" %}</b> {{ item.name }}</h1>
        {% if channel and not channel.fake %}
          <span class="returnLink">
            <a href="{{ channel.get_absolute_url }}{% if page.number %}{% ifequal page.number 1 %}{% else %}?page={{ page.number }}{% endifequal %}{% endif %}">
              <b>{% trans "Back to Feed:" %}</b> {{ channel.name }}
            </a>
          </span>
        {% endif %}
      </div><!--videoBoxTop-->
      <div id="videoBox">
        <div id="video">
          {{ embed }}
        </div><!--video-->

        <div id="videoDetails">
          <div class="meta">
            {% if item.description %}
              <p class="synopsis_tag">
                <strong>{% trans "Synopsis" %}</strong>
              </p>
              <p class="synopsis">
                {{ item.description|striptags }}
              </p>
            {% endif %}

            <br clear="all" />
            <div class="video_buttons_align">
              <a href="{{ item.url }}"
                 class="rollover_button download">
                <span>
                  <img src="{{ STATIC_BASE_URL }}images/buttons/download_arrow.png"
                       alt="Download" />
                  {% trans "DOWNLOAD" %}
                </span>
              </a>
              {% if not share_links %}
                <a {% if share_button_url %}
                     href="{{ share_button_url }}"
                   {% else %}
                     href="/items/{{ item.id }}?share=true"
                   {% endif %}
                   class="rollover_button share">
                  <span>
                    {% trans "SHARE" %}
                    <img src="{{ STATIC_BASE_URL }}images/buttons/grey_stream.png"
                         alt="" />
                  </span>
                </a>
              {% endif %}
            </div>

            <p class="more">
              {% if item.date %}
                <strong class="tag">{% trans "Date Posted" %}</strong>
                <span class="detail">{{ item.date|date:"j.m.Y" }}</span>
              {% endif %}
            </p>
          </div>

          <br>

          <p class="center">
            Additional Videos from this Feed
          </p>

          <div class="buttons">
            {% if previous %}
              <div class="previous_button">
                <a href="{{ previous.get_url }}">
                  {% trans "Previous" %}
                </a>
              </div>
            {% endif %}
            {% if next %}
              <div class="next_button">
                <a href="{{ next.get_url }}">
                  {% trans "Next" %}
                </a>
              </div>
            {% endif %}
          </div>
        </div><!--videoDetails-->
      </div><!--videoBox-->
    </div><!--page-->
  </div><!--videoArea-->

  <br />

  {% if page %}
    <div id="channelEpisodes">
      <div class="page">
        <div class="detailsHeadLarge">
          <h3 class="resultsCount">
            <span class="heading">{% trans "Recently Aired" %}</span>
            <span class="button">
              <a href="#">
                <img src="{{ STATIC_BASE_URL }}images/ico_refresh.png" alt="" />
              </a>
            </span>
          </h3>
          <div class="sortType">
            <a href="#">{% trans "All" %}</a>
          </div>
        </div><!--detailsHead-->

        <ul class="paginator">
          {% for number, link in page_links %}
            {% ifequal number "tag" %}
              <li class="tag">...</li>
            {% else %}
              <li {% ifequal number page.number %}class="selected"{% endifequal %}>
                <span><a href="{{ link }}">{{ number }}</a></span>
              </li>
            {% endifequal %}
          {% endfor %}
        </ul>

        <br clear="all" />
        <ul class="scrolling">
          <a href="{{ page.number }}"></a>
          {% for item in page.object_list %}
          <li>
            <div class="detailsTopLarge"></div>
            {% include "guide/item.html" %}
          </li>
        {% endfor %}
        </ul>
        <script type="text/javascript">
          $("#channelEpisodes div.details").each(setUpItem);
        </script>

      </div><!--page-->
    </div><!--channelEpisodes-->
  {% endif %}
{% endblock %}
