{% extends "base.html" %}

{% load i18n cg_helpers %}

{% block head-extra %}
  <script type="text/javascript" src="{{ STATIC_BASE_URL }}js/playback.js"></script>
  <script type="text/javascript" src="{{ STATIC_BASE_URL }}js/share.js"></script>
{% endblock %}

{% block onload-extra %}add_share_callback();{% endblock %}


{% block content %}
  {% if share_links %}
    {% include "guide/share-links.html" %}
  {% endif %}

  <div id="videoArea">
    <div class="page">
      <div id="videoBoxTop">
        <h1>{{ item.name }}</h1>
        {% if channel and not channel.fake %}
          <span class="returnLink">
            Back to
            <a href="{{ channel.get_absolute_url }}{% ifequal page.number 1 %}{% else %}?page={{ page.number }}{% endifequal %}">
              {{ channel.name }}...
            </a>
          </span>
        {% endif %}
      </div><!--videoBoxTop-->
      <div id="videoBox">
        <div id="video">
          {{ embed }}
        </div><!--video-->
        
        <div id="videoDetails">
          <div class="meta">
            <p class="synopsis_tag">
              <strong>{% trans "Synopsis" %}</strong>
            </p>
            <p class="synopsis">
              {{ item.description|striptags }}
            </p>
            
            <br clear="all" />
            <div class="video_buttons_align">
              <a href="{{ item.url }}"
                 class="large_button download_button">
                <span>
                  <img src="{{ STATIC_BASE_URL }}images/buttons/download_arrow.png"
                       alt="Download" />
                  {% trans "DOWNLOAD" %}
                </span>
              </a>                              
              <a href="#" class="rollover_button2">
                <span>{% trans "SHARE" %}</span>
                <span class="img">
                  <img src="{{ STATIC_BASE_URL }}images/buttons/grey_stream.png"
                       alt="" />
                </span>
              </a>
            </div>
            
            <p class="more">
              <strong class="tag">{% trans "Date Posted" %}</strong>
              <span class="detail">{{ item.date|date:"j.m.Y" }}</span>
            </p>
          </div>
                                        
          <div class="buttons">
            {% if previous %}
              <div class="previous_button">
                <a href="{{ previous.get_url }}">
                  {% trans "Previous" %}
                </a>
              </div>
            {% endif %}
            {% if next %}
              <div class="next_button">
                <a href="{{ next.get_url }}">
                  {% trans "Next" %}
                </a>
              </div>
            {% endif %}
          </div>
        </div><!--videoDetails-->
      </div><!--videoBox-->
    </div><!--page-->
  </div><!--videoArea-->
        
  <br />
        
  <div id="channelEpisodes">
    <div class="page">
      <div class="detailsHeadLarge">
        <h3 class="resultsCount">
          <span class="heading">{% trans "Recently Aired" %}</span>
          <span class="button">
            <a href="#">
              <img src="{{ STATIC_BASE_URL }}images/ico_refresh.png" alt="" />
            </a>
          </span>
        </h3>
        <div class="sortType">
          <a href="#">{% trans "All" %}</a>
        </div>
      </div><!--detailsHead-->
                        
      <ul class="paginator">
        {% for number, link in page_links %}
          {% ifequal number "tag" %}
            <li class="tag">...</li>
          {% else %}
            <li {% ifequal number page.number %}class="selected"{% endifequal %}>
              <span><a href="{{ link }}">{{ number }}</a></span>
            </li>
          {% endifequal %}
        {% endfor %}
      </ul>
      
      <br clear="all" />
      
      {% for item in page.object_list %}
        <div class="detailsTopLarge"></div>
        {% include "guide/item.html" %}
      {% endfor %}

      <script type="text/javascript">
        $("#channelEpisodes div.details").each(setUpItem);
      </script>

    </div><!--page-->
  </div><!--channelEpisodes-->
{% endblock %}
