<ul class="rating" average="{{ channel.rating.average}}" user="{{ rating.rating }}">
  <li class="cancel" ><a href="">Not Interested</a></li>
  <li class="star {{ class }}"><a href="#">I hate this channel</a></li>
  <li class="star {{ class }}"><a href="#">I dislike this channel</a></li>
  <li class="star {{ class }}"><a href="#">I like this channel</a></li>
  <li class="star {{ class }}"><a href="#">I really like this channel</a></li>
  <li class="star {{ class }}"><a href="#">I love this channel!</a></li>
</ul>
