<ul class="rating">
  <li class="cancel"><a href="">Not Interested</a></li>
  <li class="star {{ class }} on"><a href="#">I hate this channel</a></li>
  <li class="star {{ class }} on"><a href="#">I dislike this channel</a></li>
  <li class="star {{ class }}"><a href="#">I like this channel</a></li>
  <li class="star {{ class }}"><a href="#">I really like this channel</a></li>
  <li class="star {{ class }}"><a href="#">I love this channel!</a></li>
  <li class="score">Avg. of {{ channel.rating.count }} rating{{ channel.rating.count|pluralize }}: <strong>{{ channel.rating.average|floatformat }}</strong></li>
</ul>
