{% if inline %}
{% else %}
<!-- XHTML and CSS courtesy of Komodo Media -->
<style type="text/css">
<!--
@import url(/css/rating.css);
-->
</style>
<script type="text/javascript" src="/js/rating.js"></script>
<script type="text/javascript">
$("document").ready(function(){
    jQuery('form.rating').rating('',
        {maxvalue:5});
});
</script>
{% endif %}
<form class="rating"
    {% if is_average %}
    title="Average Rating: {{ rating.rating }}"
    {% else %}
    title="User Rating: {{ rating.rating }}"
    {% endif %}
    action="/channels/rate/{{ rating.channel_id }}">
    <label for="r1" class="avg">Rate Me!</label>
    <select id="r1">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>

        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="button" value="Submit Rating">
</form>
