{% load i18n channels  cg_helpers %}
{% extends 'base.html' %}
{% block content %}
<div class="search-page">

{% if channels %}
<h1>{% trans "Channels" %}</h1>
{% twocolumnloop with channel in channels %}
{% show_channel_in_list channel %}
{% endtwocolumnloop %}
{% endif %}

{% if channels_with_items %}
<h1>{% blocktrans with search_query as search %}Channel With Videos Matching {{ search }}{% endblocktrans %}</h1>
{% twocolumnloop with channel in channels_with_items %}
{% show_channel_in_list channel %}
{% endtwocolumnloop %}
{% endif %}

</div>
{% endblock %}
