{% load i18n %}

<div id="share_box" class="alert">
  <div class="page">
    <div class="alertBox sharebox">
      <h2>
        {% blocktrans %}
          Share with your buddies, as well as the world. We all love gifts.
        {% endblocktrans %}
      </h2>

      <p>
        <label>{% trans "Direct Link" %}</label>
        <div class="direct">
          <a style="text-decoration: underline;" href="{{ share_links.url }}">
            {% trans "Right click and copy link location" %}
          </a>
        </div>
      </p>

      <hr />

      <div id="share_div">
        {% include "guide/share-form.html" %}
      </div>

      <hr />

      <div class="socials">
        <div>Also Share to</div> 
        <a class="facebook" href="{{ share_links.facebook }}">
          {% trans "Facebook" %}
        </a> 
        <a class="stumble" href="{{ share_links.stumbleupon }}">
          {% trans "StumbleUpon" %}
        </a> 
        <a class="delicious" href="{{ share_links.delicious }}">
          {% trans "Del.icio.us" %}
        </a> 
        <a class="digg" href="{{ share_links.digg }}">
          {% trans "Digg" %}
        </a>
        <a class="twitter" href="{{ share_links.twitter }}">
          {% trans "Twitter" %}
        </a>
        <br class="cleared" /> 
      </div>                

      <br />

    </div>
    <a href="#" id="share_close" class="closeAlert">{% trans "Close" %}</a>
  </div>
</div>
