{% load i18n %}

<div id="alert">
  <div class="page">
    <div class="alertBox sharebox">
      <h2>
        {% blocktrans %}
          Share with your buddies, as well as the world. We all love gifts.
        {% endblocktrans %}
      </h2>

      <p>
        <label>{% trans "Direct Link" %}</label>
        <div class="direct">
          <a style="text-decoration: underline;" href="#">
            https://www.miroguide.com/channels/8316
          </a>
        </div>
        <a href="#" class="rollover_button">{% trans "Copy it" %}</a>
      </p>

      <div id="share_div">
        {% include "guide/share-form.html" %}
      </div>

      <div class="socials">
        <div>Also Share to</div> 
        <a class="facebook" href="{{ share_links.facebook }}">
          {% trans "Facebook" %}
        </a> 
        <a class="stumble" href="{{ share_links.stumbleupon }}">
          {% trans "StumbleUpon" %}
        </a> 
        <a class="delicious" href="{{ share_links.delicious }}">
          {% trans "Del.icio.us" %}
        </a> 
        <a class="digg" href="{{ share_links.digg }}">
          {% trans "Digg" %}
        </a> 
        <a class="myspace" href="#">
          {% trans "MySpace" %}
        </a>
        <br class="cleared" /> 
      </div>                

      <br />

    </div>
    <a href="#" class="closeAlert">{% trans "Close" %}</a>
  </div>
</div>
