{% load i18n cg_helpers %}

<div id="hover_align">
  {% if user.is_authenticated %}
  <div id="hoverMenuLogin" class="loggedin"
       onmouseover="return showMenu('hoverMenuLogin', 'account', event)"
       onmouseout="return hideMenu('hoverMenuLogin', 'account', event)">
    <ul>
      {% if user.is_moderator %}
        <li>
          <a href="{{ BASE_URL }}moderate/">{% trans "Moderator's Area" %}</a>
        </li>
      {% endif %}
      <li>
        <a href="{{ user.get_url }}">{% trans "View/Edit Profile" %}</a>
      </li>
      {% if user.channels %}
        <li>
          <a href="{{ BASE_URL }}user/{{ user.username }}">
            {% trans "Shows I Manage" %}
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{{ BASE_URL }}submit/"
           onclick="submitAChannel($(this)); return false;">
          {% trans "Submit a Show" %}
        </a>
      </li>
    </ul>
    <div id="register">
      <p>
        <a href="{{ BASE_URL }}accounts/logout">
          <span class="always_free">{% trans "Log Out" %}</span>
        </a>
      </p>
    </div>
  </div>
  {% else %}
    <div id="hoverMenuLogin"
         onmouseover="return showMenu('hoverMenuLogin', 'account', event)"
         onmouseout="return hideMenu('hoverMenuLogin', 'account', event)">
      <ul>
        <li class="form-errors"></li>
        <li id="login">
          <form method="post" action="{{ BASE_URL }}accounts/login">
            <div>
              <input type="hidden" name="which-form" value="login">
            </div>
            <div class="form_row">
              <label for="id_username">{% trans "Username" %}</label>
              <input id="id_username" name="username" maxlength="20" type="text">
            </div>
            <div class="form_row">
              <label for="id_password">{% trans "Password" %}</label>
              <input id="id_password" name="password" maxlength="20" type="password">
            </div>
            <div class="form_row accountsubmit">
              <a class="forgot_password"
                 href="{{ BASE_URL }}accounts/forgot-password">
                {% trans "Forgot password" %}
              </a>
              <button id="login_button" class="fr" type="submit">
                <span>{% trans "Login" %}</span>
              </button>
            </div>
          </form>
        </li>
        <li id="registerHidden">
          <form method="post" action="{{ BASE_URL }}accounts/login">
            <div>
              <input type="hidden" name="which-form" value="register">
            </div>
            <div class="form_row">
              <label for="id_newusername">
                {% trans "Username" %} *
              </label>
              <input id="id_newusername" name="newusername" maxlength="20" type="text">
            </div>
            <div class="form_row">
              <label for="id_email">
                {% trans "Email Address" %} *
              </label>
              <input id="id_email" name="email" maxlength="50" type="text">
            </div>
            <div class="form_row">
              <label for="id_newpassword">
                {% trans "Pick a Password" %} *
              </label>
              <input id="id_newpassword" name="newpassword" maxlength="20" type="password">
            </div>
            <div class="form_row">
              <label for="id_newpassword2">
                {% trans "Confirm Password" %} *
              </label>
              <input id="id_newpassword2" name="newpassword2" maxlength="20" type="password">
            </div>
            <div class="form_row accountsubmit">
              <button class="fr gray-button" type="submit">
                <span>{% trans "Register!" %}</span>
              </button>
            </div>
          </form>
        </li>
      </ul>
      <div id="register">
        <p>
          <a href="{{ BASE_URL }}accounts/login">
            <span class="register_tag">{% trans "Register Now!" %}</span>
            <span class="always_free">{% trans "Always Free" %}</span>
          </a>
        </p>
      </div>
    </div>
  {% endif %}
  <div id="hoverMenuLanguage"
       onmouseover="return showMenu('hoverMenuLanguage', 'language', event)"
       onmouseout="return hideMenu('hoverMenuLanguage', 'language', event)">
    {% if language_options %}
    <h3><span>{% trans "Display Shows:" %}</span></h3>
    <form action="{{ BASE_URL }}accounts/set_language_view" method="GET">
      <ul class="default">
        <li{% if not user.filter_languages %} class="current"{% endif %}>
          <button type="submit" name="filter" value="0">
            <span>{% trans "In all languages" %}</span>
          </button>
        </li>
        <li{% if user.filter_languages %} class="current"{% endif %}>
          <button type="submit" name="filter" value="1">
            <span>{% trans "In my language" %}</span>
          </button>
        </li>
      </ul>
    </form>
    {% endif %}
    <div id="upButton"></div>
    {% if language_options %}<h3><span>{% trans "My Language:" %}</span></h3>{% endif %}
    <form action="{{ BASE_URL }}i18n/setlang/" method="POST">
      <ul>
        {% get_current_language as LANGUAGE_CODE %}
        {% for language in LANGUAGES %}
          <li{% ifequal language.0 LANGUAGE_CODE %} class="current"{% endifequal %}>
            <button type="submit" name="language" value="{{ language.0 }}">
              <span class="code">{{ language.0 }}</span>
              <span>{{ language.1 }}</span>
            </button>
          </li>
        {% endfor %}
      </ul>
    </form>
    <div id="downButton"></div>
    <script type="text/javascript">
      //<!CDATA[[
           $("#upButton").hover(languageUp, languageStop);
           $("#downButton").hover(languageDown, languageStop);
           //]]>
    </script>
  </div><!--hoverMenu-->
</div><!--hover_align-->
